<h4>Loreto</h4>
				<section class="pueblosGen">
					<!-- Se hace la llamada y busca los demás pueblos -->
					<section class="tabs">
						<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
						<label for="tab-1" class="tab-label-1">Historia</label>
		   				<input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
						<label for="tab-2" class="tab-label-2">Cultura</label>
			    		<input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
						<label for="tab-3" class="tab-label-3">Comida</label>
	    				<input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
						<label for="tab-4" class="tab-label-4">Datos</label>
            
						<div class="clear-shadow"></div>

						<div class="content">
							<div class="content-1">
								<h4>Misión de Nuestra Señora de Loreto</h4>
                        		<p>
                        			Considerada la “Cabeza” y “Madre” de todas las misiones de Baja California, la Misión de Nuestra Señora de Loreto fue el punto de partida desde donde los frailes jesuitas salían para evangelizar el nuevo territorio de América.
                        		</p>
									<h4>Fundación</h4>
									
								<p>
									La misión de Nuestra Señora de Loerto se fundó el 25 de octubre de 1697.

									Ese día se tomó posesión en la Península en nombre de su majestad y se celebró la primera misa por el venerable padre Juan María de Salvatierra, de la Compañía de Jesús. Está fundada a la orilla de la playa de la bahía llamada de San Dionisio, en la altura de 25º grados
								</p>
							</div>
							 <div class="content-2">
								<h4>Cultura</h4>
                        		<p>
                        			Loreto conserva la tradición de un poblado pesquero. En sus mercados podrás encontrar simpáticas figurillas elaboradas a base de conchas de mar y prendas tejidas a mano, así como una gran variedad de pescado y mariscos, como el dorado, pez vela, marlín azul, mojarra, huachinango, calamar y la almeja chocolata, un producto muy representativo del lugar.
                        		</p>
									<h4>Atractivos</h4>
								<p>
									En el centro histórico de Loreto se ubica esta simpática plaza dedicada al jesuita que levantó la misión: Juan María de Salvatierra. En ella y en sus alrededores podrás observar las calles empedradas y la arquitectura colonial de la ciudad de donde destacan antiguos edificios convertidos en hoteles, casas habitación y tiendas, así como la Casa de Gobierno -conocida como la “Casa de Piedra”-.
								</p>
				    		</div>
				    		<div class="content-3">
								<h4>Gastronomía</h4>
                        		<p>
                        			Loreto es uno de los principales centros para degustar la exquisita cocina de Baja California Sur, con marcada influencia de los estados cercanos. En este destino es posible saborear desde los platillos populares de la cocina norteña como la machaca y las fajitas, hasta las especialidades del mar como el ceviche, los tacos de pescado, el callo y la langosta, así como la almeja chocolata gratinada o en escabeche. Acompaña estas delicias con un clamato (coctel a base de tomate y almeja) o con un vino tinto o blanco.
                        		</p>
				    		</div>
				    		<div class="content-4">
								<h4>Regiones</h4>
    	    	                <p>
    	    	                	Las playas de Loreto destacan por el contrastante paisaje que forma la sierra, el semi desierto y el Mar de Cortés, así como por los magníficos atardeceres.
									Visita Nopoló, uno de los desarrollos turísticos más importantes del estado, rodeado de bellas playas y cómodos hoteles con campo de golf; Playa Norte, donde es posible acampar y realizar deportes acuáticos; Puerto Escondido, un ambicioso proyecto turístico con club náutico, muelles  y marinas desde los que es posible velear; y, un poco más lejos, Puerto Agua Verde, donde se admiran los más bellos paisajes que forman el Mar de Cortés y la Sierra de La Giganta.  
 
									También conoce el Parque Nacional Bahía de Loreto, un área protegida que es el hogar de numerosas especies de flora y fauna y que agrupa playas de gran atractivo y belleza, ¡te sorprenderá!
    	    	                </p>
				    		</div>
				    	</div>
				    </section>
				</section>