<h4>La Purísima</h4>
				<section class="pueblosGen">
					<!-- Se hace la llamada y busca los demás pueblos -->
					<section class="tabs">
						<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
						<label for="tab-1" class="tab-label-1">Historia</label>
		   				<input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
						<label for="tab-2" class="tab-label-2">Cultura</label>
			    		<input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
						<label for="tab-3" class="tab-label-3">Comida</label>
	    				<input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
						<label for="tab-4" class="tab-label-4">Datos</label>
            
						<div class="clear-shadow"></div>

						<div class="content">
							<div class="content-1">
								<h4>Misión de La Purísima</h4>
                        		<p>Primera entrada al interior de California.
									Expedición del Almirante Don Isidro de Atondo y Antillón.

									La expedición partió de San Bruno el 14 de Diciembre de 1684. Se incursionó nuevamente en la Sierra de la Giganta la que se logró atravesar de este a oeste. Se alcanzó el paraje de Comondú y a partir de ahí fue explorado el arroyo de La Purísima que bautizaron Como de Santo Tomás. También descubrieron numerosos parajes, entre estos el sitio donde posteriormente se establecería la misión de La Purísima.

									El 30 de Diciembre llegaron al Océano Pacífico, así completaron la segunda travesía de la península de costa a costa…</p>
									<h4>Fundación</h4>
									<p>La Purísima Concepción de Cadegomó fundada el 1º de enero de 1720, la misión fue fundada por Nicolás Tamaral, nacido en 1686 en Sevilla; entró a la Compañía en 1704 y salió para México donde terminó sus estudios en el colegio máximo de San Pedro y San Pablo, en 1716 estudió en el Colegio del Espíritu Santo de Puebla; salió para California en 1717, sirvió en Comondú; en La Purísima; fue transladado a San José del Cabo donde fue martirizado en la sublevación de los pericúes en 1734.

									La Misión de La Purisima fue la segunda dotada por el Marqués de Villapuente. 
								</p>
							</div>
							 <div class="content-2">
								<h4>Cultura</h4>
                        			<p>Entre las actividades desarrolladas mediante la participación ciudadana en vinculación con diversas dependencias se pueden mencionar:
									La formación de un grupo de niños y jóvenes como guías para observadores de aves, con apoyo de SEDESOL.
									Rescate y capacitación de artesanías como: arreos para caballos, técnica de “patch-work”, con apoyo de SEMARNAT; tejido en palma, con apoyo de STYPS; bordados, tejidos y conservas con recursos propios de la organización. Se han impartido cursos para preparar a los habitantes en una cultura organizada, para la gestión de planeación comunitaria para el desarrollo sostenible, con apoyo de CONANP mediante gestión de Niparaja. 

                        			</p>
									<h4>Ecoturismo</h4>
									<p>El Oasis de La Purísima, reconocido sitio Ramsar (2 de Febrero 2008),  cuenta con opciones claramente definidas para tiempo de esparcimiento y la práctica de actividades de ecoturismo así como turismo de aventura como: caminatas, sitios favorecedores para acampada, observación de aves, safari fotográfico, observación sideral, práctica de rapel y kayak, canopy, ciclismo de montaña, paseos a caballo,  observación de fósiles, observación de flora y fauna, senderismo interpretativo, observación de ecosistemas. 
									</p>
				    		</div>
				    		<div class="content-3">
								<h4>Recetas</h4>
                        		<p>La Purísima cuenta con una rica tradición gastronómica, basada principalmente en la elaboración de quesos de cabra y vaca, dulces regionales, pan artesanal de dátil y de haba, birria de cabrito, así como elaboración de vino, herencia de la presencia jesuita, que junto a nuestras artesanías nos recuerdan nuestro origen de pueblo misionero.</p>
								<h4>Gastronomía</h4>
								<p>
								La Purísima con el correr del tiempo ha venido de más a menos en cuanto a la producción de insumos gastronómicos, a nuestros abuelos les tocó vivir una época de bonanza se podía decir que era una comunidad autosuficiente en cuanto a productos alimenticios se refiere, las huertas producían: leguminosas, hortalizas, caña para moler y abastecerse de piloncillo, frutas para  los tradicionales ates y  para la engorda de puercos y aves de corral.   
							</p>
				    		</div>
				    		<div class="content-4">
								<h4>Geografía</h4>
    	    	                <p>La Comunidad de La Purísima, situada al norte del Municipio de Comondú, entre los 26°39’00’’ y25°48’36’’ Latitud Norte y los 112°27’00’’111°35’00’’ Longitud Oeste. La temperatura media anual oscila entre los 18 a 24°C. Registra una precipitación total anual de 200 mm. Con una población al censo INEGI 2010, de 433 habitantes.
    	    	                <br> 
								En la cuenca del arroyo La Purísima se puede apreciar  paisajes majestuosos, propios de los oasis. Los cuerpos de agua que se encuentran a lo largo del arroyo, forman un ecosistema que propicia una gran riqueza biológica. Es una excelente zona de avistamiento de aves migratorias y locales. Además, existen diversas especies acuáticas motivo de múltiples investigaciones.     
								</p>
								<h4>Recomendaciones</h4>
								<p>Existe el problema, que los usuarios de agua y tierra, no cuentan con recursos económicos para financiar los costos de producción, por lo que se deberán generar proyectos productivos para apoyar a los productores. Una opción más de turismo sustentable es crear pequeñas granjas de ganado caprino donde se puede elaborar queso de cabra, dulce de cajeta y que también pudieran ser visitadas por turistas, que cansados de la vida citadina, quisieran participar de las labores de la granja, como ordeñar, hacer queso etc. </p>
				    		</div>
				    	</div>
				    </section>
				</section>