<h4>La Purísima</h4>
				<section class="pueblosGen">
					<!-- Se hace la llamada y busca los demás pueblos -->
					<section class="tabs">
						<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
						<label for="tab-1" class="tab-label-1">Historia</label>
		   				<input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
						<label for="tab-2" class="tab-label-2">Cultura</label>
			    		<input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
						<label for="tab-3" class="tab-label-3">Recetas</label>
	    				<input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
						<label for="tab-4" class="tab-label-4">Regiones</label>
            
						<div class="clear-shadow"></div>

						<div class="content">
							<div class="content-1">
								<h4>Misión de La Purísima</h4>
                        		<p>Primera entrada al interior de California.
									Expedición del Almirante Don Isidro de Atondo y Antillón.

									La expedición partió de San Bruno el 14 de Diciembre de 1684. Se incursionó nuevamente en la Sierra de la Giganta la que se logró atravesar de este a oeste. Se alcanzó el paraje de Comondú y a partir de ahí fue explorado el arroyo de La Purísima que bautizaron Como de Santo Tomás. También descubrieron numerosos parajes, entre estos el sitio donde posteriormente se establecería la misión de La Purísima.

									El 30 de Diciembre llegaron al Océano Pacífico, así completaron la segunda travesía de la península de costa a costa…</p>
									<h4>Fundación</h4>
									<p>La Purísima Concepción de Cadegomó fundada el 1º de enero de 1720, la misión fue fundada por Nicolás Tamaral, nacido en 1686 en Sevilla; entró a la Compañía en 1704 y salió para México donde terminó sus estudios en el colegio máximo de San Pedro y San Pablo, en 1716 estudió en el Colegio del Espíritu Santo de Puebla; salió para California en 1717, sirvió en Comondú; en La Purísima; fue transladado a San José del Cabo donde fue martirizado en la sublevación de los pericúes en 1734.

									La Misión de La Purisima fue la segunda dotada por el Marqués de Villapuente. 
								</p>
							</div>
							 <div class="content-2">
								<h4>Cultura</h4>
                        			<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
                        			</p>
									<h4>Excellence</h4>
									<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. 
									</p>
				    		</div>
				    		<div class="content-3">
								<h4>Recetas</h4>
                        		<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
								<h4>Examples</h4>
								<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>
				    		</div>
				    		<div class="content-4">
								<h4>Regiones</h4>
    	    	                <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic.</p>
								<h4>Get in touch</h4>
								<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
				    		</div>
				    	</div>
				    </section>
				</section>