{% extends "admin/index.html" %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/tinymce/js/tinymce/skins/lightgray/skin.min.css">
  <script src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">Inicio</a> <span class="divider">/</span></li>
<li>Acerca de</li>
</ul>
{% endblock %}


{% block content %}
<div class="row-fluid">
    <div id="content-main" class="span12">
      <div class="controls">
        <script type="text/javascript">
        tinymce.init({
                    selector: "textarea#algo",
                    theme: "modern",
                    width: 300,
                    height: 300,
                    plugins: [
                         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                         "save table contextmenu directionality emoticons template paste textcolor"
                   ],
                   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
                   style_formats: [
                        {title: 'Bold text', inline: 'b'},
                        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                        {title: 'Example 1', inline: 'span', classes: 'example1'},
                        {title: 'Example 2', inline: 'span', classes: 'example2'},
                        {title: 'Table styles'},
                        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                    ]
                    });
        </script>
        <textarea id='algo'></textarea>
      </div>
      </div>
</div>
{% endblock %}

