/* Mixins */
box-sizing()
	-ms-box-sizing border-box
	-moz-box-sizing border-box
	-o-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

bordes()
	-ms-border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

degradado()
	-moz-linear-gradient(top,  blanco 0%, negro 100%) 
	-webkit-gradient(linear, left top, left bottom, color-stop(0%,blanco), color-stop(100%,negro))
	-webkit-linear-gradient(top,  blanco 0%,negro 100%)
	-o-linear-gradient(top,  blanco 0%, negro 100%)
	-ms-linear-gradient(top,  blanco 0%, negro 100%)
	linear-gradient(top bottom,  blanco 0%,negro 100%)
font-size()
	font-size arguments
	font-weight bold 

sombras-caja()
	-ms-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

rotacion()
	-ms-transform rotate(360deg)
	-moz-transform rotate(360deg)
	-o-transform rotate(360deg)
	-webkit-transform rotate(360deg)
	transform rotate(360deg)

transformar()
	-ms-transform rotate(180deg)
	-moz-transform rotate(180deg)
	-o-transform rotate(180deg)
	-webkit-transform rotate(180deg)
	transform rotate(180deg)

transicion()
	-ms-transition all 1s ease-out
	-moz-transition all 1s ease-out
	-o-transition all 1s ease-out
	-webkit-transition all 1s ease-out
	transition all 1s ease-out
