@import "_var"
@import "_mixins"

#cosasqds, #expresiones, #frases, #proy_b
	border thin solid darken(blanco, 15%)
	display none
	height auto
	width 80%

#expresiones ul li, #frases ul li 
	color azul 
	font-weight normal
	list-style none 
	margin 2% 10%
	span 
		color amarillo
		font-weight bold 

#cosasqds p 
	margin 2% 10% 
	font-weight normal
	text-align justify

#proy_b 
	p 
		color amarillo 
		font-size 1.2em
		font-weight bold
		text-align center
		margin 2% 10%
		span 
			color cafe
			font-size .9em
	ul li 
		color rojizo
		font-weight normal
		list-style square
		margin 2% 10%
		a 
			color rojizo
			text-decoration none 


.basico, .menu_basico
	display inline-block  
	height auto
	margin 0 auto
	vertical-align top
	width 75%

.basico_bcs, .basico_desconocida, .basico_masvisto
	display inline-block  
	height auto
	margin 0 auto
	vertical-align top
	width 95%
	ul 
		list-style none
	li 
		border thin solid darken(blanco, 20%)
		bordes(.2em)
		color azul 
		height auto
		margin-left 5%
		margin-right 5%
		margin-bottom 2%
		padding .5em
		span 
			color amarillo
			

.basico 
	sombras-caja(.3em 0 .1em darken(blanco, 12%))
	h3
		width 30%

.contenido_basico_pueblos
	text-align center
	img 
		height 400px
		max-width 90%


.lista 
	margin-bottom 3%
	ul > li 
		list-style none 
		margin-left 4%
		a 
			color azul
			text-decoration none 
		ul > li.submenu > a 
			color rojizo

.menu_basico
	margin-left 1%
	width 12%

.submenu 
	margin-left 2%
	a 
		color rojizo