#cosasqds,#expresiones,#frases,#proy_b{border:thin solid #d9d9d9;display:none;height:auto;width:80%}
#expresiones ul li,#frases ul li{color:#1e6381;font-weight:normal;list-style:none;margin:2% 10%;}
#expresiones ul li span,#frases ul li span{color:#ce8610;font-weight:bold}
#cosasqds p{margin:2% 10%;font-weight:normal;text-align:justify}
#proy_b p{color:#ce8610;font-size:1.2em;font-weight:bold;font-weight:bold;text-align:center;margin:2% 10%;}
#proy_b p span{color:#4c2506;font-size:.9em;font-weight:bold}
#proy_b ul li{color:#a70325;font-weight:normal;list-style:square;margin:2% 10%;}
#proy_b ul li a{color:#a70325;text-decoration:none}
.basico,.menu_basico{display:inline-block;height:auto;margin:0 auto;vertical-align:top;width:75%}
.basico{-ms-box-shadow:.3em 0 .1em #e0e0e0;-moz-box-shadow:.3em 0 .1em #e0e0e0;-o-box-shadow:.3em 0 .1em #e0e0e0;-webkit-box-shadow:.3em 0 .1em #e0e0e0;box-shadow:.3em 0 .1em #e0e0e0;}
.basico h3{width:30%}
.contenido_basico_pueblos{text-align:center;}
.contenido_basico_pueblos img{height:400px;max-width:90%}
.lista{margin-bottom:3%;}
.lista ul > li{list-style:none;margin-left:4%;}
.lista ul > li a{color:#1e6381;text-decoration:none}
.lista ul > li ul > li.submenu > a{color:#a70325}
.menu_basico{margin-left:1%;width:12%}
.submenu{margin-left:2%;}
.submenu a{color:#a70325}
