@import "_var"
@import "_mixins"

.basico, .menu_basico
	display inline-block  
	height auto
	margin 0 auto
	vertical-align top
	width 75%

.basico 
	sombras-caja(.3em 0 .1em darken(blanco, 12%))
	h3
		width 30%

.contenido_basico_pueblos
	text-align center
	img 
		height 400px
		max-width 90%


.lista 
	margin-bottom 3%
	ul > li 
		list-style none 
		margin-left 4%
		a 
			color azul
			text-decoration none 
		ul > li.submenu > a 
			color rojizo

.menu_basico
	margin-left 1%
	width 12%

.submenu 
	margin-left 2%
	a 
		color rojizo