@import "_fonts"
@import "_var"
@import "_mixins"

* 	
	border 0
	margin 0
	padding 0
/*Elementos HTML */
body 
	background darken(gris2, 70%) url('../img/wallpaper-82838.jpg')
	background-repeat no-repeat
	font-family 'Open Sans', Arial, Verdana
	font-weight normal
	font-size 16px

footer 
	background gris3
	height auto
	margin-top .3em
	margin 0 auto
	width 100%

h2, h3, h4 
	background lighten(gris, 80%)
	bordes(.3em)
	color saturate(azul, 30%)
	margin 1em 1em
	text-align center
	text-shadow .2em .2em .2em lighten(azul, 60%)

h3 
	color rojizo
	text-shadow .2em .2em .2em lighten(rojizo, 60%)

h4 
	color amarillo
	text-decoration none
	text-shadow .2em .2em .2em lighten(amarillo, 60%)

header 
	height 40px * 10

header, nav, .contenedor
	margin 0 auto
	width 80%
nav
	background darken(gris, 20%)
	box-sizing()
	margin-top 3.1em
	ul
		text-align left
	li.menu
		background azul 
		cursor pointer 
		display inline-block
		font-size 1.1em
		font-weight bold
		margin 0 -.16em
		padding .8em
		vertical-align top
		width 15%
		&:first-child 
			margin-left 0px
		&:nth-child(1)
			background darken(azul, 30%)
		&:nth-child(1):hover 
			background darken(azul, 40%)
			font-size 1.2em
			transicion()
		&:nth-child(2)
			background rojizo 
		&:nth-child(2):hover 
			background darken(rojizo, 40%)
			font-size 1.2em
			transicion()
		&:nth-child(3)
			background amarillo
		&:nth-child(3):hover 
			background darken(amarillo, 40%)
			font-size 1.2em
			transicion()
		&:nth-child(4)
			background cafe 
		&:nth-child(4):hover 
			background darken(cafe, 40%)
			font-size 1.2em
			transicion()
		a 
			color darken(blanco, 10%) 
			text-decoration none
			text-shadow .1em .1em .2em negro
			&:hover 
				font-weight bold

/* Identificadores */
#weatherslider {
	width: 300px;
	height: 300px;
}
/*Clases */
.buscar, .titulo
	box-sizing()
	color blanco
	display inline-block
	margin 1em 1em
	vertical-align middle
	width 50%

.buscar 
	padding .7em
	width 30%
	input[type=search]
		background gris2
		bordes(1em)
		sombras-caja(0 0 10px blanco2)
		font-weight bold 
		padding .5em
		transicion()
		width 70%
		word-spacing 1.3em
		&:hover 
			bordes(2em)
			transicion()
			width 80%

.calendario-eventos, .calendario-notas
	display inline-block
	height 280px
	vertical-align top 
	width 55%

.calendario-notas
	width 40%
	p
		font-size .8em
		margin 0 .4em
		text-align justify

.clima, .multimedia
	display inline-block 
	height 430px
	margin .8em auto
	sombras-caja(.3em 0 .2em darken(blanco, 30%))
	vertical-align top
	width 55%

.close 
	background #606061
	color #FFFFFF
	line-height 25px
	position relative
	right -12px
	text-align center
	width 24px
	text-decoration none
	font-weight bold
	bordes(12px)
	sombras-caja(1px 1px 3px #000)
	&:hover 
		background #00d9ff

.conf_idiomas, .idiomas
	background darken(gris, 40%)
	box-sizing()
	font-family 'Open Sans', Verdana, Arial
	font-size()
	height 2.6em
	width 100%

.contenedor
	background darken(blanco, 6%)
	height 1650px
	margin .1em auto
	sombras-caja(.1em .1em .1em blanco)

.contenido
	font-size .7em
	height 120px
	margin .5em auto
	min-width 60%
	padding .7em
	width 90%
	a 
		color gris2
		font-family Verdana
		text-decoration none
	img 
		float left 
		margin-right .7em
	p 
		bordes(.4em)
		height 86px
		margin .2em auto 
		padding 1em 
		sombras-caja(.2em .2em .5em darken(gris2, 10%))
		text-align justify
	span 
		margin .5em
		a 
			color rojizo

.contenedor-footer
	display inline-block
	margin 1em 0 1em .9em
	text-align center
	vertical-align top
	width 23%
	li 
		height 2.1em
		list-style none
		margin-top .4em
		margin 0 
		padding 0
	a 
		color gris2
		text-decoration none
		div 
			height 2.1em
			margin-top .2em
			padding 0
			text-align left
			width 85%
		
	img 
		float left 
		margin-top .2em
		margin-left 4em
		margin-right .6em


.enlaces-utiles, .telefonos
	border thin solid amarillo
	bordes(.5em)
	display inline-block
	height 200px
	vertical-align top
	width 65%

.enlaces-utiles
	margin-left .3em
	p 
		display inline-block
		font-size .9em
		margin .3em auto
		margin-left .8em
		text-align left
		vertical-align top
		width 45%
		img 
			height 25px 
			margin .3em 
			width 25px
		a 
			color lighten(cafe, 10%)
			font-weight bold 
			position relative 
			top -.7em
			text-decoration none

.eventos, .video 
	height 170px
	margin 0 auto
	width 95%

.eventos 
	height 300px
	input[type="text"]
		background darken(blanco, 6%)
		color darken(blanco, 6%)
		width 250px

.footer-title 
	a
		color blanco

.footer-wrapp
	margin 0 auto
	width 80%

.idiomas, .social_icons
	display inline-block
	margin 0 auto
	text-align right
	vertical-align middle
	width 70%

.idiomas 
	a 
		color blanco
		text-decoration none
	img 
		margin 1em .3em 0 0
		position relative 
		top 1px

.ingreso, .registro
	sombras-caja(.1em 0 .3em lighten(gris, 70%))
	display inline-block
	height 90%
	margin .8em
	vertical-align top
	width 55%
	p 
		text-align center
.login-redes-sociales 
	margin 0 auto
	img
		height 35px
		margin-left 4em
		width 155px

.registro 
	p
		font-size .7em
	width 35%

.formulario 
	height 1.6em
	margin .1em .5em .5em 1em
	sombras-caja(0 .2em .6em darken(gris, 40%))
	width 60%

.ingreso 
	form
		color gris
		font-size .8em
	input[type="submit"]
		background azul
		bordes(.5em)
		color blanco
		font-size 1.1em
		margin-left 7.4em
		padding .7em 3.4em


.login 
	background darken(azul, 20%)
	box-sizing()
	height 60px
	position relative
	left 60em
	top -3.2em
	width 15%
	z-index 99999
	a 
		color blanco
		font-size 1.2em
		margin-left 30%
		position absolute
		text-decoration none
		top 1em

.logotipo
	background blanco
	border .4em dotted azul
	bordes(999px)
	box-sizing()
	height 60px
	left 10px
	position relative 
	sombras-caja(.3em 0 .2em darken(blanco, 30%))
	top 30px
	width 60px
	&:hover 
		cursor pointer
		rotacion()
		transicion()

.mapa-misiones 
	height 480px
	margin .3em auto
	a 
		color cafe
		text-decoration none
		text-shadow .1em .2em .2em lighten(cafe, 70%)

.materiales, .relatos
	display inline-block
	height 220px
	margin -2em .8em 0 .8em
	sombras-caja(.3em 0 .2em darken(blanco, 30%))
	vertical-align top 
	width 35%

.materiales 
	sombras-caja()

.menu-lateral, .principal
	background darken(blanco, 6%)
	color darken(blanco, 70%)
	display inline-block
	height 1400px
	margin-right .2em 
	sombras-caja(.3em 0 .2em darken(blanco, 30%))
	vertical-align top
	width 45%

.menu-lateral
	width 53.5%

.multimedia
	width 40%

.modalDialog
	background rgba(0,0,0,0.8)
	left 0
	opacity 0
	position fixed
	right 0 
	-webkit-transition opacity 400ms ease-in
	-moz-transition opacity 400ms ease-in
	transition opacity 400ms ease-in
	pointer-events none
	top 0
	z-index 99999

.modalDialog:target 
	opacity 1
	pointer-events auto

.modalDialog > div 
	height 300px
	width 800px
	position relative
	margin 20% auto
	padding 5px 20px 13px 20px
	border-radius 10px
	background darken(blanco, 5%)

.relatos 
	color gris2
	width 53%
	p 
		font-size .8em
		margin  0 .5em
		padding 0 .5em
		text-align justify
	img 
		height 80px
		margin .5em 0 0 6em
		width 55px 

/*Promo area */
.slider-wrapper
	height 300px
	margin 0 auto
	overflow hidden
	position relative

.social_icons
	height 2.6em
	text-align right
	width 10%
	a 
		text-decoration none
	img 
		margin 0.4em auto

.superior
	background transparent
	height 130px
	width 100%

.telefonos 
	width 30%

.titulo 
	font-family 'Open Sans', Arial, Verdana
	font-size 2em
	text-shadow 0 .1em .2em azul
.video 
	height 240px

/* Mapa de Google */
#page-wrap 
	margin: 0 auto
	width 95% 

#locations 
	list-style none
	width 200px
	float left
	li 
		color blanco
		cursor pointer 
		height 60px
		margin .5em auto
		padding 10px
		width 180px
		&:nth-child(1)
			background darken(azul, 30%)
		&:nth-child(1):hover 
			background darken(azul, 40%)
			transicion()
		&:nth-child(2)
			background rojizo 
		&:nth-child(2):hover 
			background darken(rojizo, 40%)
			transicion()
		&:nth-child(3)
			background amarillo
		&:nth-child(3):hover 
			background darken(amarillo, 40%)
			transicion()
		&:nth-child(4)
			background cafe 
		&:nth-child(4):hover 
			background darken(cafe, 40%)
			transicion()

#map_canvas 
	width 100%
	height 350px 
	width 210px 
	float left 
	position relative 
	z-index 30 

#more-info 
	background lighten(#555, 80%)
	color darken(azul, 50%)
	float right
	font-size .8em
	padding .3em
	width 120px 

.longdesc 
	display none

/* Camera */
#back_to_camera 
	clear both
	display block
	height 40px
	line-height 40px
	padding 20px
		
.fluid_container 
	border thin solid white
	height 380px
	margin 0 auto
	width 100%