@import "_fonts"
@import "_var"
@import "_mixins"

* 	
	border 0
	margin 0 
	padding 0


aside, .suscribete 
	border thin solid lighten(gris, 80%)
	display inline-block
	height 150px
	vertical-align top
	width 45%

aside 
	article 
		display inline-block
		margin 0 .5em 
		vertical-align top
	h3 
		color lighten(azul, 10%)

body 
	background darken(gris2, 70%) url('../img/wallpaper-82838.jpg')
	background-repeat no-repeat no-repeat
	font-family 'Open Sans', Arial, Verdana
	font-weight normal
	font-size 16px

h2 
	background lighten(gris, 85%)
	bordes(.2em)
	color saturate(azul, 30%)
	margin 1em 1em
	text-align center

h3 
	color saturate(amarillo, 30%)
	background lighten(gris, 85%)
	bordes(.2em)
	margin .5em 
	text-align center

footer 
	background darken(gris, 60%)
	margin 0 auto
	width 100%

header, nav, .contenedor 
	margin 0 auto
	width 80%

header 
	//background lighten(blanco, 20%) 
	background transparent
	height 40px * 4

nav
	background darken(gris, 20%)
	box-sizing()
	ul 
		text-align left
	li.menu
		menu azul 
		cursor pointer 
		display inline-block
		font-size 1.1em
		font-weight bold
		margin 0 auto
		padding .8em
		vertical-align top
		width 15%
		&:first-child
			background darken(azul, 30%)
		&:first-child:hover 
			background darken(azul, 40%)
			transicion()
		&:nth-child(2)
			background rojizo 
		&:nth-child(2):hover 
			background darken(rojizo, 40%)
			transicion()
		&:nth-child(3)
			background amarillo
		&:nth-child(3):hover 
			background darken(amarillo, 40%)
			transicion()
		&:nth-child(4)
			background cafe
		&:nth-child(4):hover 
			background darken(cafe, 40%)
			transicion()
		&:nth-child(5)
			background transparent
			width 5%
		&:last-child
			background azul
			text-align center 
			transicion()
		&:last-child:hover 
			background darken(gris, 40%)
			transicion()
		a 
			color darken(blanco, 10%) 
			text-decoration none
			text-shadow .1em .1em .2em negro
			&:hover 
				font-weight bold

/* Identificadores */
#arrow 
	height 15px
	margin .8em 0
	transform()
	width 15px

#locations 
	float left
	list-style none
	max-width 200px
	li 
		color blanco
		cursor pointer 
		height 50px
		margin .3em auto
		padding 10px
		max-width 180px
		&:first-child
			background darken(azul, 30%)
		&:first-child:hover 
			background darken(azul, 40%)
			transicion()
		&:nth-child(2)
			background rojizo 
		&:nth-child(2):hover 
			background darken(rojizo, 40%)
			transicion()
		&:nth-child(3)
			background amarillo
		&:nth-child(3):hover 
			background darken(amarillo, 40%)
			transicion()
		&:last-child
			background cafe 
		&:last-child:hover 
			background darken(cafe, 40%)
			transicion()

#map_canvas 
	width 100%
	height 350px 
	max-width 200px 
	float left 
	position relative 
	z-index 30 

#more-info 
	background lighten(#555, 80%)
	color darken(azul, 50%)
	float right
	font-size .8em
	font-weight normal
	padding .3em
	width 25%
	a 
		color azul
		text-decoration none

#page-wrap 
	margin: 0 auto
	max-width 95% 

#weatherslider 
	margin-top 1.4em
	height 310px
	width 88%

/*Clases */
.accesibilidad
	border thin solid lighten(gris, 80%)
	height 220px
	margin .5em auto
	a 
		color lighten(azul, 10%)
		text-decoration none
	img 
		float left
		margin-left .5em
		margin-right .5em
	p 
		font-size .8em
		margin .3em 3em
		text-align justify

.buscar, .titulo 
	box-sizing()
	color blanco 
	display inline-block
	margin 1em 1em 
	vertical-align middle 
	width 50%

.buscar 
	padding .7em
	width 30%

.calendario-eventos, .calendario-notas 
	display inline-block
	height 280px 
	vertical-align top 
	width 55%

.calendario-notas
	width 40%
	p
		font-size .8em
		margin 0 .4em
		text-align justify

.clima, .multimedia
	border thin solid lighten(gris, 80%)
	display inline-block 
	height 400px
	margin .8em 0
	vertical-align top
	width 52%
	h3 
		color lighten(rojizo, 10%)

.clima
	margin-left 1.3em

.contenedor
	background darken(blanco, 6%)
	height auto
	margin .6em auto
	sombras-caja(.1em .1em .1em blanco)

.contenido 
	font-size .7em
	height 120px
	margin .5em auto
	min-width 60%
	padding .7em
	max-width 90%
	a 
		color gris2
		font-family Verdana
		text-decoration none
	img 
		float left 
		height 80px 
		margin-right .7em
		width 80
	p 
		bordes(.4em)
		border thin solid lighten(gris, 80%)
		height 86px
		margin .2em auto 
		padding 1em 
		text-align justify
		&:hover 
			sombras-caja(0 .2em .4em darken(gris2, 10%))
	span 
		margin .5em
		a 
			color rojizo

.icono_buscar
	background gris2 url('../img/buscar.png') right no-repeat
	bordes(1em)
	font-weight bold
	sombras-caja(0 0 10px blanco2)
	padding .5em
	transicion()
	width 70%
	word-spacing 1.3em 
	&:hover 
		background blanco2
		bordes(2em)
		transicion()
		width 80%

.conf_idiomas, .idiomas
	background darken(gris, 40%)
	box-sizing()
	font-family 'Open Sans', Verdana, Arial
	font-size()
	height 2.6em
	width 100%

.enlaces-utiles, .telefonos
	border thin solid lighten(gris, 80%)
	bordes(.5em)
	box-sizing()
	display inline-block
	height 200px
	vertical-align top
	width 65%

.enlaces-utiles
	margin-left .3em
	p 
		display inline-block
		font-size .9em
		margin .5em auto
		margin-left 1em
		text-align left
		vertical-align top
		width 45%
		img 
			height 25px 
			margin .3em .3em .3em -.3em  
			width 25px
		a 
			color lighten(cafe, 10%)
			font-weight bold 
			margin-left 0
			position relative 
			top -.7em
			text-decoration none

.eventos 
	height 300px 
	margin 0 auto 
	width 95%
	input[type="text"]
		background darken(blanco, 6%)
		color darken(blanco, 6%)
		width 230px

.fluid_container 
	margin 0 auto
	width 80%

.footer_container
	margin 0 auto
	width 80%

.idiomas, .social_icons 
	display inline-block
	margin 0 auto
	text-align right 
	vertical-align middle 
	width 60%

.idiomas 
	margin 0 0 0 5em
	a 
		color blanco 
		text-decoration none
	img 
		height 28px
		margin 1em .3em 0 0
		position relative 
		top 1px
		width 30px
.esp, .eng 
	display inline-block
	position relative
	top -20px
	vertical-align middle
	max-width 20%
	width 15%
	a 
		position relative 
		top -.5em

.logotipo 
	background blanco
	border .4em dotted azul
	bordes(999px)
	height 70px
	left 10px 
	position relative
	sombras-caja(.3em 0 .2em darken(blanco, 30%))
	top 30px
	width 70px
	&:hover 
		cursor pointer
		rotacion()
		transicion()

.longdesc 
	display none

.mapa-misiones 
	border thin solid lighten(gris, 80%)
	bordes(.2em)
	height 430px
	margin .3em auto 2.5em auto
	h3 
		color lighten(cafe, 15%)

.menu-lateral, .principal
	background darken(blanco, 6%)
	color darken(blanco, 70%)
	display inline-block
	height 1640px
	margin-right .2em 
	vertical-align top
	max-width 45%

.menu-lateral
	max-width 53.5%
	h2 
		color lighten(rojizo, 10%)

.multimedia
	width 41%
	p
		font-size .8em
		margin .2em 1.4em
		text-align justify
	div 
		text-align center
		img 
			height 40px 
			width 40px
		a 
			color amarillo
			font-size 1.1em
			text-decoration none

.principal 
	sombras-caja(.3em 0 .1em darken(blanco, 12%))

.proximos-eventos
	border thin solid lighten(gris, 80%)
	article 
		box-sizing()
		font-size .8em
		height 50px
		margin .2em 1.2em
		sombras-caja(0 0 .5em lighten(gris2, 80%))
		text-align justify
		p, a 
			display inline-block
			vertical-align top
		p 
			background azul 
			color blanco
			cursor pointer
			font-size 1.5em
			height 30px 
			padding .5em
			width 30px
		a 
			color azul
			margin-left .5em
			text-decoration none
	span 
		text-align center
		margin-top .5em
		margin-left 10em
		a 
			color rojizo
			text-decoration none

.recomendaciones
	text-align center
	img 
		height 120px 
		width 90%

.materiales, .relatos 
	border thin solid lighten(gris, 80%)
	bordes(.2em)
	display inline-block
	height 220px 
	margin -2em 0 0 0
	vertical-align top 
	width 40%
	h3 
		font-size 1em

.materiales 
	p 
		font-size .8em
		margin 0 1.7em
		text-align justify
	div
		margin-top 1.5em
		text-align center
		a 
			color amarillo
			font-size 1.1em
			text-decoration none

.relatos 
	color gris2
	margin-left 1.2em
	width 53%
	p 
		font-size .8em
		margin  0 .5em
		padding 0 .5em
		text-align justify
		a 
			color darken(blanco2, 80%)
			text-decoration none
	img 
		cursor pointer
		height 80px
		margin .5em 0 0 6em
		max-width 55px 


.social_icons
	height 2.6em
	text-align center
	width 20%
	a 
		text-decoration none
	img 
		margin 0.4em auto
		
.superior
	background transparent
	height 130px
	width 100%


.suscribete
	margin-left 1.3em
	text-align center
	width 47%
	input[type="text"]
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 6%)
		margin-top .5em
		height 30px
		width 230px
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		height 30px
		color blanco
		width 90px

.telefonos 
	font-size .9em
	text-align center
	width 30%
	a 
		color lighten(rojizo, 10%)
		text-decoration none
	img 
		height 80px
		margin-top .5em 
		margin-bottom .5em
		width 80px
			
.titulo 
	font-family 'Open Sans', Arial, Verdana 
	font-size 2em 
	text-shadow 0 .1em .2em azul

.wcont
	color darken(blanco, 20%)
	display inline-block
	text-align center
	vertical-align top
	width 24%
	ul 
		margin-top .5em
		margin-bottom .5em
	li 
		list-style none
		a 
			color darken(blanco, 50%)
			text-decoration none