@import "_fonts"
@import "_var"
@import "_mixins"

* 	
	border 0
	margin 0 
	padding 0

aside /*.suscribete */
	border thin solid lighten(gris, 80%)
	display inline-block
	height 150px
	margin-left 5%
	vertical-align top
	width 45%

aside 
	article 
		display inline-block
		margin 0 .3em 
		vertical-align top
	h3 
		color lighten(azul, 10%)

body 
	background darken(gris2, 70%) url('../img/wallpaper.jpg')
	background-repeat no-repeat no-repeat
	font-family Arial, Verdana
	font-weight normal
	font-size 16px

footer 
	background darken(gris, 60%)
	margin 0 auto
	width 100%

h2 
	background lighten(gris, 85%)
	bordes(.2em)
	color saturate(azul, 30%)
	margin 1em 1em
	text-align center

h3 
	color saturate(amarillo, 30%)
	background lighten(gris, 85%)
	bordes(.2em)
	margin .5em 
	text-align center

header, nav, .contenedor 
	margin 0 auto
	width 80%

header 
	//background lighten(blanco, 20%) 
	background transparent
	height 40px * 4

nav
	background darken(gris, 20%)
	box-sizing()
	ul 
		text-align left
	li#registrado 
		background transparent
		color blanco
		a 
			color blanco 
			text-decoration none
	li.menu
		background azul 
		cursor pointer 
		display inline-block
		font-size 1.1em
		font-weight bold
		margin 0 auto
		padding .8em
		vertical-align top
		width 15%
		&:first-child
			background darken(azul, 30%)
		&:first-child:hover 
			background darken(azul, 40%)
			transicion()
		&:nth-child(2)
			background rojizo 
		&:nth-child(2):hover 
			background darken(rojizo, 40%)
			transicion()
		&:nth-child(3)
			background amarillo
		&:nth-child(3):hover 
			background darken(amarillo, 40%)
			transicion()
		&:nth-child(4)
			background cafe
		&:nth-child(4):hover 
			background darken(cafe, 40%)
			transicion()
		&:nth-child(5)
			background transparent
			width 5%
		&:last-child
			background azul
			text-align center 
			transicion()
		&:last-child:hover 
			background darken(gris, 40%)
			transicion()
		a 
			color darken(blanco, 10%) 
			text-decoration none
			text-shadow .1em .1em .2em negro
			&:hover 
				font-weight bold

header 
	//background lighten(blanco, 20%) 
	background transparent
	height 40px * 4


/* Identificadores */
#arrow 
	height 15px
	margin .8em 0
	transform()
	width 15px

#olvido_form
	display none
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		color blanco
		height 30px
		width 120px
	input[type="text"]
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-top .5em
		height 30px
		width 80%
	input[type="text"]
		margin-left 3.3em
	label 
		margin-left 1.3em

#acceso 
	display none
	text-align left 
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		color blanco
		height 30px
		margin-left 50%
		width 90px
	input[type="text"], input[type="password"]
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-top .5em
		height 30px
		width 50%
	input[type="text"]
		margin-left 0
	input#password_n, input#password_r
		margin-left 1%
	input#username 
		margin-left 5% 
	input#correo_e 
		margin-left 8%
	label 
		margin-left 20%

#contenedor_form > form#form_ingreso 
	text-align left
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		color blanco
		height 30px
		margin-left 45%
		width 90px
	input[type="text"], input[type="password"]
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-top .5em
		height 30px
		left 24%
		position relative
		width 290px
	input[type="password"]
		left 20%
		position relative 
	label.usuario_lbl, label.password_lbl
		left 20%
		position relative 
#locations 
	float left
	list-style none
	max-width 200px
	li 
		color blanco
		cursor pointer 
		height 50px
		margin .3em auto
		padding 10px
		max-width 180px
		&:first-child
			background darken(azul, 30%)
		&:first-child:hover 
			background darken(azul, 40%)
			transicion()
		&:nth-child(2)
			background rojizo 
		&:nth-child(2):hover 
			background darken(rojizo, 40%)
			transicion()
		&:nth-child(3)
			background amarillo
		&:nth-child(3):hover 
			background darken(amarillo, 40%)
			transicion()
		&:last-child
			background cafe 
		&:last-child:hover 
			background darken(cafe, 40%)
			transicion()

#map_canvas 
	width 100%
	height 350px 
	max-width 200px 
	float left 
	position relative 
	z-index 30 

#more-info 
	background lighten(#555, 80%)
	color darken(azul, 50%)
	float right
	font-size .8em
	font-weight normal
	padding .3em
	width 25%
	a 
		color azul
		text-decoration none

#page-wrap 
	margin: 0 auto
	max-width 95% 

#twitter, #facebook 
	background #1E62A9
	bordes(.5em)
	cursor pointer
	height 40px
	width 85% 

#twitter 
	background #1EC4FE

#weatherslider 
	margin-top 1.4em
	height 310px
	width 88%

/*Clases */

.politicas
	border thin solid lighten(gris, 80%)
	height 220px
	margin .5em auto
	a 
		color lighten(azul, 10%)
		text-decoration none
	img 
		float left
		margin-left .5em
		margin-right .5em
	p 
		font-size .8em
		margin .3em 3em
		text-align justify

.row 
	margin 1em auto
	text-align center

#forward, #back, #get_route, #reset 
	padding .7em
	text-decoration none

#steps
	border thin solid darken(blanco, 20%)
	color rojizo
	font-size .9em
	text-align left
	font-weight normal
	list-style none
	margin-top 1em
	margin-left 10%
	width 90%

.btn
	bordes(.2em)
	background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
	background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
	background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
	background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
	background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
	color blanco
	height 30px
	margin .3em 0
	width 90px

.buscar, .titulo 
	box-sizing()
	color blanco 
	display inline-block
	margin 1em 1em 
	vertical-align middle 
	width 50%

.buscar 
	padding .7em
	width 30%

.calendario-eventos, .calendario-notas 
	display inline-block
	height 280px 
	vertical-align top 
	width 55%

.calendario-notas
	width 40%
	p
		font-size .8em
		margin 0 .4em
		text-align justify

.clima, .multimedia
	border thin solid lighten(gris, 80%)
	display inline-block 
	height 400px
	margin .8em 0
	vertical-align top
	width 52%
	h3 
		color lighten(rojizo, 10%)
.clima
	margin-left 1.3em

.close, .cerrar 
	background #606061
	color blanco 
	line-height 25px 
	position absolute
	right -12px 
	text-align center
	top -10px 
	width 24px 
	text-decoration none 
	font-weight bold 
	bordes(.9em)
	sombras-caja(1px 1px 3px #000)
	&:hover 
		background rojizo

.conf_idiomas, .idiomas
	background darken(gris, 40%)
	box-sizing()
	font-family 'Open Sans', Verdana, Arial
	font-size()
	height 2.6em
	width 100%

.contenedor
	background darken(blanco, 6%)
	height auto
	margin .6em auto
	sombras-caja(.1em .1em .1em blanco)

.contenido 
	font-size .7em
	height 120px
	margin .5em auto
	min-width 60%
	padding .7em
	max-width 90%
	a 
		color gris2
		font-family Verdana
		text-decoration none
	img 
		float left 
		height 80px 
		margin-right .7em
		width 80px
	p 
		bordes(.4em)
		border thin solid lighten(gris, 80%)
		height 86px
		margin .2em auto 
		padding 1em 
		text-align justify
		&:hover 
			sombras-caja(0 .2em .4em darken(gris2, 10%))
	span 
		margin .5em
		a 
			color rojizo

.contenedor_mapa
	background azul
	height 500px 
	margin .5em auto
	width 95%

.enlaces-utiles, .telefonos
	border thin solid lighten(gris, 80%)
	bordes(.5em)
	box-sizing()
	display inline-block
	height 200px
	vertical-align top
	width 65%

.enlaces-utiles
	margin-left .3em
	p 
		display inline-block
		font-size .9em
		margin .5em auto
		margin-left 1em
		text-align left
		vertical-align top
		width 45%
		img 
			height 25px 
			margin .3em .3em .3em -.3em  
			width 25px
		a 
			color lighten(cafe, 10%)
			font-weight bold 
			margin-left 0
			position relative 
			top -.7em
			text-decoration none

.eventos 
	height 300px 
	margin 0 auto 
	width 95%
	input[type="text"]
		background darken(blanco, 6%)
		color darken(blanco, 6%)
		width 230px

.footer_container
	margin 0 auto
	width 80%

.formulario
	bordes(.2em)
	color darken(blanco, 60%)
	height 320px
	padding-right 10px
	text-align center
	width 95%
	span 
		color rojizo
		cursor pointer
		font-size .8em
		float right

.idiomas, .social_icons 
	display inline-block
	margin 0 auto
	text-align right 
	vertical-align middle 
	width 60%

.idiomas 
	margin 0 0 0 5em
	a 
		color blanco 
		text-decoration none
	img 
		height 28px
		margin 1em .3em 0 0
		position relative 
		top 1px
		width 30px

.icono_buscar
	background gris2 url('../img/buscar.png') right no-repeat
	bordes(1em)
	font-weight bold
	sombras-caja(0 0 10px blanco2)
	padding .5em
	transicion()
	width 70%
	//word-spacing .2em 
	&:hover 
		background blanco2
		bordes(2em)
		transicion()
		width 80%

.fluid_container 
	margin 0 auto
	width 80%
	a 
		color blanco
		text-decoration none 

.esp, .eng 
	display inline-block
	position relative
	top -20px
	vertical-align middle
	max-width 20%
	width 15%
	a 
		position relative 
		top -.5em

.contenedor_eventos
	margin 0 auto 
	height auto

.input
	text-align center
.logotipo 
	background blanco
	border .4em dotted azul
	bordes(999px)
	height 70px
	left 10px 
	position relative
	sombras-caja(.3em 0 .2em darken(blanco, 30%))
	top 30px
	width 70px
	&:hover 
		cursor pointer
		rotacion()
		transicion()

.longdesc 
	display none

.mapa, .menu_mapas 
	display inline-block
	margin 0 auto
	height auto
	vertical-align top 
	width 75%

.menu_mapas 
	margin-left 2%
	width 20%
	label 
		color darken(gris, 40%)
	input[type="text"]
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-top .5em
		height 30px
		width 200px

.mapa-misiones 
	border thin solid lighten(gris, 80%)
	bordes(.2em)
	height 430px
	margin .3em auto 2.5em auto
	h3 
		color lighten(cafe, 15%)

.menu-lateral, .principal
	background darken(blanco, 6%)
	color darken(blanco, 70%)
	display inline-block
	height 1640px
	margin-right .2em 
	vertical-align top
	max-width 45%

.menu-lateral
	max-width 53.5%
	h2 
		color lighten(rojizo, 10%)

.modalDialog 
	position fixed
	font-family Arial, Helvetica, sans-serif 
	background rgba(0, 0, 0, .8)
	bottom 0 
	display none
	height 100%
	opacity 0
	transicion_modal()
	top 100
	right -100
	width 100%
	z-index 99999
	&:target 
		opacity 1
	
.modalDialog > div 
	background blanco
	bordes(10px)
	position relative 
	height auto 
	margin 10% auto
	padding 5px 20px 13px 20px
	width 700px

.multimedia
	width 41%
	p
		font-size .8em
		margin .2em 1.4em
		text-align justify
	div 
		text-align center
		img 
			height 40px 
			width 40px
		a 
			color amarillo
			font-size 1.1em
			text-decoration none

.principal 
	sombras-caja(.3em 0 .1em darken(blanco, 12%))

.proximos-eventos
	border thin solid lighten(gris, 80%)
	article 
		box-sizing()
		font-size .8em
		height 50px
		margin .2em 1.2em
		sombras-caja(0 0 .5em lighten(gris2, 80%))
		text-align justify
		p, a 
			display inline-block
			vertical-align top
		p 
			background azul 
			color blanco
			cursor pointer
			font-size 1.5em
			height 30px 
			padding .5em
			width 30px
		a 
			color azul
			margin-left .5em
			text-decoration none
	span 
		text-align center
		margin-top .5em
		margin-left 10em
		a 
			color rojizo
			text-decoration none

.recomendaciones
	text-align center
	img 
		height 120px 
		width 90%

.materiales, .relatos 
	border thin solid lighten(gris, 80%)
	bordes(.2em)
	display inline-block
	height 220px 
	margin -2em 0 0 0
	vertical-align top 
	width 40%
	h3 
		font-size 1em

.materiales 
	p 
		font-size .8em
		margin 0 1.7em
		text-align justify
	div
		margin-top 1.5em
		text-align center
		a 
			color amarillo
			font-size 1.1em
			text-decoration none

.relatos 
	color gris2
	margin-left 1.2em
	width 53%
	p 
		font-size .8em
		margin  0 .5em
		padding 0 .5em
		text-align justify
		a 
			color darken(blanco2, 80%)
			text-decoration none
	img 
		cursor pointer
		height 80px
		margin .5em 0 0 6em
		max-width 55px 

.social_icons
	height 2.6em
	text-align center
	width 20%
	a 
		text-decoration none
	img 
		margin 0.4em auto

.superior
	background transparent
	height 130px
	width 100%

.suscribete
	margin-left 1.3em
	text-align center
	width 47%
	input[type="text"]
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-top .5em
		height 30px
		width 230px
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		height 30px
		color blanco
		width 90px

.telefonos 
	font-size .9em
	text-align center
	width 30%
	a 
		color lighten(rojizo, 10%)
		text-decoration none
	img 
		height 80px
		margin-top .5em 
		margin-bottom .5em
		width 80px

.titulo 
	font-family 'Open Sans', Arial, Verdana 
	font-size 2em 
	text-shadow 0 .1em .2em azul

.wcont
	color darken(blanco, 20%)
	display inline-block
	text-align center
	vertical-align top
	width 24%
	ul 
		margin-top .5em
		margin-bottom .5em
	li 
		list-style none
		a 
			color darken(blanco, 50%)
			text-decoration none


// Eventos 
.events 
	height auto
	margin .5em auto
	text-align center
	ul > li 
		//background darken(blanco, 6%)
		background darken(blanco, 2%)
		border thin solid lighten(gris, 80%)
		display inline-block
		font-size .9em
		font-weight normal
		height auto
		margin-bottom .5em
		padding .5em
		position relative
		vertical-align top
		width 30%
		text-align left
		h3 
			color azul
		img 
			height 30%

			margin-top .5em
			margin-left 3%
			margin-right 3%
			width 94%
		span
			color rojizo
			font-weight bold
			font-size 1em
			margin-left .5em
			width 30%

		textarea
			background darken(blanco, 2%)
			border thin solid lighten(gris, 80%)
			bordes(.2em)
			color darken(blanco, 80%)
			margin-left 5%
			margin-right 5%
			margin-top 10%
			resize none
			width 90%
		input[type="button"]
			bordes(.2em)
			background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
			background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			height 30px
			margin-left 35%
			margin-right 35%
			width 30%
			color blanco

// Story 
#more 	
	color azul 
	font-weight bold
	margin-left 5% 
	margin-top 5%
	padding-bottom 5% 
	text-align center
	width 90% 

.modalDialog_Reportado
	position fixed
	font-family Arial, Helvetica, sans-serif 
	background rgba(0, 0, 0, .8)
	bottom 0 
	display none
	height 100%
	opacity 0
	transicion_modal()
	top 100
	right -100
	width 100%
	z-index 99999
	&:target 
		opacity 1
	
.formulario_re
	border thin solid lighten(gris, 80%)
	bordes(.2em)
	color darken(blanco, 60%)
	padding-right 10px
	//text-align center
	vertical-align top
	width 95%
	input[type="radio"]
		color rojizo
		margin-left 8%
	a 
		color rojizo
		font-size .8em
		float right
		text-decoration none
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		color blanco
		height 30px
		margin-left 45%
		width 90px

.modalDialog_Reportado > div 
	background blanco
	bordes(10px)
	position relative 
	height 200px 
	margin 10% auto
	padding 5px 20px 13px 20px
	width 400px

.comments 
	background blanco
	border thin solid darken(blanco, 20%)
	bordes(.2em)
	margin 1em auto 
	height auto 
	width 90%
	h4 
		margin-left 5%
	h4, div
		color rojizo 
		display inline-block
		font-weight bold
		margin-top 5%
		vertical-align top
		width 25%
	div 
		color azul
		font-weight normal
		height auto
		padding-bottom .5em 
		text-align justify
		width 65%
	p#fechacomentarios 
		color amarillo
		margin-top 1em
	a.vinculo_reportar
		color rojizo
		display block
		font-size .9em 
		left 20%
		margin-top .5em
		padding-bottom .5em
		position relative 
		text-decoration none
	a.vinculo_reportar_r
		color rojizo
		display block
		font-size .9em 
		font-weight bold
		margin-top .5em
		padding-bottom .5em
		text-decoration none
		left 70%
		position relative 

.contenedor_relatos
	height auto
.menu_story, .story 
	display inline-block 
	vertical-align top 
	width 18%
	
.menu_story 
	p 
		font-size .9em
		text-align center
		width 100%
	h4 
		color azul
		font-size 1em
		margin-top .5em
		text-align center
	a 
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		bordes(.2em)
		color blanco
		left 40px
		padding 10px
		position relative
		text-decoration none
		top 20px
.story  
	height auto
	margin .5em auto
	text-align center
	width 80% 
	ul > li 
		//background darken(blanco, 6%)
		background darken(blanco, 2%)
		border thin solid lighten(gris, 80%)
		display inline-block
		font-size .9em
		font-weight normal
		height auto
		margin-bottom .5em
		position relative
		vertical-align top
		width 80%
		text-align left
		span 
			color azul
			font-weight bold
			margin-left 5%
		p 
			margin 1.5em 5%
			text-align justify
		textarea
			background darken(blanco, 2%)
			border thin solid lighten(gris, 80%)
			bordes(.2em)
			color darken(blanco, 80%)
			margin-left 5%
			margin-right 5%
			margin-top 1%
			overflow-y scroll
			resize none
			width 90%
		input[type="button"]
			bordes(.2em)
			background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
			background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
			height 30px
			margin-left 35%
			margin-right 35%
			width 30%
			color blanco
		.plus, .minus 
			cursor pointer
			margin 0 .5em
			img 
				height 18px
				width 18px
		.minus 
			color black

//Sitios Turísticos 
.sites_t 
	margin-left 3%
	width 100%
	ul > li
		border thin solid darken(blanco, 15%)
		bordes(.4em) 
		display inline-block
		font-size .9em
		font-weight normal 
		height auto
		margin-right 3%
		margin-bottom .9em
		padding .8em 0
		text-align center
		vertical-align top  
		width 45% 
		h3 
			font-size 1.3em
	img 
		height 180px
		width 95%
	span
		color azul
		font-weight bold
	div 
		margin 0 2%
		text-align left
	#etiquetas 
		text-align right
	textarea 
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-top 3%
		margin-bottom .5em
		margin-left 1%
		overflow-y scroll
		resize none
		width 80%
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		color blanco
		height 30px
		margin-left 1%
		width 90px

.comments-sitios
	background blanco
	border thin solid darken(blanco, 20%)
	bordes(.2em)
	margin 1em auto 
	height auto 
	width 90%
	h4 
		margin-left 5%
	h4, div
		color rojizo 
		display inline-block
		font-weight bold
		margin-top 5%
		vertical-align top
		width 25%
	div 
		color azul
		font-weight normal
		height auto
		padding-bottom .5em 
		text-align justify
		width 65%
	p#fechacomentarios 
		color amarillo
		margin-top 1em

//Galerias 
.gallery 
	border thin solid darken(blanco, 15%)
	bordes(.4em)
	display inline-block
	height 180px
	margin 0 2% 1em 2%
	text-align center
	vertical-align top 
	width 45%
	span 
		color azul 
	ul 
		list-style none 
		li 

			font-weight normal
			a 
				color rojizo
				font-weight bold 
				text-decoration none

#album 
	li 
		display inline-block 
		vertical-align top 
		margin-left 2%
		margin-right 2%
		list-style none
		width 45%
	img 
		bordes(.4em)
		height 200px 
		width 100%
		transicion()
		&:hover 
			cursor pointer
			
			-webkit-transform scale(2.7)
			transform scale(2.7)
			-webkit-transition all 2s ease-out
			transition all 2s ease-out

//Sección de Alojamiento
.hoteles
	height auto
	margin .5em auto
	width 95%

.hoteles_4
	height auto
	padding-bottom 2em
	

.estrellas 
	border thin solid darken(blanco, 20%)
	display inline-block
	height 120px
	margin-top .5em
	vertical-align top 
	width 70%

.img_hoteles, .desc_hoteles, .costo_hoteles
	display inline-block
	vertical-align middle
	width 21%

.costo_hoteles
	p 
		color azul
		font-size .8em
		margin-bottom .5em
		span 
			color amarillo
			font-size 1.1em
	a 
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		bordes(.2em)
		color blanco
		margin-top 1em
		padding 5px 
		text-decoration none 

.desc_hoteles
	width 55%
	h4 
		color azul
		font-size 1.2em
	p.habitaciones 
		color amarillo
		font-size .9em
	p.desc 
		color rojizo
		font-size .8em
		margin-left 1em
	span 
		color azul
		font-size .8em
		left 80px
		position relative
		top 10px 

.img_hoteles img 
	height 120px 
	width 120px 


//Relatos 
.modalDialog_R 
	position fixed
	font-family Arial, Helvetica, sans-serif 
	background rgba(0, 0, 0, .8)
	bottom 0 
	display none
	height 100%
	opacity 0
	transicion_modal()
	top 100
	right -100
	width 100%
	z-index 99999
	&:target 
		opacity 1
	
.modalDialog_R > div 
	background blanco
	bordes(10px)
	position relative 
	height 440px 
	margin 10% auto
	padding 5px 20px 13px 20px
	width 700px
.formulario_r
	border thin solid lighten(gris, 80%)
	bordes(.2em)
	color darken(blanco, 60%)
	display inline-block
	height 425px
	padding-right 10px
	//text-align center
	vertical-align top
	width 95%
	a 
		color rojizo
		font-size .8em
		float right
		text-decoration none
	input[type="button"]
		bordes(.2em)
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		color blanco
		height 30px
		margin-left 45%
		width 90px
	input[type="text"]
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-top .5em
		margin-left 1em
		height 30px
		width 260px
	label 
		margin-left 1em
	textarea 
		background darken(blanco, 6%)
		border thin solid lighten(gris, 80%)
		bordes(.2em)
		color darken(blanco, 80%)
		margin-bottom .5em
		margin-left 13%
		overflow-y scroll
		resize none
	span 
		font-size .8em
		margin-left 10%
	span#nota 
		color rojizo
		font-size .8em 

//multimedia

.multimedia_r, .menu_multimedia
	display inline-block  
	height auto
	margin 0 auto
	vertical-align top
	width 75%

.menu_multimedia
	margin-left 1.5em
	width 20%
	a 
		background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(azul, 10%)), color-stop(100%, darken(azul, 20%)))
		background -ms-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -o-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background -moz-linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		background linear-gradient(top, lighten(azul, 10%) 0%, darken(azul, 20%) 100%)
		bordes(.2em)
		color blanco
		margin-left .5em 
		padding 12px 25px
		text-decoration none
.contenido_multimedia
	height 450px
	margin 0 auto
	width 95%

//Audio 
#wrapper_a
	text-align center
	ol 
		list-style none
		margin-top .5em
	li a 
		color azul
		font-size .9em
		margin-top .8em
		text-decoration none

audio 
	left 300px
	top 10px
	float left
	position relative

#shortcuts
	margin 0 auto
	width 90% 
	div p
		color rojizo 
		display inline-block
		vertical-align top 
		width 30%

//Políticas de uso 
.uso
	margin 0 auto
	width 95%
	h2 
		color rojizo

	h4 
		color amarillo
		font-size 1.1em
		margin-top .8em
	p 
		font-size .9em
		margin .9em 0
		text-align justify
		width 95%
	ul 
		list-style none
	li 
		font-size .9em
		margin-left 2em
		margin-top .3em
		text-align justify
		width 92%

//Pueblos 
.pueblos ul li 
	list-style none
	margin-left 20%
	a 
		color amarillo
		display block
		padding .5em
		text-decoration none 
	span 
		color azul
