@font-face{font-family:'Open Sans';font-style:normal;font-weight:normal;src:url("../fonts/OpenSans-Bold-webfont.eot");src:url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),src url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"),src url("../fonts/OpenSans-Bold-webfont.svg") format("svg"),src url("../fonts/OpenSans-Bold-webfont.woff") format("woff")}
*{border:0;margin:0;padding:0}
aside,.suscribete{border:thin solid #d6d6d6;display:inline-block;height:150px;vertical-align:top;width:45%}
aside article{display:inline-block;margin:0 .3em;vertical-align:top}
aside h3{color:#25799d}
body{background:#0b0c0e url("../img/wallpaper-82838.jpg");background-repeat:no-repeat no-repeat;font-family:'Open Sans',Arial,Verdana;font-weight:normal;font-size:16px;font-weight:bold}
h2{background:#e0e0e0;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;color:#0f6990;margin:1em 1em;text-align:center}
h3{color:#eb8d00;background:#e0e0e0;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;margin:.5em;text-align:center}
footer{background:#141414;margin:0 auto;width:100%}
header,nav,.contenedor{margin:0 auto;width:80%}
header{background:transparent;height:160px}
nav{background:#292929;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
nav ul{text-align:left}
nav li.menu{menu:#1e6381;cursor:pointer;display:inline-block;font-size:1.1em;font-weight:bold;font-weight:bold;margin:0 auto;padding:.8em;vertical-align:top;width:15%;}
nav li.menu:first-child{background:#15455a}
nav li.menu:first-child:hover{background:#123b4d;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
nav li.menu:nth-child(2){background:#a70325}
nav li.menu:nth-child(2):hover{background:#640216;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
nav li.menu:nth-child(3){background:#ce8610}
nav li.menu:nth-child(3):hover{background:#7c500a;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
nav li.menu:nth-child(4){background:#4c2506}
nav li.menu:nth-child(4):hover{background:#2e1604;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
nav li.menu:nth-child(5){background:transparent;width:5%}
nav li.menu:last-child{background:#1e6381;text-align:center;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
nav li.menu:last-child:hover{background:#1f1f1f;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
nav li.menu a{color:#e6e6e6;text-decoration:none;text-shadow:.1em .1em .2em #000;}
nav li.menu a:hover{font-weight:bold}
#arrow{height:15px;margin:.8em 0;width:15px}
#locations{float:left;list-style:none;max-width:200px;}
#locations li{color:#fff;cursor:pointer;height:50px;margin:.3em auto;padding:10px;max-width:180px;}
#locations li:first-child{background:#15455a}
#locations li:first-child:hover{background:#123b4d;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
#locations li:nth-child(2){background:#a70325}
#locations li:nth-child(2):hover{background:#640216;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
#locations li:nth-child(3){background:#ce8610}
#locations li:nth-child(3):hover{background:#7c500a;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
#locations li:last-child{background:#4c2506}
#locations li:last-child:hover{background:#2e1604;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
#map_canvas{width:100%;height:350px;max-width:200px;float:left;position:relative;z-index:30}
#more-info{background:#ddd;color:#0f3141;float:right;font-size:.8em;font-weight:bold;font-weight:normal;padding:.3em;width:25%;}
#more-info a{color:#1e6381;text-decoration:none}
#page-wrap{margin:0 auto;max-width:95%}
#twitter,#facebook{background:#1e62a9;-ms-border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;-o-border-radius:.5em;border-radius:.5em;cursor:pointer;height:40px;width:85%}
#twitter{background:#1ec4fe}
#weatherslider{margin-top:1.4em;height:310px;width:88%}
.accesibilidad{border:thin solid #d6d6d6;height:220px;margin:.5em auto;}
.accesibilidad a{color:#25799d;text-decoration:none}
.accesibilidad img{float:left;margin-left:.5em;margin-right:.5em}
.accesibilidad p{font-size:.8em;font-weight:bold;margin:.3em 3em;text-align:justify}
.acceso,.formulario{border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;display:inline-block;height:280px;padding-right:10px;vertical-align:top;width:35%}
.acceso{font-size:.9em;font-weight:bold;}
.acceso h2{font-size:1.3em;font-weight:bold}
.acceso div{color:#fff;margin:.5em auto;}
.acceso div img{margin-left:.5em;margin-top:.3em;vertical-align:middle}
.acceso p{margin:1em 1.5em;font-size:.8em;font-weight:bold;}
.acceso p a{color:#a70325;text-decoration:none}
.formulario{color:#666;text-align:center;width:60%;}
.formulario a{color:#a70325;font-size:.8em;font-weight:bold;float:right;text-decoration:none}
.formulario input[type="button"]{-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25799d),color-stop(100%,#184f67));background:-ms-linear-gradient(top,#25799d 0%,#184f67 100%);background:-o-linear-gradient(top,#25799d 0%,#184f67 100%);background:linear-gradient(top,#25799d 0%,#184f67 100%);color:#fff;height:30px;width:90px}
.formulario input[type="text"],.formulario input[type="password"]{background:#f0f0f0;border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;color:#333;margin-top:.5em;height:30px;width:230px}
.formulario input[type="text"]{margin-left:3em}
.formulario label{margin-left:1em}
.buscar,.titulo{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;display:inline-block;margin:1em 1em;vertical-align:middle;width:50%}
.buscar{padding:.7em;width:30%}
.calendario-eventos,.calendario-notas{display:inline-block;height:280px;vertical-align:top;width:55%}
.calendario-notas{width:40%;}
.calendario-notas p{font-size:.8em;font-weight:bold;margin:0 .4em;text-align:justify}
.clima,.multimedia{border:thin solid #d6d6d6;display:inline-block;height:400px;margin:.8em 0;vertical-align:top;width:52%;}
.clima h3,.multimedia h3{color:#c8042c}
.clima{margin-left:1.3em}
.contenedor{background:#f0f0f0;height:auto;margin:.6em auto;-ms-box-shadow:.1em .1em .1em #fff;-moz-box-shadow:.1em .1em .1em #fff;-o-box-shadow:.1em .1em .1em #fff;-webkit-box-shadow:.1em .1em .1em #fff;box-shadow:.1em .1em .1em #fff}
.contenido{font-size:.7em;font-weight:bold;height:120px;margin:.5em auto;min-width:60%;padding:.7em;max-width:90%;}
.contenido a{color:#26272f;font-family:Verdana;text-decoration:none}
.contenido img{float:left;height:80px;margin-right:.7em;width:80}
.contenido p{-ms-border-radius:.4em;-moz-border-radius:.4em;-webkit-border-radius:.4em;-o-border-radius:.4em;border-radius:.4em;border:thin solid #d6d6d6;height:86px;margin:.2em auto;padding:1em;text-align:justify;}
.contenido p:hover{-ms-box-shadow:0 .2em .4em #22232a;-moz-box-shadow:0 .2em .4em #22232a;-o-box-shadow:0 .2em .4em #22232a;-webkit-box-shadow:0 .2em .4em #22232a;box-shadow:0 .2em .4em #22232a}
.contenido span{margin:.5em;}
.contenido span a{color:#a70325}
.icono_buscar{background:#26272f url("../img/buscar.png") right no-repeat;-ms-border-radius:1em;-moz-border-radius:1em;-webkit-border-radius:1em;-o-border-radius:1em;border-radius:1em;font-weight:bold;-ms-box-shadow:0 0 10px #eee;-moz-box-shadow:0 0 10px #eee;-o-box-shadow:0 0 10px #eee;-webkit-box-shadow:0 0 10px #eee;box-shadow:0 0 10px #eee;padding:.5em;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out;width:70%;word-spacing:1.3em;}
.icono_buscar:hover{background:#eee;-ms-border-radius:2em;-moz-border-radius:2em;-webkit-border-radius:2em;-o-border-radius:2em;border-radius:2em;-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out;width:80%}
.conf_idiomas,.idiomas{background:#1f1f1f;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:'Open Sans',Verdana,Arial;font-size:;font-weight:bold;height:2.6em;width:100%}
.enlaces-utiles,.telefonos{border:thin solid #d6d6d6;-ms-border-radius:.5em;-moz-border-radius:.5em;-webkit-border-radius:.5em;-o-border-radius:.5em;border-radius:.5em;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;height:200px;vertical-align:top;width:65%}
.enlaces-utiles{margin-left:.3em;}
.enlaces-utiles p{display:inline-block;font-size:.9em;font-weight:bold;margin:.5em auto;margin-left:1em;text-align:left;vertical-align:top;width:45%;}
.enlaces-utiles p img{height:25px;margin:.3em .3em .3em -.3em;width:25px}
.enlaces-utiles p a{color:#743809;font-weight:bold;margin-left:0;position:relative;top:-.7em;text-decoration:none}
.eventos{height:300px;margin:0 auto;width:95%;}
.eventos input[type="text"]{background:#f0f0f0;color:#f0f0f0;width:230px}
.fluid_container{margin:0 auto;width:80%}
.footer_container{margin:0 auto;width:80%}
.idiomas,.social_icons{display:inline-block;margin:0 auto;text-align:right;vertical-align:middle;width:60%}
.idiomas{margin:0 0 0 5em;}
.idiomas a{color:#fff;text-decoration:none}
.idiomas img{height:28px;margin:1em .3em 0 0;position:relative;top:1px;width:30px}
.esp,.eng{display:inline-block;position:relative;top:-20px;vertical-align:middle;max-width:20%;width:15%;}
.esp a,.eng a{position:relative;top:-.5em}
.logotipo{background:#fff;border:.4em dotted #1e6381;-ms-border-radius:999px;-moz-border-radius:999px;-webkit-border-radius:999px;-o-border-radius:999px;border-radius:999px;height:70px;left:10px;position:relative;-ms-box-shadow:.3em 0 .2em #b3b3b3;-moz-box-shadow:.3em 0 .2em #b3b3b3;-o-box-shadow:.3em 0 .2em #b3b3b3;-webkit-box-shadow:.3em 0 .2em #b3b3b3;box-shadow:.3em 0 .2em #b3b3b3;top:30px;width:70px;}
.logotipo:hover{cursor:pointer;-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg);-ms-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;-webkit-transition:all 1s ease-out;transition:all 1s ease-out}
.longdesc{display:none}
.mapa-misiones{border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;height:430px;margin:.3em auto 2.5em auto;}
.mapa-misiones h3{color:#88420b}
.menu-lateral,.principal{background:#f0f0f0;color:#4d4d4d;display:inline-block;height:1640px;margin-right:.2em;vertical-align:top;max-width:45%}
.menu-lateral{max-width:53.5%;}
.menu-lateral h2{color:#c8042c}
.modalDialog{position:fixed;font-family:Arial,Helvetica,sans-serif;top:0;right:-100;bottom:0;background:rgba(0,0,0,0.8);z-index:99999;opacity:0;-webkit-transition:opacity 400ms ease-in;-moz-transition:opacity 400ms ease-in;transition:opacity 400ms ease-in;pointer-events:none;width:100%;}
.modalDialog:target{opacity:1;pointer-events:auto}
.modalDialog > div{width:700px;position:relative;margin:10% auto;padding:5px 20px 13px 20px;height:280px;-ms-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px;background:#fff}
.close{background:#606061;color:#fff;line-height:25px;position:absolute;right:-12px;text-align:center;top:-10px;width:24px;text-decoration:none;font-weight:bold;-ms-border-radius:.9em;-moz-border-radius:.9em;-webkit-border-radius:.9em;-o-border-radius:.9em;border-radius:.9em;-ms-box-shadow:1px 1px 3px #000;-moz-box-shadow:1px 1px 3px #000;-o-box-shadow:1px 1px 3px #000;-webkit-box-shadow:1px 1px 3px #000;box-shadow:1px 1px 3px #000;}
.close:hover{background:#a70325}
.multimedia{width:41%;}
.multimedia p{font-size:.8em;font-weight:bold;margin:.2em 1.4em;text-align:justify}
.multimedia div{text-align:center;}
.multimedia div img{height:40px;width:40px}
.multimedia div a{color:#ce8610;font-size:1.1em;font-weight:bold;text-decoration:none}
.principal{-ms-box-shadow:.3em 0 .1em #e0e0e0;-moz-box-shadow:.3em 0 .1em #e0e0e0;-o-box-shadow:.3em 0 .1em #e0e0e0;-webkit-box-shadow:.3em 0 .1em #e0e0e0;box-shadow:.3em 0 .1em #e0e0e0}
.proximos-eventos{border:thin solid #d6d6d6;}
.proximos-eventos article{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:.8em;font-weight:bold;height:50px;margin:.2em 1.2em;-ms-box-shadow:0 0 .5em #d0d1d9;-moz-box-shadow:0 0 .5em #d0d1d9;-o-box-shadow:0 0 .5em #d0d1d9;-webkit-box-shadow:0 0 .5em #d0d1d9;box-shadow:0 0 .5em #d0d1d9;text-align:justify;}
.proximos-eventos article p,.proximos-eventos article a{display:inline-block;vertical-align:top}
.proximos-eventos article p{background:#1e6381;color:#fff;cursor:pointer;font-size:1.5em;font-weight:bold;height:30px;padding:.5em;width:30px}
.proximos-eventos article a{color:#1e6381;margin-left:.5em;text-decoration:none}
.proximos-eventos span{text-align:center;margin-top:.5em;margin-left:10em;}
.proximos-eventos span a{color:#a70325;text-decoration:none}
.recomendaciones{text-align:center;}
.recomendaciones img{height:120px;width:90%}
.materiales,.relatos{border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;display:inline-block;height:220px;margin:-2em 0 0 0;vertical-align:top;width:40%;}
.materiales h3,.relatos h3{font-size:1em;font-weight:bold}
.materiales p{font-size:.8em;font-weight:bold;margin:0 1.7em;text-align:justify}
.materiales div{margin-top:1.5em;text-align:center;}
.materiales div a{color:#ce8610;font-size:1.1em;font-weight:bold;text-decoration:none}
.relatos{color:#26272f;margin-left:1.2em;width:53%;}
.relatos p{font-size:.8em;font-weight:bold;margin:0 .5em;padding:0 .5em;text-align:justify;}
.relatos p a{color:#303030;text-decoration:none}
.relatos img{cursor:pointer;height:80px;margin:.5em 0 0 6em;max-width:55px}
.social_icons{height:2.6em;text-align:center;width:20%;}
.social_icons a{text-decoration:none}
.social_icons img{margin:.4em auto}
.superior{background:transparent;height:130px;width:100%}
.suscribete{margin-left:1.3em;text-align:center;width:47%;}
.suscribete input[type="text"]{background:#f0f0f0;border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;color:#f0f0f0;margin-top:.5em;height:30px;width:230px}
.suscribete input[type="button"]{-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25799d),color-stop(100%,#184f67));height:30px;color:#fff;width:90px}
.telefonos{font-size:.9em;font-weight:bold;text-align:center;width:30%;}
.telefonos a{color:#c8042c;text-decoration:none}
.telefonos img{height:80px;margin-top:.5em;margin-bottom:.5em;width:80px}
.titulo{font-family:'Open Sans',Arial,Verdana;font-size:2em;font-weight:bold;text-shadow:0 .1em .2em #1e6381}
.wcont{color:#ccc;display:inline-block;text-align:center;vertical-align:top;width:24%;}
.wcont ul{margin-top:.5em;margin-bottom:.5em}
.wcont li{list-style:none;}
.wcont li a{color:#808080;text-decoration:none}
@media screen and (max-width: 1200px){footer{background:#a70325}
aside article{margin:0 .25em}
header,nav,.contenedor{width:90%}
nav li.menu:nth-child(5){width:1%}
#map_canvas{height:350px;max-width:180px}
.accesibilidad{margin:.3em auto;height:230px;}
.accesibilidad p{margin:.1em 2em}
.buscar{width:27%}
.enlaces-utiles,.telefonos{height:215px}
.enlaces-utiles p{max-width:42%;}
.enlaces-utiles p img{margin:.2em}
.eventos{height:300px;}
.eventos input[type="text"]{width:210px}
.idiomas{font-size:.8em;font-weight:bold}
.proximos-eventos span a{font-size:.9em;font-weight:bold}
.suscribete input[type="text"]{width:210px}
}@media screen and (max-width: 1024px){footer{background:#008000}
aside{margin-left:1em;height:130px;text-align:center;width:90%;}
aside article{margin:0 .7em}
h2,h3{font-size:1.1em;font-weight:bold}
nav li.menu{padding:.8em .5em .8em .5em;}
nav li.menu:nth-child(5){width:0%}
#locations li{font-size:.9em;font-weight:bold;height:65px;max-width:120px}
#map_canvas{max-width:190px}
#more-info{font-size:.8em;font-weight:bold;height:160px;margin-bottom:3em;width:95%}
.accesibilidad{height:260px}
.buscar{font-size:.9em;font-weight:bold;padding:.5em;width:30%}
.calendario-notas{height:140px;width:95%;}
.calendario-notas p{font-size:.8em;font-weight:bold;margin:0 .4em;text-align:justify}
.calendario-eventos{width:95%}
.clima{height:390px;width:90%}
.menu-lateral,.principal{height:2480px}
.enlaces-utiles{height:210px;margin-left:.2em;width:95%;}
.enlaces-utiles p{font-size:.8em;font-weight:bold;margin:.3em auto;margin-left:1em;max-width:45%;}
.enlaces-utiles p img{width:30px}
.esp,.eng{max-width:25%;width:23%}
.eventos{height:300px;margin:0 auto;text-align:center;}
.eventos input[type="text"]{width:250px}
.mapa-misiones{height:580px}
.materiales{height:150px;margin-left:1em;width:90%}
.multimedia{height:280px;margin-left:1.3em;width:90%;}
.multimedia p{font-size:.9em;font-weight:bold}
.proximos-eventos article{margin:.1em .6em;}
.proximos-eventos article a{font-size:.9em;font-weight:bold;margin:0}
.proximos-eventos span{margin-left:4em}
.relatos{height:220px;margin-bottom:2.3em;width:90%}
.suscribete{width:90%;margin-bottom:.5em;}
.suscribete input[type="text"]{width:270px}
.telefonos{height:180px;margin:.3em;width:95%}
.titulo{font-size:1.5em;font-weight:bold;width:45%}
.wcont{font-size:.9em;font-weight:bold}
}@media screen and (max-width: 768px){aside,.suscribete{height:180px;width:45%}
aside{margin-left:.2em;width:47%}
.suscribete input[type="text"]{width:200px}
footer{background:#1e6381}
header,nav,.contenedor{width:95%}
#more-info{height:auto;width:33%}
.accesibilidad{height:190px;margin-bottom:.4em}
.acceso,.formulario{margin:.2em auto;width:90%}
.acceso{height:200px}
.buscar{width:30%}
.calendario-eventos,.calendario-notas{display:inline-block;vertical-align:top;width:55%}
.calendario-notas{width:40%}
.clima,.multimedia{margin-top:-2em;height:380px;width:52%}
.enlaces-utiles,.telefonos{display:inline-block;height:200px;vertical-align:top;width:65%}
.telefonos{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:30%}
.esp,.eng{max-width:30%;width:29.5%}
.eventos{height:300px;}
.eventos input[type="text"]{margin-left:2em;width:220px}
.mapa-misiones{width:95%;height:430px}
.materiales,.relatos{height:200px;width:52%}
.materiales{margin-left:.2em;width:38%}
.menu-lateral{height:auto;margin:0 auto;max-width:100%}
.modalDialog{margin:0 auto}
.modalDialog > div{width:400px;height:500px}
.multimedia{margin-left:.2em;width:38%}
.principal{height:auto;margin-bottom:.8em;max-width:100%;-ms-box-shadow:0 0 0 #fff;-moz-box-shadow:0 0 0 #fff;-o-box-shadow:0 0 0 #fff;-webkit-box-shadow:0 0 0 #fff;box-shadow:0 0 0 #fff}
.recomendaciones img{height:150px;width:90%}
.titulo{font-size:1.2em;font-weight:bold;width:40%}
}@media screen and (max-width: 600px){aside article{margin-left:0}
footer{background:#0ff}
header,nav,.contenedor{width:100%}
nav li.menu{font-size:1em;font-weight:bold;padding:.7em 1em .7em 1.2em;width:17%;}
nav li.menu:last-child{margin-left:20%;margin-top:.2em;width:40%}
#map_canvas{width:36%}
#more-info{height:auto;width:28%}
.buscar{display:block;margin-left:3em;margin-bottom:2em;width:100%}
.esp,.eng{max-width:36%;width:36%}
.formulario{font-size:.9em;font-weight:bold;height:250px;text-align:left;}
.formulario input[type="password"],.formulario input[type="text"]{margin:0 auto;margin-left:5%;width:300px}
.formulario input[type="button"]{margin-left:50%}
.formulario label{margin-right:50%}
.fluid_container{margin-top:2em}
.mapa-misiones{width:100%}
.modalDialog{margin:0 auto}
.modalDialog > div{width:360px;height:500px}
.social_icons{width:25%}
.titulo{font-size:1.4em;font-weight:bold;margin-top:1.6em;width:60%}
.wcont{width:45%}
}@media screen and (max-width: 480px){footer{background:#f0f}
aside,.relatos,.materiales,.suscribete{margin:.3em auto .3em auto;width:100%}
aside,.suscribete{height:150px}
nav li.menu{text-align:center;width:91%;}
nav li.menu:last-child{margin-left:5%;margin-top:0;width:80%}
#map_canvas{width:55%}
#more-info{width:95%}
.accesibilidad{font-size:.9em;font-weight:bold;height:230px}
.calendario-eventos{width:95%}
.calendario-notas{height:140px;width:95%}
.clima,.multimedia{margin:.3em auto .3em auto;width:100%}
.enlaces-utiles{font-size:1em;font-weight:bold;height:220px;width:95%;}
.enlaces-utiles p{max-width:47%;}
.enlaces-utiles p img{margin:.2em}
.esp,.eng{max-width:44%;width:43%}
#twitter,#facebook{font-size:.6em;font-weight:bold}
.acceso{height:230px;}
.acceso p{font-size:.7em;font-weight:bold}
.formulario input[type="password"],.formulario input[type="text"]{width:170px}
.formulario input[type="button"]{margin-left:30%}
.modalDialog > div{width:200px}
.idiomas{font-size:.8em;font-weight:bold;margin:0;width:65%}
.logotipo{margin-left:1em;height:40px;width:40px}
.mapa-misiones{height:580px;margin-bottom:.5em}
.menu-lateral{margin-top:3em}
.multimedia{height:300px}
.social_icons{width:32%;}
.social_icons img{height:30px;width:30px}
.telefonos{width:95%}
.titulo{font-size:1.5em;font-weight:bold;margin-top:1.6em;width:60%}
}@media screen and (max-width: 320px){footer{background:#ff0}
.accesibilidad{height:250px}
.conf_idiomas{width:100%}
.enlaces-utiles,.telefonos{width:100%;}
.enlaces-utiles h3,.telefonos h3{font-size:1em;font-weight:bold}
.idiomas{font-size:.7em;font-weight:bold}
.mapa-misiones{display:none}
.menu-lateral{margin-top:4em}
.proximos-eventos article{height:50px;}
.proximos-eventos article p{font-size:.8em;font-weight:bold;margin-right:1.6em;height:20px;width:20px}
.proximos-eventos article a{font-size:.9em;font-weight:bold}
.social_icons img{height:28px;width:28px}
.wcont{width:100%}
}