.container{background:#f0f0f0;margin:.6em auto;width:80%}
.folletos,.informacion_general,.mapas{border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;height:auto;margin:.3em auto;width:90%;}
.folletos article,.informacion_general article,.mapas article{border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;display:inline-block;margin-left:2%;margin-bottom:.5em;padding:.5em;vertical-align:top;width:44%;}
.folletos article img,.informacion_general article img,.mapas article img{float:left}
.folletos article div,.informacion_general article div,.mapas article div{padding:.2em;}
.folletos article div h4,.informacion_general article div h4,.mapas article div h4{color:#4c2506;font-size:1em;font-weight:bold;margin-top:-10%;margin-left:30%}
.folletos article a,.informacion_general article a,.mapas article a{color:#a70325;font-size:.7em;font-weight:bold;font-weight:normal;margin-left:.7em;text-decoration:none}
.folletos h3,.informacion_general h3,.mapas h3{background:#f0f0f0;color:#4c2506;text-align:left;width:20%}
.folletos h3{color:#a70325}
.folletos article div h4{color:#a70325}
.libros,.menu_libros{display:inline-block;height:auto;margin:0 auto;vertical-align:top;width:65%}
.libros{-ms-box-shadow:.3em 0 .1em #e0e0e0;-moz-box-shadow:.3em 0 .1em #e0e0e0;-o-box-shadow:.3em 0 .1em #e0e0e0;-webkit-box-shadow:.3em 0 .1em #e0e0e0;box-shadow:.3em 0 .1em #e0e0e0;}
.libros h3{width:30%}
.libros p{font-size:.9em;font-weight:bold;font-weight:normal;margin-left:3%;}
.libros p a{color:#a70325;font-weight:bold;text-decoration:none}
.mapas h3{color:#ce8610}
.mapas article div h4{color:#ce8610}
.menu_libros{margin-left:1%;width:32%}
.redes_sociales{margin:0 auto;width:95%;}
.redes_sociales article{border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;height:80px;margin:.3em;margin-left:2%;}
.redes_sociales article img{float:left;height:70px;margin:.3em;width:70px}
.redes_sociales article div{margin:.4em;}
.redes_sociales article div h4{color:#a70325;font-size:.9em;font-weight:bold;margin-left:30%}
.redes_sociales article div p{font-size:.75em;font-weight:bold;font-weight:normal;margin-left:30%}
.suscribete_redes{border:thin solid #d6d6d6;height:150px;margin-left:.4em;text-align:center;width:95%;}
.suscribete_redes h3{color:#ce8610}
.suscribete_redes input[type="text"]{background:#f0f0f0;border:thin solid #d6d6d6;-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;color:#333;margin-top:.5em;height:30px;width:230px}
.suscribete_redes input[type="button"]{-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25799d),color-stop(100%,#184f67));background:-ms-linear-gradient(top,#25799d 0%,#184f67 100%);background:-o-linear-gradient(top,#25799d 0%,#184f67 100%);background:-moz-linear-gradient(top,#25799d 0%,#184f67 100%);background:linear-gradient(top,#25799d 0%,#184f67 100%);height:30px;color:#fff;width:90px}
