#book{height:480px;margin:0 8%;width:700px}
.contenedor_tabs{background:ligthen(#333,80%);height:500px;margin:.2% auto;width:95%}
.contenedor_imagen{background:#1e6381;height:450px;margin:0 auto;width:100%}
.libreria{color:#1e6381;font-size:1.2em;font-weight:bold;margin:.5em;text-align:center;}
.libreria h4{margin-bottom:.6em}
.libreria a{background:#a70325;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25799d),color-stop(100%,#184f67));background:-ms-linear-gradient(top,#25799d 0%,#184f67 100%);background:-o-linear-gradient(top,#25799d 0%,#184f67 100%);background:-moz-linear-gradient(top,#25799d 0%,#184f67 100%);background:linear-gradient(top,#25799d 0%,#184f67 100%);-ms-border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;color:#fff;padding:.3em .6em;text-decoration:none;height:30px;width:90px}
.librerias{background:#1e6381;height:400px;margin:.5em auto;width:95%}
.menuLibros article{display:inline-block;margin:0 auto;position:relative;vertical-align:top;top:20px;width:40%;}
.menuLibros article img{height:100px;width:80px}
.menuLibros p img{height:80px;width:90%}
.pueblos,.pueblos_menu{display:inline-block;height:auto;margin:0 auto;vertical-align:top;width:65%}
.pueblos{-ms-box-shadow:.3em 0 .1em #e0e0e0;-moz-box-shadow:.3em 0 .1em #e0e0e0;-o-box-shadow:.3em 0 .1em #e0e0e0;-webkit-box-shadow:.3em 0 .1em #e0e0e0;box-shadow:.3em 0 .1em #e0e0e0;}
.pueblos h3{width:30%}
.pueblos p{font-size:.9em;font-weight:bold;font-weight:normal;margin-left:3%;}
.pueblos p a{color:#a70325;font-weight:bold;text-decoration:none}
.pueblos_menu{margin-left:1%;width:32%;text-align:center;}
.pueblos_menu ul{list-style:none;}
.pueblos_menu ul li{display:inline-block;vertical-align:top;width:45%;}
.pueblos_menu ul li img{cursor:pointer;height:80px;width:80px}
.pueblos_menu ul li h4{cursor:pointer;color:#1e6381;font-size:1em;font-weight:bold}
.tabs{margin:0;width:90%}
.tabs input{cursor:pointer;height:40px;left:0;opacity:0;position:absolute;top:0;width:120px;z-index:1000;}
.tabs input #tab-1{background:#1e6381}
.tabs input #tab-2{left:120px}
.tabs input #tab-3{left:240px}
.tabs input #tab-4{left:360px}
.tabs input:hover + label{background:#1e6381;-webkit-transition:top linear .2s;-moz-transition:top linear .2s;-o-transition:top linear .2s;-ms-transition:top linear .2s;transition:top linear .2s;top:-8px}
.tabs label{background:#1e6381;-ms-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;color:#f2f2f2;display:block;float:left;font-size:.9em;font-weight:bold;font-weight:bold;letter-spacing:1px;line-height:40px;padding:0 20px;position:relative;-ms-box-shadow:2px 0 2px rgba(0,0,0,0.1) -2px 0 2px rgba(0,0,0,0.1);-moz-box-shadow:2px 0 2px rgba(0,0,0,0.1) -2px 0 2px rgba(0,0,0,0.1);-o-box-shadow:2px 0 2px rgba(0,0,0,0.1) -2px 0 2px rgba(0,0,0,0.1);-webkit-box-shadow:2px 0 2px rgba(0,0,0,0.1) -2px 0 2px rgba(0,0,0,0.1);box-shadow:2px 0 2px rgba(0,0,0,0.1) -2px 0 2px rgba(0,0,0,0.1);text-shadow:1px 1px 1px rgba(255,255,255,0.3);text-align:center;text-transform:uppercase;top:0;width:80px;}
.tabs label:after{background:#fff;content:'';height:8px;display:block;left:0;position:absolute;width:100%}
#pag-1 > div,#pag-3 > div{background:#1e6381;-ms-border-radius:99999px;-moz-border-radius:99999px;-webkit-border-radius:99999px;-o-border-radius:99999px;border-radius:99999px;float:right;height:40px;margin-right:.5em;text-align:center;position:relative;left:-.5em;top:8.8em;width:40px;}
#pag-1 > div a,#pag-3 > div a{color:#fff;position:relative;text-decoration:none;top:.6em}
#pag-2 > div,#pag-4 > div{background:#1e6381;-ms-border-radius:99999px;-moz-border-radius:99999px;-webkit-border-radius:99999px;-o-border-radius:99999px;border-radius:99999px;height:40px;margin-right:.5em;text-align:center;position:relative;left:.5em;top:1em;width:40px;}
#pag-2 > div a,#pag-4 > div a{color:#fff;position:relative;text-decoration:none;top:.6em}
#pag-4{top:1.6em}
#pag-5 > div{background:#1e6381;-ms-border-radius:99999px;-moz-border-radius:99999px;-webkit-border-radius:99999px;-o-border-radius:99999px;border-radius:99999px;float:right;height:40px;margin-right:.5em;text-align:center;position:relative;left:-.5em;top:2.5em;width:40px;}
#pag-5 > div a{color:#fff;position:relative;text-decoration:none;top:.6em}
#pag-6 > div{background:#1e6381;-ms-border-radius:99999px;-moz-border-radius:99999px;-webkit-border-radius:99999px;-o-border-radius:99999px;border-radius:99999px;height:40px;margin-right:.5em;text-align:center;position:relative;left:.5em;top:5em;width:40px;}
#pag-6 > div a{color:#fff;position:relative;text-decoration:none;top:.6em}
#pag-7 > div{background:#1e6381;-ms-border-radius:99999px;-moz-border-radius:99999px;-webkit-border-radius:99999px;-o-border-radius:99999px;border-radius:99999px;float:right;height:40px;margin-right:.5em;text-align:center;position:relative;left:-.5em;top:1em;width:40px;}
#pag-7 > div a{color:#fff;position:relative;text-decoration:none;top:.6em}
#pag-7 h4{color:#1e6381;margin-top:1.4em;text-align:center}
#pag-u h4{color:#1e6381;margin-top:1.4em;text-align:center}
#pag-1,#pag-2,#pag-3,#pag-4,#pag-5,#pag-6,#pag-7,#pag-u{background:#e6e6e6;}
#pag-1 p,#pag-2 p,#pag-3 p,#pag-4 p,#pag-5 p,#pag-6 p,#pag-7 p,#pag-u p{margin:1.4em auto 0 auto;text-align:justify;width:80%}
#pag-1 img,#pag-2 img,#pag-3 img,#pag-4 img,#pag-5 img,#pag-6 img,#pag-7 img,#pag-u img{height:120px;margin:0 auto;width:90%}
.portada img{height:100%;width:100%}
.contraportada{background:#e6e6e6;}
.contraportada h4{color:#1e6381;margin-top:1.4em;text-align:center}
.contraportada p{margin:0 auto;text-align:justify;width:80%}
