@import "_var"
@import "_mixins"

.hard 
	background rojizo 

#book 
	height 500px
	margin 0 10%
	width 700px 	

.contenedor_tabs
	background ligthen(gris, 80%)
	height 500px 
	margin .2% auto
	width 95%

.librerias
	background azul
	height 400px 
	margin .5em auto 
	width 95%

.menuLibros
	article 
		display inline-block 
		margin 0 auto
		position relative
		vertical-align top
		top 20px
		width 40%
		img 
			height 100px 
			width 80px 
	p 
		img  
			height 80px
			width 90% 



.pueblos, .pueblos_menu
	display inline-block  
	height auto
	margin 0 auto
	vertical-align top
	width 65%

.pueblos 
	sombras-caja(.3em 0 .1em darken(blanco, 12%))
	h3
		width 30%
	p 
		font-size .9em
		font-weight normal
		margin-left 3%
		a 
			color rojizo
			font-weight bold
			text-decoration none 

.pueblos_menu
	margin-left 1%
	width 32%
	text-align center
	ul 
		list-style none
		li 
			display inline-block
			vertical-align top 
			width 45%
			img
				cursor pointer
				height 80px
				width 80px 
			h4 
				cursor pointer
				color azul
				font-size 1em 

.tabs 
	margin 0 
	width 90%

.tabs input 
	cursor pointer
	height 40px 
	left 0px 
	opacity 0 
	position absolute 
	top 0px 
	width 120px 
	z-index 1000
	#tab-1 
		background azul
	#tab-2 
		left 120px 
	#tab-3
		left 240px 
	#tab-4 
		left 360px
	&:hover + label 
		background azul 
		-webkit-transition top linear 0.2s 
		-moz-transition top linear .2s 
		-o-transition top linear .2s
		-ms-transition top linear .2s
		transition top linear .2s
		top -8px 

.tabs label 
	background azul
	bordes(3px 3px 0 0)
	color darken(blanco, 5%)
	display block  
	float left 
	font-size .9em
	font-weight bold 
	letter-spacing 1px  
	line-height 40px 
	padding 0 20px
	position relative
	sombras-caja(2px 0 2px rgba(0, 0, 0, .1), -2px 0 2px rgba(0, 0, 0, .1))
	text-shadow 1px 1px 1px rgba(255, 255, 255, .3)
	text-align center 
	text-transform uppercase
	top 0px
	width 80px
	&:after 
		background blanco 
		content: ''
		height 8px 
		display block
		left 0 
		position absolute 
		width 100% 
