/* Media-queries 320 480 600 768 1024 1200 */
@media screen and (max-width: 1200px)
	aside 
		article
			margin 0 .25em 
	header, nav, .contenedor 
		width 90%
	nav 
		li.menu
			&:nth-child(5)
				width 1%
	#map_canvas 
		height 350px 
		max-width 180px 
	.accesibilidad
		margin .3em auto
		height 230px
		p 
			margin .1em 2em
	.buscar 
		width 27%
	.enlaces-utiles, .telefonos
		height 215px
	.enlaces-utiles
		p 
			max-width 42%
			img 
				margin .2em
	.eventos 
		height 300px
		input[type="text"]
			width 210px
	.idiomas 
		font-size .8em
	.proximos-eventos
		span 
			a 
				font-size .9em
	.suscribete
		input[type="text"]
			width 210px


@media screen and (max-width: 1024px)
	aside 
		margin-left 1em
		height 130px
		text-align center
		width 90%
		article
			margin 0 .7em
	h2, h3 
		font-size 1.1em
	nav 
		li.menu
			padding .8em .5em .8em .5em
			&:nth-child(5)
				width 0%
	#locations 
		li 
			font-size .9em
			height 65px
			max-width 120px
	#map_canvas 
		max-width 190px 

	#more-info 
		font-size .8em
		height 160px
		margin-bottom 3em
		width 95% 

	.accesibilidad
		height 260px
	.buscar 
		font-size .9em
		padding .5em
		width 30%
	.calendario-notas
		height 140px
		width 95%
		p
			font-size .8em
			margin 0 .4em
			text-align justify	
	.calendario-eventos
		width 95%
	.clima 
		height 390px
		width 90%	
	.menu-lateral, .principal
		height 2480px

	.enlaces-utiles
		height 210px
		margin-left .2em
		width 95%
		p 
			font-size .8em
			margin .3em auto
			margin-left 1em
			max-width 45%
			img 
				width 30px
	.esp, .eng
		max-width 25%
		width 23%
	.eventos 
		height 300px
		margin 0 auto
		text-align center
		input[type="text"]
			width 250px
	.mapa-misiones 
		height 580px
	.materiales
		height 150px
		margin-left 1em
		width 90%

	.multimedia
		height 280px
		margin-left 1.3em
		width 90%	
		p 
			font-size .9em	
	
	.proximos-eventos
		article
			margin .1em .6em
			a 
				font-size .9em
				margin 0
		span 
			margin-left 4em
	.relatos 
		height 220px
		margin-bottom 2.3em
		width 90%
	.suscribete 
		width 90%
		margin-bottom .5em
		input[type="text"]
			width 270px
	.telefonos
		height 180px
		margin .3em 
		width 95%
	.titulo 
		font-size 1.5em
		width 45%
	.wcont
		font-size .9em

@media screen and (max-width: 768px)
	aside, .suscribete 
		height 180px
		width 45%
	aside
		margin-left .2em
		width 47%
	.suscribete 
		input[type="text"]
			width 200px
	header, nav, .contenedor 
		width 95%
	#more-info 
		height auto
		width 33%
	.accesibilidad
		height 190px
		margin-bottom .4em
	.acceso, .formulario 
		margin .2em auto
		width 90%
	.acceso 
		height 200px
	.buscar 
		width 30%
	.calendario-eventos, .calendario-notas 
		display inline-block
		vertical-align top 
		width 55%
	.calendario-notas
		width 40%
	.clima, .multimedia 
		margin-top -2em
		height 380px
		width 52%
	.enlaces-utiles, .telefonos
		display inline-block
		height 200px
		vertical-align top 
		width 65%
	.telefonos
		box-sizing()
		width 30%
	.esp, .eng
		max-width 30%
		width 29.5%
	.eventos
		height 300px
		input[type="text"]
			margin-left 2em
			width 220px
	.mapa-misiones 
		width 95%
		height 430px
	.materiales, .relatos
		height 200px
		width 52%
	.materiales
		margin-left .2em
		width 38%
	.menu-lateral
		height auto
		margin 0 auto
		max-width 100%
	.modalDialog 
		margin 0 auto
	.modalDialog > div 
		width 400px
		height 500px
	.multimedia 
		margin-left .2em
		width 38%
	.principal 
		height auto
		margin-bottom .8em
		max-width 100%
		sombras-caja(0, 0, 0, blanco)
	.recomendaciones
		img 
			height 150px 
			width 90%
	.titulo 
		font-size 1.2em
		width 40%

@media screen and (max-width: 600px)
	aside
		article
			margin-left 0
	header, nav, .contenedor 
		width 100%
	nav 
		li.menu
			font-size 1em
			padding .7em 1em .7em 1.2em
			width 16%
			&:last-child
				margin-left 20%
				margin-top .2em
				width 40%
	#map_canvas
		width 36%
	#more-info 
		height auto
		width 28%
	.buscar 
		display block
		margin-left 3em
		margin-bottom 2em
		width 100%
	.esp, .eng
		max-width 36%
		width 36%
	.formulario
		font-size .9em 
		height 250px
		text-align left
		input[type="password"], input[type="text"]
			margin 0 auto
			margin-left 5%
			width 300px
		input[type="button"]
			margin-left 50%
		label
			margin-right 50%
	.fluid_container
		margin-top 2em
	.mapa-misiones 
		width 100%
	.modalDialog 
		margin 0 auto
	.modalDialog > div 
		width 360px
		height 500px
	.social_icons
		width 25%
	.titulo 
		font-size 1.4em
		margin-top 1.6em
		width 60%
	.wcont
		width 45%


@media screen and (max-width: 480px)
	aside, .relatos, .materiales, .suscribete
		margin .3em auto .3em auto
		width 100%
	aside, .suscribete
		height 150px
	nav 
		li.menu
			text-align center
			width 91%
			&:last-child
				margin-left 5% 
				margin-top 0
				width 80%
	#map_canvas 
		width 50%
	#more-info 
		width 95%
	.accesibilidad
		font-size .9em
		height 230px
	.calendario-eventos
		width 95%
	.calendario-notas
		height 140px
		width 95%
	.clima, .multimedia
		margin .3em auto .3em auto
		width 100%
	.enlaces-utiles
		font-size 1em
		height 220px
		width 100%
		p 
			max-width 47%
			img 
				margin .2em
	.esp, .eng
		max-width 44%
		margin-left -.1em
		width 44%

	#twitter, #facebook
		font-size .6em
	.acceso
		height 230px
		p 
			font-size .7em
	.formulario
		input[type="password"], input[type="text"]
			width 170px
		input[type="button"]
			margin-left 30%
	.modalDialog > div 
		width 200px
	.idiomas 
		font-size .7em
		margin 0
		width 65%
	.logotipo 
		margin-left 1em
		height 40px 
		width 40px
	.mapa-misiones 
		height 580px 
		margin-bottom .5em
	.menu-lateral
		margin-top 3em
	.multimedia 
		height 300px
	.social_icons
		width 30%
		img 
			height 26px 
			width 26px
	.telefonos 
		width 95%
	.titulo 
		font-size 1.5em
		margin-top 1.6em
		width 60%

@media screen and (max-width: 320px)
	.accesibilidad
		height 250px
	.buscar 
		margin-top -.5em
	.calendario-eventos 
		input[type="text"]
			border thin solid blanco
			position relative
	.conf_idiomas
		width 100%
	.enlaces-utiles, .telefonos
		width 100%
		h3 
			font-size 1em
	.enlaces-utiles 
		font-size .9em
	.eventos_div
		position relative 
		top -10px
	.idiomas 
		font-size .6em

	.mapa-misiones 
		display none
	.menu-lateral
		margin-top 4em
	.proximos-eventos 
		article
			height 50px
			p 	
				font-size .8em
				margin-right 1.6em
				height 20px 
				width 20px
			a 
				font-size .9em
	.social_icons
		img 
			height 26px 
			margin-left -.1em
			width 26px
	.titulo 
		font-size 1.2em
		margin-top 1.6em
	.wcont
		width 100%