@import "_var"

.contenido_secciones, .secciones
	background blanco
	height 550px
	margin 0 auto
	width 80%

.contenido_secciones
	margin-top .5em

.menu_secciones, .pueblos_secciones
	display inline-block
	height 500px
	vertical-align top
	width 20%

.pueblos_secciones
	background darken(blanco, 10%)
	width 75%