* 
	border 0 
	margin 0
	padding 0

body 
	background #DDD

h1 
	color white
	margin 0 auto
	text-align center
	text-shadow .1em .1em .3em #333

section
	height 300px
	margin 0 auto
	width 90%