<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pueblos Fundacionales</title>
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="En este sitio podrás visualizar todo lo relacionado a los Pueblos Fundacionales de la Zona Norte de BCS, desde su ubicación, hoteles, restaurantes, etc."/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
	<div class="conf_idiomas">
		<div class="idiomas">
			<a href="#">
				<img id="arrow" src="/static/img/arrow.png" alt=""/>
			</a>
			<div class="esp">
				<img src="/static/img/bandera.png" alt="Español">
				<a href="#">Español</a>
			</div>
			<div class="eng">
				<img src="/static/img/ingles.png" alt="Español">
				<a href="#">Inglés</a>
			</div>
		</div>
		<div class="social_icons">
			<a href="#" title="Facebook">
				<img src="/static/img/facebook.png" alt="Facebook" />
			</a>
			<a href="#" title="Twitter">
				<img src="/static/img/twitter.png" alt="Twitter" />
			</a>
			<a href="#" title="RSS">
				<img src="/static/img/rss.png" alt="RSS" />
			</a>
		</div>
	</div>
	<header>
		<section class="superior">
			<img class="logotipo" src="/static/img/Logotipo.png" alt="Proyecto Pueblos">
			<h1 class="titulo">Pueblos Fundacionales</h1>
			<article class="buscar">
				<form class="expandable_search">
  					<input type="search" placeholder="Buscar">
				</form>
			</article>
		</section>
	</header>
	<nav>
		<ul>
			<li class="menu">
				<a href="#">Inicio</a>
			</li>
			<li class="menu">
				<a href="/secciones/">Secciones</a>
			</li>
			<li class="menu">
				<a href="/pueblos/">Pueblos</a>
			</li>
			<li class="menu">
				<a href="/galerias/">Galerías</a>
			</li>
		</ul>
	</nav>
	<section class="contenido_accesos">
		<section class="pueblos_accesos">
			<h2>Sobre Pueblos Fundacionales</h2>
			<section class="menu_secciones_pueblos">
				<ul>
					<li><a href="#">Proyecto Pueblos Fundacionales</a></li>
					<li><a class="cosas" href="#">Cosas que deberías de saber</a></li>
					<li><a href="#">Frases y palabras usuales</a>
						<ul>
							<li><a href="#">Expresiones</a></li>
							<li><a href="#">Frases</a></li>
						</ul>
					</li>
				</ul>
			</section>
			<section class="contenido_secciones_pueblos">
				<p>Pueblos Fundacionales</p>
				<img src="/static/img/Pueblos-Fund.png" alt="">
			</section>
		</section>
		<section class="menu_accesos">
			
		</section>
	</section>
</body>
</html>