{% extends 'base.html' %}
{% load i18n %}
{% block css %}
	<!-- Autores -- >
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/pueblos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}
{% block contenedor %}
<h2>{% trans 'Alojamiento' %}</h2>
<section class="hoteles">
	<h3>{% trans 'Hoteles' %}</h3>
	<section class="hoteles_4">
	{% if hoteles %}
		{% for hotel in hoteles %}
		<section class="estrellas">
			<article class="img_hoteles">
				<img src="/uploads/{{hotel.IMAGEN}}" alt="">
			</article>
			<article class="desc_hoteles">
				<h4>{{hotel.NOMBRE}}</h4>
				<p class="habitaciones">
					
				</p>
				<p class="desc">{% trans 'Descripción' %}: {{hotel.DESCRIPCION}}</p>
				<span>{% trans 'Ubicación' %}: {{hotel.PUEBLO.MUNICIPIO}}</span>
			</article>
			<article class="costo_hoteles">
				<p>{% trans 'Desde' %} <span>${{hotel.PRECIO_DESDE}}</span> {% trans 'MXN' context 'USD' %} </p>
				<a href="{{hotel.URL}}" target="_blank">
					{% trans 'Más info' %}
				</a>
			</article>
		</section>
		{% endfor %}
	{% else %}
	<p>No hay hoteles para mostrar en la pagina.</p>
<!-- 		<section class="estrellas">
			<article class="img_hoteles">
				<img src="/static/img/hotel1.jpg" alt="">
			</article>
			<article class="desc_hoteles">
				<h4>Oasis</h4>
				<p class="habitaciones">
					4 ★ | Pet Friendly | 40 habitaciones
				</p>
				<p class="desc">Frente a la playa, al final del malecón....</p>
				<span>Loreto</span>
			</article>
			<article class="costo_hoteles">
				<p>Desde <span>$800</span> MXN</p>
				<a href="http://www.hoteloasis.com/" target="_blank">
					Más info
				</a>
			</article>
		</section>
		<section class="estrellas">
			<article class="img_hoteles">
				<img src="/static/img/hotel1.jpg" alt="">
			</article>
			<article class="desc_hoteles">
				<h4>Oasis</h4>
				<p class="habitaciones">
					4 ★ | Pet Friendly | 40 habitaciones
				</p>
				<p class="desc">Frente a la playa, al final del malecón....</p>
				<span>Loreto</span>
			</article>
			<article class="costo_hoteles">
				<p>Desde <span>$800</span> MXN</p>
				<a href="http://www.hoteloasis.com/" target="_blank">
					Más info
				</a>
			</article>
		</section>
		<section class="estrellas">
			<article class="img_hoteles">
				<img src="/static/img/hotel1.jpg" alt="">
			</article>
			<article class="desc_hoteles">
				<h4>Oasis</h4>
				<p class="habitaciones">
					4 ★ | Pet Friendly | 40 habitaciones
				</p>
				<p class="desc">Frente a la playa, al final del malecón....</p>
				<span>Loreto</span>
			</article>
			<article class="costo_hoteles">
				<p>Desde <span>$800</span> MXN</p>
				<a href="http://www.hoteloasis.com/" target="_blank">
					Más info
				</a>
			</article>
		</section>
		<section class="estrellas">
			<article class="img_hoteles">
				<img src="/static/img/hotel1.jpg" alt="">
			</article>
			<article class="desc_hoteles">
				<h4>Oasis</h4>
				<p class="habitaciones">
					4 ★ | Pet Friendly | 40 habitaciones
				</p>
				<p class="desc">Frente a la playa, al final del malecón....</p>
				<span>Loreto</span>
			</article>
			<article class="costo_hoteles">
				<p>Desde <span>$800</span> MXN</p>
				<a href="http://www.hoteloasis.com/" target="_blank">
					Más info
				</a>
			</article>
		</section> -->
	{% endif %}
	</section>
</section>
{% endblock %}

{% block js %}
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% endblock %}