<!-- Pagina base.html-->
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pueblos Fundacionales</title>
	<!-- Forzar a IE a utilizar el motor de Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!-- Contenido -->
	<meta name="description" content="Comunidad online donde podrás visualizar todo lo relacionado a los Pueblos Fundacionales de la Zona Norte de BCS, desde su ubicación, hoteles, restaurantes, ¡visítanos!"/>
	<!-- Keywords -->
	<meta name="keywords" content="pueblos fundacionales, baja California sur, restaurantes, hoteles, loreto, mulege, comondu, misiones"/>
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	{%  block css %}
	<!-- Autores -- >
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'>
	{% endblock %}

	{% block js_importante %}{% endblock %}
</head>
<body>
	<!--[if lt IE 9]>
            <p class="chromeframe">Estás utilizando un <strong>viejo y anticuado</strong> navegador que a mi me daría vergüenza de usar. Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> o <a href="http://www.google.com/chromeframe/?redirect=true">activa Google Chrome Frame</a> para mejorar tu experiencia.</p>
    <![endif]-->
    <section class="conf_idiomas">
		<div class="idiomas">
			<a href="#">
				<img id="arrow" src="/static/img/arrow.png" alt=""/>
			</a>
			<div class="esp">
				<img src="/static/img/bandera.png" alt="Español">
				<a href="#">Español</a>
			</div>
			<div class="eng">
				<img src="/static/img/ingles.png" alt="Español">
				<a href="#">Inglés</a>
			</div>
		</div>
		<div class="social_icons">
			<a href="#" title="Facebook">
				<img src="/static/img/facebook.png" alt="Facebook" />
			</a>
			<a href="#" title="Twitter">
				<img src="/static/img/twitter.png" alt="Twitter" />
			</a>
			<a href="#" title="RSS">
				<img src="/static/img/rss.png" alt="RSS" />
			</a>
		</div>
	</section>
	<header>
		<section class="superior">
			<a href="/">
				<img class="logotipo" src="/static/img/Logotipo.png" alt="Proyecto Pueblos">
			</a>
			<h1 class="titulo">Pueblos Fundacionales</h1>
			<article class="buscar">
				<form id='form_search' class="expandable_search" method='POST' action='/busqueda/'>
					{% csrf_token %}
  					<input name='text_search' type="search" placeholder="Buscar" class="icono_buscar">
				</form>
			</article>
		</section>
	</header>
	<div class="fluid_container">
		<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
			<div data-thumb="/static/images/slides/thumbs/Mision1.jpg" data-src="/static/images/slides/Mision1.jpg">
                <div class="camera_caption fadeFromBottom">
                   <a href="/pueblos/">
                   	Misión de San Javier, Sierra  de la Giganta B.C.S.
                   </a>
                </div>
            </div>
            <div data-thumb="/static/images/slides/thumbs/Mision4.jpg" data-src="/static/images/slides/Mision4.jpg">
                <div class="camera_caption fadeFromBottom">
                   <a href="/pueblos/">
                    Misión de San Ignacio de Kadakamaán, una de las mejor conservadas de la península
                   </a>
                </div>
            </div>
           
			<div data-thumb="/static/images/slides/thumbs/Mision3.jpg" data-src="/static/images/slides/Mision3.jpg">
                <div class="camera_caption fadeFromBottom">
                   <a href="/pueblos/">
                   	Misión de Nuestra Señora de Santa Rosalía de Mulegé
                   </a>
                </div>
            </div>
            <div data-thumb="/static/images/slides/thumbs/Mision2.jpg" data-src="/static/images/slides/Mision2.jpg">
                <div class="camera_caption fadeFromBottom">
                   <a href="/pueblos/">La Purísima, B.C.S.
                   </a>
                </div>
            </div>
            <div data-thumb="/static/images/slides/thumbs/Mision5.jpg" data-src="/static/images/slides/Mision5.jpg">
                <div class="camera_caption fadeFromBottom">
                   <a href="/pueblos/">Iglesia de Santa Bárbara, diseñada por Gustave Eiffel
                   </a>
                </div>
            </div>
		</div>
	</div>
	<nav>
		<ul>
			<li class="menu">
				<a href="/">Inicio</a>
			</li>
			<li class="menu">
				<a href="/secciones/">Secciones</a>
			</li>
			<li class="menu">
				<a href="/pueblos/">Pueblos</a>
			</li>
			<li class="menu">
				<a href="/galerias/">Galerías</a>
			</li>
			<li class="menu">
				<a href="#"></a>
			</li>
			{% if user.username != "" %}
				<li class="menu" id="registrado">
					Hola &nbsp;<a href="#">{{user.username}}</a>
					<a href="/cerrar_sesion/">&nbsp;&nbsp;(salir)</a>		
				</li>
				{% else %}
				<li class="menu">
					<a href="#openModal" id="ingresa">Ingresa</a>
				</li>
			{% endif %}
		</ul>
	</nav>
	<!-- Sección de Login --> 
	<div id="openModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<section class="formulario">
				<article id="contenedor_form">
					<h2 id="ingresar_h">Ingresar</h2>
					<form action="#" id="form_ingreso">
					<label for="usuario" class="usuario_lbl">
					Usuario 
					</label>
					<input id="usuario" type="text" placeholder="&nbsp;Introduce tu nombre de usuario" required maxlength='30'>
					<br>
					<label for="password" class="password_lbl">
						Contraseña </label>
					<input id ="password" type="password" placeholder="&nbsp;Introduce tu contraseña" required>
					<br><br>
					<input name="enviar" value="Entrar" type="button">
					<br>
					</form>
				</article>
				<article id="olvido_form">
					<h2 id="recuperar_h">Recuperar</h2>
					<form action="#" id="form_olvido">
					<label for="email">Email </label>
					<input id="email" type="text" placeholder="&nbsp;Introduce tu email" required maxlength='75'>
					<br><br>
					<input name="enviar" value="Recuperar" type="button">
					<br>
					<span id="regresar_olvido">Regresar</span>
					</form>
				</article>
				<article id="acceso">
					<h2 id="acceder_h">Registro</h2>
					<form action="#" id="form_registro">
						<label id="lbl_username" for="username">Usuario</label>
						<input id="username" type="text" placeholder="&nbsp;Usuario" required maxlength='30'><br>
						<label for="correo_e">Email</label>
						<input id="correo_e" type="text" placeholder="&nbsp;Correo electrónico" required><br>
						<label for="password_n">Contraseña</label>
						<input id="password_n" type="password" placeholder="&nbsp;Contraseña" required><br>
						<label id="passwordd" for="password_r">Contraseña</label>
						<input id="password_r" type="password" placeholder="&nbsp;Repetir Contraseña" required>
						<br><br>
						<input name="enviar" value="Registrar" type="button">
					</form>
					<span id="cambio">Regresar</span>
				</article>
				<span id="registro">Registrarse</span>
					<br>
					<span id="olvido">Olvidé mi contraseña</span>
			</section>
		</div>
	</div>
	<section class="contenedor">
		<!-- Principal -->
		{% block contenedor %}{% endblock %}
	</section>
	<footer>
		<section class="footer_container">
			<section class="footer_wrap">
			<section class="wcont">
				<h4 class="title">Patrocinadores</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
			<section class="wcont">
				<h4 class="title">Colaboradores</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
			<section class="wcont">
				<h4 class="title">Enlaces de interés</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
			<section class="wcont">
				<h4 class="title">Contacto</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
		</section>
		</section>
	</footer>
	{%  block js %}{% endblock %}
	<!-- Modernizr -->
	<script src="/static/js/modernizr.custom.17475.js"></script>
	<!-- jQuery Easing -->
	 <script src='/static/scripts/jquery.easing.1.3.js'></script> 
	 <!-- jQuery Mobile -->
	<script src='/static/scripts/jquery.mobile.customized.min.js'></script>
	 <!-- Slider Camera -->
    <script src='/static/scripts/camera.min.js'></script> 
    <script>
		$(function(){		
			$('#camera_wrap_1').camera({
				height : '400px',
				thumbnails: true,
			});
		});
		$el = $('.modalDialog');
		$close = $('.close');
		function onClickClose(e) {
            e.preventDefault();
            self.$el.fadeOut('fast');
        }
		$(function(){
			$('#ingresa').on("click", function(){
				$('.modalDialog').show(function(){
					$(this).fadeIn(5000)
				});
			});
			$close.on('click', onClickClose);
		});
		$(function(){
			$('#registro').on("click", function(){
				$('#form_ingreso').hide();
				$('#registro').hide();
				$('#acceder_h').show();
				$('#ingresar_h').hide();
				$('#olvido').hide();
				$('#acceso').show();
				$('#cambio').show();
			});
		});
		$(function(){
			$('#cambio').on("click", function(){
				$('#ingresar_h').show();
				$('#form_ingreso').show();
				$('span').show();
				$('#acceder_h').hide();
				$('#recuperar_h').hide();
				$('#acceso').hide();
				$('#cambio').hide();
			});
		});
		$(function(){
			$('#olvido').on("click", function(){
				$('#olvido_form').show();
				$('#form_ingreso').hide();
				$('#acceso').hide();
				$('#ingresar_h').hide();
				$('#recuperar_h').show();
				$('#acceder_h').hide();
				$('#registro').hide();
				$('#olvido').hide();
				$('#cambio').hide();
			});
		});
		$(function(){
			$('#regresar_olvido').on("click", function(){
				$('#ingresar_h').show();
				$('#form_ingreso').show();
				$('#olvido_form').hide();
				$('#registro').show();
				$('#olvido').show();
				$('#acceder_h').hide();
				$('#recuperar_h').hide();
				$('#acceso').hide();
				$('#cambio').hide();
			});
		});
		$('#form_ingreso #usuario').on('keypress',validar_usuario);
		function validar_usuario(e)
		{
            usuario = $('#usuario').val();
            if(usuario.length+1>30)
            {
                return false;
            }
			var patt=/[A-Za-zñÑáéíóúÁÉÍÓÚ0-9]+/;
			var caracter = String.fromCharCode(e.charCode);
			if(!patt.test(caracter))
			{
				return false;
			}
		}
		$('#form_ingreso input[name="enviar"]').on('click',autenticar);
		function autenticar(e)
		{
            usuario=$('#usuario').val();
            if(usuario.length>30)
            {
                alert('El nombre de usuario no puede ser mayor de 30 caracteres');
                return;
            }
			var patt=/^[A-Za-zñÑáéíóúÁÉÍÓÚ0-9]+$/;
			if(!patt.test(usuario))
			{
				alert('El nombre de usuario sólo puede contener letras y números.');
				return;
			}
			password = $('#password').val();
			if(password=="")
			{
				alert('La contraseña no puede quedar en blanco.');
				return;
			}
			$.ajax({
				async:false,
                url:"/login_ajax/",
                data:{csrfmiddlewaretoken:'{{csrf_token}}','usuario':usuario,'password':password,},
                type:'POST',
                success:function(response)
                {
                	if(response!='')
                    {
                    	if(response.respuesta=='exito')
                    	{
                    		alert('Usuario logeado.');
		                	setTimeout(function()
		                	{
		                		location.href='/';
		                	}
		                		,2000);
                    	}
                    	else if(response.respuesta=='fallido')
                    	{
                    		alert('Error, datos incorrectos.');
                    	}
                    	else if(response.respuesta=='noActivo')
                    	{
                    		alert('Error, el usuario no esta autorizado para entrar en el sistema.');
                    	}
                    	else if(response.respuesta=='noCampos')
                    	{
                    		alert('No se recibieron los campos completos.');
                    	}
                    	else if(response.respuesta=='noPOST')
                    	{
                    		alert('No se utilizó el mensaje correcto para comunicarse con el servidor.');
                    	}
                   		else if(response.respuesta=='noAJAX')
                    	{
                    		alert('No se utilizó AJAX para la comunicación con el servidor.');
                    	}
                    }
                    else
                    {
                        alert('No hubo respuesta por parte del servidor.');
                    }
                },
                error:function(jqXHR, status, error)
                {
                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
                },
            });
            return false;
        }
		$('#form_registro #username').on('keypress',validar_usuario);
		$('#form_registro #correo_e').on('keypress',validar_correo);
		$('#form_registro input[name="enviar"]').on('click',registrar);
		function validar_correo(e)
		{
            var patt=new RegExp("^[A-Za-z0-9.-_@]+$");
            var caracter = String.fromCharCode(e.charCode);
            if(!patt.test(caracter))
            {
                return false;
            }
		}
		function registrar(e)
		{
			usuario = $('#form_registro #username').val();
			correo = $('#form_registro #correo_e').val();
			password = $('#form_registro #password_n').val();
			password_r = $('#form_registro #password_r').val();
		    var patt=/[A-Za-zñÑáéíóúÁÉÍÓÚ0-9]+/;
		    if(!patt.test(usuario))
		    {
		        alert('El nombre de usuario sólo puede contener letras y números, ningún otro tipo de caracter.');
		        return;
		    }
		    patt= /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
	        if(!patt.test(correo))
	        {
	            alert('El formato del email es incorrecto. Favor de verificarlo.');
	            return;
	        }
	        if(password=="")
	        {
	        	alert('El campo de la contraseña no puede permanecer en blanco.');
	            return;
	        }
	        if(password!=password_r)
	        {
	        	alert('Las campos de contraseñas no pueden ser diferentes. Verifiquelo, por favor.');
	            return;	
	        }
			$.ajax({
				async:false,
                url:"/registro_usuario_ajax/",
                data:{csrfmiddlewaretoken:'{{csrf_token}}','usuario':usuario,'correo':correo,'password':password,'password_repe':password_r},
                type:'POST',
                success:function(response)
                {
                	if(response!='')
                    {
                    	if(response.respuesta=='exito')
                    	{
                    		alert('Usuario registrado.');
		                	setTimeout(function()
		                	{
								$.ajax({
									async:false,
					                url:"/login_ajax/",
					                data:{csrfmiddlewaretoken:'{{csrf_token}}','usuario':usuario,'password':password,},
					                type:'POST',
					                success:function(response)
					                {
					                	if(response!='')
					                    {
					                    	if(response.respuesta=='exito')
					                    	{
					                    		alert('Usuario logeado.');
							                	location.href='/';
					                    	}
					                    	else if(response.respuesta=='fallido')
					                    	{
					                    		alert('Error, datos incorrectos.');
					                    	}
					                    	else if(response.respuesta=='noActivo')
					                    	{
					                    		alert('Error, el usuario no esta autorizado para entrar en el sistema.');
					                    	}
					                    	else if(response.respuesta=='noCampos')
					                    	{
					                    		alert('No se recibieron los campos completos.');
					                    	}
					                    	else if(response.respuesta=='noPOST')
					                    	{
					                    		alert('No se utilizó el mensaje correcto para comunicarse con el servidor.');
					                    	}
					                   		else if(response.respuesta=='noAJAX')
					                    	{
					                    		alert('No se utilizó AJAX para la comunicación con el servidor.');
					                    	}
					                    }
					                    else
					                    {
					                        alert('No hubo respuesta por parte del servidor.');
					                    }
					                },
					                error:function(jqXHR, status, error)
					                {
					                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
					                },
					            });
					            return false;
								}
		                		,2000);
                    	}
                    	else if(response.respuesta=='fallido')
                    	{
                    		alert('Error, datos incorrectos.');
                    	}
                    	else if(response.respuesta=='existe')
                    	{
                    		alert('Error, el usuario que esta tratando de registrar, ya existe. Intente con otro diferente.');
                    	}
                    	else if(response.respuesta=='noIguales')
                    	{
                    		alert('Error, las contraseñas no coinciden.');
                    	}
                    	else if(response.respuesta=='noCampos')
                    	{
                    		alert('No se recibieron los campos completos.');
                    	}
                    	else if(response.respuesta=='noPOST')
                    	{
                    		alert('No se utilizó el mensaje correcto para comunicarse con el servidor.');
                    	}
                   		else if(response.respuesta=='noAJAX')
                    	{
                    		alert('No se utilizó AJAX para la comunicación con el servidor.');
                    	}
                    }
                    else
                    {
                        alert('No hubo respuesta por parte del servidor.');
                    }
                },
                error:function(jqXHR, status, error)
                {
                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
                },
            });
            return false;

		}
		$('#olvido_form #email').on('keypress',validar_correo);
		$('#olvido_form input[name="enviar"]').on('click',recuperar);
		function recuperar(e)
		{
			correo = $('#olvido_form #email').val();
		    patt= /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
	        if(!patt.test(correo))
	        {
	            alert('El formato del email es incorrecto. Favor de verificarlo.');
	            return;
	        }
			$.ajax({
				async:false,
                url:"/recupera_ajax/",
                data:{csrfmiddlewaretoken:'{{csrf_token}}','correo':correo,},
                type:'POST',
                success:function(response)
                {
                	if(response!='')
                    {
                    	if(response.respuesta=='exito')
                    	{
                    		alert('Contraseña enviada a correo.');
		                	setTimeout(function()
		                	{
		                		location.href='/';
		                	}
		                		,2000);
                    	}
                    	else if(response.respuesta=='Noexiste')
                    	{
                    		alert('Error, no existe una cuenta de usuario con ese correo.');
                    	}
                    	else if(response.respuesta=='noCampos')
                    	{
                    		alert('No se recibieron los campos completos.');
                    	}
                    	else if(response.respuesta=='noPOST')
                    	{
                    		alert('No se utilizó el mensaje correcto para comunicarse con el servidor.');
                    	}
                   		else if(response.respuesta=='noAJAX')
                    	{
                    		alert('No se utilizó AJAX para la comunicación con el servidor.');
                    	}
                    }
                    else
                    {
                        alert('No hubo respuesta por parte del servidor.');
                    }
                },
                error:function(jqXHR, status, error)
                {
                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
                },
            });
            return false;
		}

	</script>
</body>

</html>