{% extends 'base.html' %}
{% load i18n %}
{% block css %}
	{{block.super}}
	<link rel="stylesheet" href="/static/css/accesos.css">
{% endblock %} 

{% block contenedor %}
	<section class="contenedor">
		<section class="basico_desconocida">
			<h2>{% trans 'BCS Desconocida' %}</h2>
			{% if curiosidades %}
			<!-- Sección de codigo para cuando la variable curiosidades tiene un valor. El otro caso es para cuando no regresa nada y se coloca alguna estructura por default-->
			<ul>
				{% for curiosidad in curiosidades %}
				<li>
					<span>{% trans 'Pueblo' %}: </span>{{curiosidad.PUEBLO.NOMBRE}}<br>
					<span>{% trans 'Título' %}: </span>{{curiosidad.TITULO}} <br>
					<span>{% trans 'Descripción' %}: </span>{{curiosidad.DESCRIPCION}} 
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>{% trans 'No existen curiosidades para mostrar.' %}</p>
			{% endif %}
		</section>
		<section class="menu_basico">

		</section>
	</section>

{% endblock %}

{%  block js %}
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% endblock %}