<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pueblos Fundacionales</title>
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="En este sitio podrás visualizar todo lo relacionado a los Pueblos Fundacionales de la Zona Norte de BCS, desde su ubicación, hoteles, restaurantes, etc."/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/comida.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="conf_idiomas">
		<div class="idiomas">
			<a href="#">
				<img id="arrow" src="/static/img/arrow.png" alt=""/>
			</a>
			<div class="esp">
				<img src="/static/img/bandera.png" alt="Español">
				<a href="#">Español</a>
			</div>
			<div class="eng">
				<img src="/static/img/ingles.png" alt="Español">
				<a href="#">Inglés</a>
			</div>
		</div>
		<div class="social_icons">
			<a href="#" title="Facebook">
				<img src="/static/img/facebook.png" alt="Facebook" />
			</a>
			<a href="#" title="Twitter">
				<img src="/static/img/twitter.png" alt="Twitter" />
			</a>
			<a href="#" title="RSS">
				<img src="/static/img/rss.png" alt="RSS" />
			</a>
		</div>
	</div>
	<header>
		<section class="superior">
			<img class="logotipo" src="/static/img/Logotipo.png" alt="Proyecto Pueblos">
			<h1 class="titulo">Pueblos Fundacionales</h1>
			<article class="buscar">
				<form class="expandable_search">
  					<input type="search" placeholder="Buscar">
				</form>
			</article>
		</section>
		<div class="support-note"><!-- let's check browser support with modernizr -->
			<span class="no-cssanimations">CSS animations are not supported in your browser</span>
			<span class="no-csstransforms">CSS transforms are not supported in your browser</span>
			<span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span>
			<span class="no-csstransitions">CSS transitions are not supported in your browser</span>
			<span class="note-ie">Sorry, only modern browsers.</span>
		</div>
	</header>
	<nav>
		<ul>
			<li class="menu">
				<a href="#">Inicio</a>
			</li>
			<li class="menu">
				<a href="/secciones/">Secciones</a>
			</li>
			<li class="menu">
				<a href="/pueblos/">Pueblos</a>
			</li>
			<li class="menu">
				<a href="/galerias/">Galerías</a>
			</li>
		</ul>
	</nav>
	<section class="main">
		<div id="rm-container" class="rm-container">
			<div class="rm-wrapper">
				<div class="rm-cover">
					<div class="rm-front">
						<div class="rm-content">
							<div class="rm-logo"></div>
								<h2>Menú de Pueblos Fundacionales</h2>
								<h3>Recomendaciones de Restaurantes</h3>
								<a href="#" class="rm-button-open">Entra a ver el menú</a>
								<div class="rm-info">
									<p>
									<strong>Para gente elegante y sofisticada</strong><br>
										Pueblos Fundacionales<br>
										Baja California Sur<br>
									<strong>Teléfonos</strong> 626.511.1170<br>
									<strong>Fax</strong> 626.992.1020</p>
								</div>
							</div>
						</div><!-- /rm-content -->
					</div><!-- /rm-front -->
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/menu.js"></script>
		<script type="text/javascript">
			$(function() {

				Menu.init();
			
			});
		</script>
</body>
</html>