{% extends 'base.html' %}
{%  block css %}
{% endblock %}

{% block contenedor %}
	<section class="contenedor">
		<section class="contenedor_eventos">
			<h2 class="eventos-h2">Eventos</h2>
			<section class="events">
				<ul>
					{% for evento in eventos  %}
					<li id='evento_{{evento.evento.ID}}'>
						<img src="/uploads/{{evento.evento.IMAGEN}}">
						<br>
						<h3> {{evento.evento.NOMBRE}}</h3>
						<br>
						<span>Pueblo:</span>&nbsp; &nbsp;{{evento.evento.NOMBRE}}
						<br>
						<span>Fecha:</span>&nbsp; &nbsp;{{evento.evento.FECHA}}
						<br>
						<span>Descripción:</span> &nbsp; &nbsp;{{evento.evento.DESCRIPCION}}
						<br>
						<span>Lugar: </span>&nbsp; &nbsp;{{evento.evento.LUGAR}}
						<form id='{{evento.evento.ID}}' action="#">
							<textarea rows="4" cols="45" placeholder="Comenta"></textarea>
							<br><br>
							{% if user.username|length > 0 %}
								<input name="enviar" value="Enviar" type="button">
							{% endif %}
						</form>
						<section class="comments">
						{% for comentario in evento.comentarios  %}
							<h4>Rosita{{comentario.USUARIO.username}}</h4>
							<div><!-- start slipsum code -->
								{{comentario.DESCRIPCION}}
							</div>
							<p id="fechacomentarios">Fecha: {{comentario.FECHA|date:'d/m/Y'}}, a las {{comentario.FECHA|date:'H:i:s'}}</p>
						<br>
						{% endfor %}
						</section>
						<br>
						<div id="more"> Mostrar más comentarios </div>
					{% endfor %}
					</li>

				</ul>
			</section>
			
		</section>
	</section>
{% endblock %}

{%  block js %}
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	{% if user.username|length > 0 %}
	<script>
		$('form input[name="enviar"]').on('click',registrar);
		function registrar(e)
		{
			$elemento = $(e.target);
			id= $elemento.parent().attr('id');
			comentario = $('form#'+id+' textarea').val();
			if (comentario!="")
			{
				$.ajax({
					 async:false,
	                url:"/comentarios_eventos_ajax/",
	                data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'COMENTARIO':comentario},
	                type:'POST',
	                //dataType:
	                success:function(response)
	                {
	                	if(response!='')
	                    {
		            		//$('puntaje_'+id).val('Puntos acumulados: '+response.valoracion);
		            		if(response.respuesta=='exito')
		            		{
			            		$('#evento_'+id).append(
			            			'<section class="comments">'+
			            			'<h4>Usuario: {{user.username}} </h4>'+
			            			'<div>'+
			            				comentario+
			            			'</div>'+
			            			'<p id="fechacomentarios">Fecha: '+response.fecha+'</p>'+
			            			'</section>'+
			            			'<br>'
			            			);
			            			$('form#'+id+' textarea').val('');
		            		}
		            		else
		            		{
		            			alert('Ocurrió un error. Favor de verificarlo.');
		            		}

	                    }
	                    else
	                    {
	                        alert('No hubo respuesta por parte del servidor.');
	                    }
	                },
	                 error:function(jqXHR, status, error)
	                {
	                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
	                },
	            });
			}
			else
			{
				alert('Asegurese de haber introducido un comentario antes de tratarlo de enviar.');
			}
			return false;
		}
	</script>
	{% endif %}
{% endblock %}