{% extends 'base.html' %}
{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/pueblos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="pueblos">
		<h2>Galería</h2>
		{% for galeria in galerias %}
		<section class="gallery">
			<ul>
				<li>
					<img src="/static/img/album.png" alt="">
					<br>
					<span>Galería: </span>
						<a href="#" class="gal">{{galeria.NOMBRE}}</a>
					<br>
					<span>Descripción: </span>{{galeria.DESCRIPCION}}
				</li>
			</ul>
		</section>
			{% endfor %}
		<section id="album">
			<section id="album_form"></section>
		</section>
	</section>
	<section class="pueblos_menu">
		<h3>Galerías</h3>
		{% for galeria in galerias %}
			<p>{{galeria.NOMBRE}}</p>
		{% endfor %}
	</section>
{% endblock %}

{% block js %}
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
		$('.gal').on('click', obtener);
		function obtener(e) {
			var elemento = e.target;
			var galeria = elemento.innerHTML;
			$.ajax({
				 async:false,
                url:"{% url 'galerias_ajax' %}",
                data:{csrfmiddlewaretoken:'{{csrf_token}}','galeria':galeria},
                type:'POST',
                //dataType:
                success:function(response)
                {
                	if(response!='')
                    {
                    	response.archivos;
                    	html = "<ul>\n"+
                    	"</ul>\n";
                    	for(i=0; i<response.archivos.length;i++)
                    	{
                    		html+="<li> \n";
                    		html+="<a href='"+response.archivos[i]+"' target='_blank'>\n";
                    		html+="<img src='"+response.archivos[i]+"'> \n";
                    		html+="</a>\n";
                    		html+="</li> \n";
                    	}
                    	$('section#album').html(html);

                    	$('section#album').on('click', function(){
                    		$(this).css({
                    			width:'100%'
                    		});
                    	});
                    }
                    else
                    {
                        alert('No hubo respuesta por parte del servidor.');
                    }
                },
                 error:function(jqXHR, status, error)
                {
                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
                },
                // complete:function(jqXHR, status)
                // {
                //     alert(jqXHR.responseText+'\n'+status)
                // },
            });
			return false;
		}
	</script>
{% endblock %}

</body>

</html>
