{% extends 'base.html' %}
{%  block css %}
	<!-- Slider del Clima -->
	<link rel="stylesheet" href="/static/css/weatherslider.css">
	<!-- CSS de Eventos -->
	<link rel="stylesheet" href="/static/css/glDatePicker.default.css">
{% endblock %}

{% block contenedor %}
		<section class="principal">
			<h2>Novedades</h2>
			<article class="contenido">
				<a href="/descubra-bcs/">Descubra BCS</a>
				<span><a href="#">&gt;  Ver todos</a></span>
				<p class="articulos">
					<img src="/static/img/loreto.jpg" alt="Loreto">
					Loreto es la ciudad más antigua de las Californias y fue fundada como misión en 1697 por el jesuita Juan María Salvaterra. <strong><a href="/descubra-bcs/">Leer más...</a> </strong>
				</p>
			</article>
			<article class="contenido">
				<a href="/bcs-desconocida/">BCS Desconocida</a>
				<span><a href="/bcs-desconocida/">&gt;  Ver todos</a></span>
				<p class="articulos">
					<img src="/static/img/loreto.jpg" alt="Loreto">
					Loreto es la ciudad más antigua de las Californias y fue fundada como misión en 1697 por el jesuita Juan María Salvaterra. <strong><a href="/bcs-desconocida/">Leer más...</a> </strong>
				</p>
			</article>
			<article class="contenido">
				<a href="/mas-visto/">Pueblo más visto</a>
				<span><a href="#">&gt;  Ver todos</a></span>
				<p class="articulos">
					<img src="/static/img/loreto.jpg" alt="Loreto">
					Loreto es la ciudad más antigua de las Californias y fue fundada como misión en 1697 por el jesuita Juan María Salvaterra. <a href="/mas-visto/">Leer más...</a> 
				</p>
			</article>
			<!-- Recomendaciones -->
			<h2>Recomendaciones</h2>
			<section class="recomendaciones">
				<!--<video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="440" height="240" data-setup="{}">
  				<source src="video/477 Aniversario de La Paz.mp4" type='video/mp4'>
				</video>-->
				<a href="#">
					<img src="/static/img/banner1.jpg" alt="">
				</a>
				<a href="">
					<img src="/static/img/banner2.jpg".jpg alt="">
				</a>
			</section>
			<!-- Eventos -->
			<h2>Eventos</h2>
			<section class="eventos">
				<div class="calendario-eventos">
					<input type="text" id="eventos" gldp-id="gldp-3023006963" class="gldp-el">
    				<div id="eventos_div" gldp-el="mydate">
    				</div>
				</div>
				<div class="calendario-notas">
					<h3>Eventos de la semana</h3>
					<p class="noticias">Selecciona alguna de las fechas en el Calendario.</p>
				</div>
				<section class="proximos-eventos">
					<h4>Próximos Eventos</h4>
					<article>
						<p>14</p>
						<a href="#">
							Fiestas tradicionales de La Purísima.
						</a>
					</article>
					<article>
						<p>16</p>
						<a href="#">
							Fiestas tradicionales de Loreto.
						</a>
					</article>
					<article>
						<p>20</p>
						<a href="#">
							Fiestas tradicionales de San Ignacio.
						</a>
					</article>
					<span><a href="/eventos/">Ver todos los próximos eventos</a></span>
				</section>
				<section class="politicas">
					<h2>Políticas de uso</h2>
					<img src="/static/img/politicas.png" alt="">
					<p>
						Visita nuestra sección de Políticas de Privacidad y Uso para que puedas navegar a través de nuestro sitio de manera más segura. 
						<br><br>
						<a href="/politicas/">Haga clic aquí para más información</a>
					</p>
				</section>
			</section>
		</section>
		<!-- Fin de Sección Principal -->
		<section class="menu-lateral">
		<!-- Menú lateral -->
			<h2>Enlaces útiles</h2>
			<!-- Enlaces útiles -->
			<article class="enlaces-utiles">
				<h3>
					Accesos Directos
				</h3>
				<p class="utilidades">
					<img src="/static/img/asterisk.png" alt="Información Básica">
					<a href="/accesos/">Información Básica</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/Maps.png" alt="Mapa">
					<a href="/mapa/">Mapa</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/hotel.png" alt="Alojamiento">
					<a href="/alojamiento/">Alojamiento</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/comida.png" alt="Comida">
					<a href="/comida/">Comida</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/pueblo.png" alt="Pueblos">
					<a href="/pueblos/">Pueblos</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/foto.png" alt="Galería">
					<a href="/galerias/">Galería de Fotos</a>
				</p>
			</article>
			<article class="telefonos">
			<!-- Teléfonos -->
				<h3>Teléfonos</h3>
				<p>
					<a href="#">Emergencias</a>
					<br>
					<a id="dir" href="/dir/" title="Directorio">
						<img src="/static/img/directorio.png" alt=""/>
					</a>
				</p>
				<span>
					<a href="/dir/">
						Ver teléfonos
					</a>
				</span>
			</article>
			<!-- Mapa General -->
			<article class="mapa-misiones">
				<h3>Mapa General de Misiones</h3>
				<div id="page-wrap">
					<ul id="locations">
						<li data-geo-lat="26.013132" data-geo-long="-111.347895">
							<h5>Loreto</h5>
          					<p>Misión de Loreto</p>
          					<p class="longdesc"><strong>Historia:</strong><br>
								Son más de 300 años de historia los que construyen la leyenda del poblado más antiguo de la península de Baja California, que aún hoy hacen un bello contraste de colorido a la orilla del azul profundo del mar y el verde-ocre de las islas cercanas. 
          					</p>
        				</li>
        				<li data-geo-lat="26.299571" data-geo-long="-111.715851">
          					<h5>Comondú</h4>
          					<p>La Purísima</p>
          					<p class="longdesc"><strong>Historia:</strong> 
								La Purísima cuenta con una rica tradición gastronómica, basada principalmente en la elaboración de quesos de cabra y vaca, dulces regionales, pan artesanal de dátil y de haba, birria de cabrito, así como elaboración de vino, herencia de la presencia jesuita, que junto a nuestras artesanías nos recuerdan nuestro origen de pueblo misionero.
          					</p>
        				</li>
        				<li data-geo-lat="24.80037" data-geo-long="-112.103162">
          					<h5>Comondú</h5>
	          				<p>San Carlos</p>
    	      				<p class="longdesc"><strong>Historia:</strong> 
								Son más de 300 años de historia los que construyen la leyenda del poblado más antiguo de la península de Baja California, que aún hoy hacen un bello contraste de colorido a la orilla del azul profundo del mar y el verde-ocre de las islas cercanas. 
      				    	</p>
       				 	</li>
         				<li data-geo-lat="26.013132" data-geo-long="-111.347895">
          					<h5>Loreto</h5>
          					<p>Loreto</p>
           					<p class="longdesc"><strong>Historia:</strong> 
								Son más de 300 años de historia los que construyen la leyenda del poblado más antiguo de la península de Baja California, que aún hoy hacen un bello contraste de colorido a la orilla del azul profundo del mar y el verde-ocre de las islas cercanas. 
          					</p>
        				</li>
					</ul>
					<div id="map_canvas"></div>
					<div id="more-info">
						<h5><a href="/pueblos/">Más info (click aquí)</a></h5>
						<p>Hover over location on the left.</p>
					</div>
					<div></div>
				</div>
			</article>
			<section class="relatos">
				<h3>Relatos</h3>
				<p>
					<a href="/relatos/">Comparte tu historia.</a>
				</p>
				<p>
					<a href="/relatos/">¿Cómo es la vida en tu comunidad?</a>
				</p>
				<p>
					<a href="/relatos/">¿Cómo era la vida en tu ciudad hace 5, 10, 20 o más años?</a>
				</p>
				<a href="/relatos/">
					<img src="static/img/cuento.png" alt="Relatos" title="Da click para acceder">
				</a>
			</section>
			<section class="materiales">
				<h3>Materiales impresos</h3>
				<p>
					¡Descarga nuestras guías turísticas así como la historia de nuestros Pueblos Fundacionales!
				</p>
				<div>
					<a href="/libros/">
					Acceder
					</a>
				</div>
			</section>
			<section class="clima">
				<h3>Clima</h3>
				<div id="weatherslider">
					<span class="ws-location">Loreto, Baja California Sur</span>
					<span class="ws-location">La Purísima, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Javier, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Carlos, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Isidro, Baja California Sur, <br/>México</span>
					<span class="ws-location">Santa Rosalía,Baja California Sur, <br/>México</span>
					<span class="ws-location">San Ignacio, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Miguel, Baja California Sur, <br/>México</span>
					<span class="ws-location">Adolfo López Mateos, Baja California Sur, <br/>México</span>
				</div>
			</section>
			<section class="multimedia">
				<h3>Multimedia</h3>
				<p>
					¿Quieres conocer la música típica de nuestra región? ¿Ver vídeos referentes a nuestras misiones? 
					<br/><br/>
					Ven y conoce los aspectos audiovisuales de nuestros Pueblos Fundacionales.
					<br><br>
				</p>
				<div>
					<a href="/multimedia/">
						<img src="/static/img/audio.png" alt="" >
					</a>
					<a href="/multimedia/">
						<img src="/static/img/video.png" alt="" >
					</a>
					<a href="/multimedia/">
						<img src="/static/img/recetas.png" alt="" >
					</a>
					<br><br>
					<a href="/multimedia/">Ver todos</a>
				</div>
			</section>
			<section class="suscribete">
				<h3>Suscríbete</h3>
				<form action="#">
					<input type="text" placeholder="&nbsp;Introduce tu email">
					<br><br>
					<input name="enviar" value="Enviar" type="button">
				</form>
			</section>
			<aside >
				<h3>¡Visítanos!</h3>
				<article>
					<!-- 
					Facebook
					https://developers.facebook.com
					https://developers.facebook.com/docs/reference/plugins/like/
					https://developers.facebook.com/docs/plugins/
				-->
					<div id="fb-root"></div>
					<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script>
			    	<div class="fb-like" data-href="http://facebook.com/bextlan" layout="box_count" data-send="false" data-width="250" data-show-faces="false"></div>
				</article>
				<article>
					<!--
				      	Twitter
				      	https://twitter.com/logo
						https://twitter.com/about/resources/buttons
			      	-->
			      	<script src="http://platform.twitter.com/widgets.js"></script>
			      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pueblosfundacionales.com" data-text="Ven y conoce las misiones de Baja California Sur | ¡Visítanos!" data-via="iOS23" data-lang="es" data-hashtags="pueblosfundacionales,misiones" data-count="vertical">Twittear</a>
				</article>
				<article>
					<!-- Google + -->
					<script src="https://apis.google.com/js/plusone.js"></script>
					<g:plusone size="tall" href="http://bextlan.com/"></g:plusone>
				</article>
			</aside>
		</section>
{% endblock %}

{%  block js %}
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<!-- jQuery Mobile -->
	<script src='/static/scripts/jquery.mobile.customized.min.js'></script>
	<!-- Mapa -->
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/static/js/mapa.js"></script>
	<!-- Slider de Clima -->
	<script src="/static/js/weatherslider.kreaturamedia.jquery.js"></script>
	<!-- Eventos -->
	<script src="/static/js/glDatePicker.js"></script>
	<script src="/static/js/eventos.js"></script>
	<!-- Script Clima-->
	<script src="/static/js/example.js"></script>
{% endblock %}
