<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pueblos Fundacionales</title>
	<meta name="description" content="En este sitio podrás visualizar todo lo relacionado a los Pueblos Fundacionales de la Zona Norte de BCS, desde su ubicación, hoteles, restaurantes, etc."/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
	<div class="conf_idiomas">
		<div class="idiomas">
			<p>
				<img src="/static/img/Bandera.png" alt="Español">
				<a href="#">Español</a>
			</p>
		</div>
		<div class="social_icons">
			<a href="#" title="Facebook">
				<img src="/static/img/facebook.png" alt="Facebook" />
			</a>
			<a href="#" title="Twitter">
				<img src="/static/img/twitter.png" alt="Twitter" />
			</a>
			<a href="#" title="RSS">
				<img src="/static/img/rss.png" alt="RSS" />
			</a>
		</div>
	</div>
	<header>
		<section class="superior"></section>
	</header>
</body>
</html>