<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pueblos Fundacionales</title>
	<!-- Forzar a IE a utilizar el motor de Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!-- Contenido -->
	<meta name="description" content="Comunidad online donde podrás visualizar todo lo relacionado a los Pueblos Fundacionales de la Zona Norte de BCS, desde su ubicación, hoteles, restaurantes, ¡visítanos!"/>
	<!-- Keywords -->
	<meta name="keywords" content="pueblos fundacionales, baja California sur, restaurantes, hoteles, loreto, mulege, comondu, misiones"/>
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- Autores -- >
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
	<!-- Slider del Clima -->
	<link rel="stylesheet" href="/static/css/weatherslider.css">
	<!-- CSS de Eventos -->
	<link rel="stylesheet" href="/static/css/glDatePicker.default.css">
</head>
<body>
	<!--[if lt IE 8]>
            <p class="chromeframe">Estás utilizando un <strong>viejo y anticuado</strong> navegador que a mi me daría vergüenza de usar. Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> o <a href="http://www.google.com/chromeframe/?redirect=true">activa Google Chrome Frame</a> para mejorar tu experiencia.</p>
    <![endif]-->
    <section class="conf_idiomas">
		<div class="idiomas">
			<a href="#">
				<img id="arrow" src="/static/img/arrow.png" alt=""/>
			</a>
			<div class="esp">
				<img src="/static/img/bandera.png" alt="Español">
				<a href="#">Español</a>
			</div>
			<div class="eng">
				<img src="/static/img/ingles.png" alt="Español">
				<a href="#">Inglés</a>
			</div>
		</div>
		<div class="social_icons">
			<a href="#" title="Facebook">
				<img src="/static/img/facebook.png" alt="Facebook" />
			</a>
			<a href="#" title="Twitter">
				<img src="/static/img/twitter.png" alt="Twitter" />
			</a>
			<a href="#" title="RSS">
				<img src="/static/img/rss.png" alt="RSS" />
			</a>
		</div>
	</section>
	<header>
		<section class="superior">
			<img class="logotipo" src="/static/img/Logotipo.png" alt="Proyecto Pueblos">
			<h1 class="titulo">Pueblos Fundacionales</h1>
			<article class="buscar">
				<form class="expandable_search">
  					<input type="search" placeholder="Buscar" class="icono_buscar">
				</form>
			</article>
		</section>
	</header>
	<div class="fluid_container">
		<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
			<div data-thumb="/static/images/slides/thumbs/bridge.jpg" data-src="/static/images/slides/bridge.jpg">
			</div>
			<div data-thumb="/static/images/slides/thumbs/leaf.jpg" data-src="/static/images/slides/leaf.jpg">
                <div class="camera_caption fadeFromBottom">
                    Hola Astorga <em>No uses IE</em>
                </div>
            </div>
			<div data-thumb="/static/images/slides/thumbs/bridge.jpg" data-src="/static/images/slides/bridge.jpg">
			</div>
		</div>
	</div>
	<nav>
		<ul>
			<li class="menu">
				<a href="#">Inicio</a>
			</li>
			<li class="menu">
				<a href="/secciones/">Secciones</a>
			</li>
			<li class="menu">
				<a href="/pueblos/">Pueblos</a>
			</li>
			<li class="menu">
				<a href="/galerias/">Galerías</a>
			</li>
			<li class="menu">
				<a href="#"></a>
			</li>
			<li class="menu">
				<a href="#openModal" id="ingresa">Ingresa</a>
			</li>
		</ul>
	</nav>
	<!-- Sección de Login --> 
	<div id="openModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<section class="formulario">
				<h2>Ingresa</h2>
				<form action="#">
					<label for="email">Email: </label><input id="email" type="text" placeholder="&nbsp;Introduce tu email" required>
					<br><br>
					<label for="password">Contraseña: </label><input id ="password" type="password" placeholder="&nbsp;Introduce tu contraseña" required>
					<br><br>
					<a href="#">Olvidé mi contraseña</a>
					<br><br>
					<input name="enviar" value="Entrar" type="button">
				</form>
			</section>
			<article class="acceso">
				<h2>¿Aún no eres miembro?</h2>
				<div id="twitter">
					<img src="/static/img/tt.png" alt="">
					<a href="#"></a>Entra con <strong>TWITTER</strong>
				</div>
				<div id="facebook">
					<img src="/static/img/fb.png" alt="">
					Entra con <strong>FACEBOOK</strong>
				</div>
				<p>O ingresa con tu correo electrónico y llena el siguiente cuestionario <a href="#">aquí</a></p>
			</article>
		</div>
	</div>
	<section class="contenedor">
		<!-- Principal -->
		<section class="principal">
			<h2>Novedades</h2>
			<article class="contenido">
				<a href="#">Pueblo más visto</a>
				<span><a href="#">&gt;  Ver todos</a></span>
				<p class="articulos">
					<img src="/static/img/loreto.jpg" alt="Loreto">
					Loreto es la ciudad más antigua de las Californias y fue fundada como misión en 1697 por el jesuita Juan María Salvaterra. <a href="#">Leer más...</a> 
				</p>
			</article>
			<article class="contenido">
				<a href="#">Descubra BCS</a>
				<span><a href="#">&gt;  Ver todos</a></span>
				<p class="articulos">
					<img src="/static/img/loreto.jpg" alt="Loreto">
					Loreto es la ciudad más antigua de las Californias y fue fundada como misión en 1697 por el jesuita Juan María Salvaterra. <strong><a href="#">Leer más...</a> </strong>
				</p>
			</article>
			<article class="contenido">
				<a href="#">BCS Desconocida</a>
				<span><a href="#">&gt;  Ver todos</a></span>
				<p class="articulos">
					<img src="/static/img/loreto.jpg" alt="Loreto">
					Loreto es la ciudad más antigua de las Californias y fue fundada como misión en 1697 por el jesuita Juan María Salvaterra. <strong><a href="#">Leer más...</a> </strong>
				</p>
			</article>
			<!-- Recomendaciones -->
			<h2>Recomendaciones</h2>
			<section class="recomendaciones">
				<!--<video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="440" height="240" data-setup="{}">
  				<source src="video/477 Aniversario de La Paz.mp4" type='video/mp4'>
				</video>-->
				<a href="#">
					<img src="/static/img/banner1.jpg" alt="">
				</a>
				<a href="">
					<img src="/static/img/banner2.jpg".jpg alt="">
				</a>
			</section>
			<!-- Eventos -->
			<h2>Eventos</h2>
			<section class="eventos">
				<div class="calendario-eventos">
					<input type="text" id="eventos" gldp-id="gldp-3023006963" class="gldp-el">
    				<div id="eventos_div" gldp-el="mydate">
    				</div>
				</div>
				<div class="calendario-notas">
					<h3>Eventos de la semana</h3>
					<p class="noticias">Selecciona alguna de las fechas en el Calendario.</p>
				</div>
				<section class="proximos-eventos">
					<h4>Próximos Eventos</h4>
					<article>
						<p>14</p>
						<a href="#">
							Fiestas tradicionales de La Purísima.
						</a>
					</article>
					<article>
						<p>16</p>
						<a href="#">
							Fiestas tradicionales de Loreto.
						</a>
					</article>
					<article>
						<p>20</p>
						<a href="#">
							Fiestas tradicionales de San Ignacio.
						</a>
					</article>
					<span><a href="#">Ver todos los próximos eventos</a></span>
				</section>
				<section class="accesibilidad">
					<h2>Accesibilidad</h2>
					<img src="/static/img/accesibilidad.png" alt="">
					<p>
						Hay servicios y programas para asegurar que todo el mundo tenga la oportunidad de descubrir los Pueblos Fundacionales de Baja California Sur. 
						<br><br>
						<a href="#">Haga clic aquí para más información</a>
					</p>
				</section>
			</section>
		</section>
		<!-- Fin de Sección Principal -->
		<section class="menu-lateral">
		<!-- Menú lateral -->
			<h2>Enlaces útiles</h2>
			<!-- Enlaces útiles -->
			<article class="enlaces-utiles">
				<h3>
					Accesos Directos
				</h3>
				<p class="utilidades">
					<img src="/static/img/asterisk.png" alt="Información Básica">
					<a href="/accesos/">Información Básica</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/Maps.png" alt="Mapa">
					<a href="/mapa/">Mapa</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/hotel.png" alt="Alojamiento">
					<a href="/alojamiento/">Alojamiento</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/comida.png" alt="Comida">
					<a href="/comida/">Comida</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/pueblo.png" alt="Pueblos">
					<a href="/info-pueblos/">Pueblos</a>
				</p>
				<p class="utilidades">
					<img src="/static/img/foto.png" alt="Galería">
					<a href="/galerias/">Galería de Fotos</a>
				</p>
			</article>
			<article class="telefonos">
			<!-- Teléfonos -->
				<h3>Teléfonos</h3>
				<p>
					<a href="#">Emergencias</a>
					<br>
					<a id="dir" href="/dir/" title="Directorio">
						<img src="/static/img/directorio.png" alt=""/>
					</a>
				</p>
				<span>
					<a href="/dir/">
						Ver teléfonos
					</a>
				</span>
			</article>
			<!-- Mapa General -->
			<article class="mapa-misiones">
				<h3>Mapa General de Misiones</h3>
				<div id="page-wrap">
					<ul id="locations">
						<li data-geo-lat="26.013132" data-geo-long="-111.347895">
							<h5>Loreto</h5>
          					<p>Misión de Loreto</p>
          					<p class="longdesc"><strong>Historia:</strong><br>
								Son más de 300 años de historia los que construyen la leyenda del poblado más antiguo de la península de Baja California, que aún hoy hacen un bello contraste de colorido a la orilla del azul profundo del mar y el verde-ocre de las islas cercanas. 
          					</p>
        				</li>
        				<li data-geo-lat="26.299571" data-geo-long="-111.715851">
          					<h5>Comondú</h4>
          					<p>La Purísima</p>
          					<p class="longdesc"><strong>Historia:</strong> 
								La Purísima cuenta con una rica tradición gastronómica, basada principalmente en la elaboración de quesos de cabra y vaca, dulces regionales, pan artesanal de dátil y de haba, birria de cabrito, así como elaboración de vino, herencia de la presencia jesuita, que junto a nuestras artesanías nos recuerdan nuestro origen de pueblo misionero.
          					</p>
        				</li>
        				<li data-geo-lat="24.80037" data-geo-long="-112.103162">
          					<h5>Comondú</h5>
	          				<p>San Carlos</p>
    	      				<p class="longdesc"><strong>Historia:</strong> 
								Son más de 300 años de historia los que construyen la leyenda del poblado más antiguo de la península de Baja California, que aún hoy hacen un bello contraste de colorido a la orilla del azul profundo del mar y el verde-ocre de las islas cercanas. 
      				    	</p>
       				 	</li>
         				<li data-geo-lat="26.013132" data-geo-long="-111.347895">
          					<h5>Loreto</h5>
          					<p>Loreto</p>
           					<p class="longdesc"><strong>Historia:</strong> 
								Son más de 300 años de historia los que construyen la leyenda del poblado más antiguo de la península de Baja California, que aún hoy hacen un bello contraste de colorido a la orilla del azul profundo del mar y el verde-ocre de las islas cercanas. 
          					</p>
        				</li>
					</ul>
					<div id="map_canvas"></div>
					<div id="more-info">
						<h5><a href="#">Más info (click acá)</a></h5>
						<p>Hover over location on the left.</p>
					</div>
					<div></div>
				</div>
			</article>
			<section class="relatos">
				<h3>Relatos</h3>
				<p>
					<a href="#">Comparte tu historia.</a>
				</p>
				<p>
					<a href="#">¿Cómo es la vida en tu comunidad?</a>
				</p>
				<p>
					<a href="#">¿Cómo era la vida en tu ciudad hace 5, 10, 20 o más años?</a>
				</p>
				<img src="static/img/cuento.png" alt="Relatos" title="Da click para acceder">
			</section>
			<section class="materiales">
				<h3>Materiales impresos</h3>
				<p>
					¡Descarga nuestras guías turísticas así como la historia de nuestros Pueblos Fundacionales!
				</p>
				<div>
					<a href="/libros/">
					Acceder
					</a>
				</div>
			</section>
			<section class="clima">
				<h3>Clima</h3>
				<div id="weatherslider">
					<span class="ws-location">Loreto, Baja California Sur</span>
					<span class="ws-location">La Purísima, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Javier, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Carlos, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Isidro, Baja California Sur, <br/>México</span>
					<span class="ws-location">Santa Rosalía,Baja California Sur, <br/>México</span>
					<span class="ws-location">San Ignacio, Baja California Sur, <br/>México</span>
					<span class="ws-location">San Miguel, Baja California Sur, <br/>México</span>
					<span class="ws-location">Adolfo López Mateos, Baja California Sur, <br/>México</span>
				</div>
			</section>
			<section class="multimedia">
				<h3>Multimedia</h3>
				<p>
					¿Quieres conocer la música típica de nuestra región? ¿Ver vídeos referentes a nuestras misiones? 
					<br/><br/>
					Ven y conoce los aspectos audiovisuales de nuestros Pueblos Fundacionales.
					<br><br>
				</p>
				<div>
					<a href="#">
						<img src="/static/img/audio.png" alt="" >
					</a>
					<a href="#">
						<img src="/static/img/video.png" alt="" >
					</a>
					<a href="#">
						<img src="/static/img/recetas.png" alt="" >
					</a>
					<br><br>
					<a href="#">Ver todos</a>
				</div>
			</section>
			<section class="suscribete">
				<h3>Suscríbete</h3>
				<form action="#">
					<input type="text" placeholder="&nbsp;Introduce tu email">
					<br><br>
					<input name="enviar" value="Enviar" type="button">
				</form>
			</section>
			<aside >
				<h3>¡Visítanos!</h3>
				<article>
					<!-- 
					Facebook
					https://developers.facebook.com
					https://developers.facebook.com/docs/reference/plugins/like/
					https://developers.facebook.com/docs/plugins/
				-->
					<div id="fb-root"></div>
					<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script>
			    	<div class="fb-like" data-href="http://facebook.com/bextlan" layout="box_count" data-send="false" data-width="250" data-show-faces="false"></div>
				</article>
				<article>
					<!--
				      	Twitter
				      	https://twitter.com/logo
						https://twitter.com/about/resources/buttons
			      	-->
			      	<script src="http://platform.twitter.com/widgets.js"></script>
			      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pueblosfundacionales.com" data-text="Ven y conoce las misiones de Baja California Sur | ¡Visítanos!" data-via="iOS23" data-lang="es" data-hashtags="pueblosfundacionales,misiones" data-count="vertical">Twittear</a>
				</article>
				<article>
					<!-- Google + -->
					<script src="https://apis.google.com/js/plusone.js"></script>
					<g:plusone size="tall" href="http://bextlan.com/"></g:plusone>
				</article>
			</aside>
		</section>
	</section>
	<footer>
		<section class="footer_container">
			<section class="footer_wrap">
			<section class="wcont">
				<h4 class="title">Patrocinadores</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
			<section class="wcont">
				<h4 class="title">Colaboradores</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
			<section class="wcont">
				<h4 class="title">Enlaces de interés</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
			<section class="wcont">
				<h4 class="title">Contacto</h4>
				<ul>
					<li><a href="#" title="link 1">Link #1</a></li>
					<li><a href="#" title="link 2">Link #2</a></li>
					<li><a href="#" title="link 3">Link #3</a></li>
					<li><a href="#" title="link 4">Link #4</a></li>
				</ul>
			</section>
		</section>
		</section>
	</footer>
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<!-- jQuery Mobile -->
	<script src='/static/scripts/jquery.mobile.customized.min.js'></script>
	<!-- Modernizr -->
	<script src="/static/js/modernizr.custom.17475.js"></script>
	<!-- jQuery Easing -->
	 <script src='/static/scripts/jquery.easing.1.3.js'></script> 
	 <!-- Slider Camera -->
    <script src='/static/scripts/camera.min.js'></script> 
    <script>
		$(function(){		
			$('#camera_wrap_1').camera({
				height : '300px',
				thumbnails: true,
			});
		});
		$(function(){
			$('#ingresa').on("click", function(){
				$('.modalDialog').show(function(){
					$(this).fadeIn(5000)
				});
			});
			$('.close').on("click", function(){
				$('.modalDialog').hide(function(){
					$(this).css({
						WebkitTransition : 'opacity 400ms ease-in-out',
    					MozTransition    : 'opacity 400ms ease-in-out',
    					MsTransition     : 'opacity 400ms ease-in-out',
    					OTransition      : 'opacity 400ms ease-in-out',
    					transition       : 'opacity 400ms sease-in-out'
					});
				});
			});
		});
	</script>
	<!-- Mapa -->
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/static/js/mapa.js"></script>
	<!-- Slider de Clima -->
	<script src="/static/js/weatherslider.kreaturamedia.jquery.js"></script>
	<!-- Eventos -->
	<script src="/static/js/glDatePicker.js"></script>
	<script src="/static/js/eventos.js"></script>
	<!-- Script Clima-->
	<script src="/static/js/example.js"></script>
</body>
</html>