{% extends 'base.html' %}
{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de estilos de libro -->
	<link rel="stylesheet" href="/static/css/libros.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="libros">
		<h3>
			Zona de Descargas
		</h3>
		<p>
			Todos los documentos se encuentran en formato Pdf. 
			<br/>Necesita Acrobat Reader para visualizar este formato. 
			<br/>
			Lo puede descargar <a href="http://get.adobe.com/es/reader/" target="_blank">Aquí</a>.
		</p>
		<h2>
			Documentos
		</h2>
		<section class="informacion_general">
			<h3>Historia</h3>
			<article>
				<a href="https://www.dropbox.com/s/hk8fum63u36a6ir/La%20Pur%C3%ADsima.pdf" target="_blank">
					<img src="/static/img/libro.jpg" alt="">
				</a>
				<div>
					<h4>Historia de La Purísima</h4>
						<a href="https://www.dropbox.com/s/hk8fum63u36a6ir/La%20Pur%C3%ADsima.pdf" target="_blank">Descarga el archivo en formato Pdf.</a>
				</div>
			</article>
			<article>
				<a href="#">
					<img src="/static/img/libro.jpg" alt="">
				</a>
				<div>
					<h4>Historia de Loreto</h4>
					<a href="">Descarga el archivo en formato Pdf.</a>
				</div>
			</article>

			
		</section>
		<section class="folletos">
			<h3>
				Folletos
			</h3>
			<article>
				<a href="#">
					<img src="/static/img/folleto.jpg" alt="">
				</a>
					<div>
						<h4>Fototeca</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
				<article>
					<a href="#">
						<img src="/static/img/folleto.jpg" alt="">
					</a>
					<div>
						<h4>Fototeca</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
				<article>
					<a href="#">
						<img src="/static/img/folleto.jpg" alt="">
					</a>
					<div>
						<h4>Fototeca</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
				<article>
					<a href="#">
						<img src="/static/img/folleto.jpg" alt="">
					</a>
					<div>
						<h4>Fototeca</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
			</section>
			<section class="mapas">
				<h3>
					Mapas
				</h3>
				<article>
					<a href="#">
						<img src="/static/img/mapa.jpg" alt="">
					</a>
					<div>
						<h4>Mapa de BCS</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
				<article>
					<a href="#">
						<img src="/static/img/mapa.jpg" alt="">
					</a>
					<div>
						<h4>Mapa de Loreto</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
				<article>
					<a href="#">
						<img src="/static/img/mapa.jpg" alt="">
					</a>
					<div>
						<h4>Mapa de BCS</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
				<article>
					<a href="#">
						<img src="/static/img/mapa.jpg" alt="">
					</a>
					<div>
						<h4>Mapa de Loreto</h4>
						<a href="">Descarga el archivo en formato Pdf.</a>
					</div>
				</article>
		</section>
	</section>
	<section class="menu_libros">
		<section class="redes_sociales">
			<h3>Sugerencias</h3>
			{% if eventos %}
				{% for evento in eventos %}
				<article>
					<img src="/uploads/{{evento.IMAGEN}}" alt="">
					<div>
						<h4>{{evento.NOMBRE}}</h4>
						<p>{{evento.DESCRIPCION}}</p>
					</div>
				</article>
				{% endfor %}
			{% else %}
				<p>No hay eventos proximos a ocurrir.</p>
			{% endif %}
			<section class="suscribete_redes">
				<h3>Suscríbete</h3>
				<form action="#">
					<input type="text" placeholder="&nbsp;Introduce tu email">
					<br><br>
					<input name="enviar" value="Enviar" type="button">
				</form>
			</section>
		</section>
	</section>
{% endblock %}

{% block js %}
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% endblock %}