{% extends 'base.html' %}
{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de pueblos -->
	<link rel="stylesheet" href="/static/css/pueblos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="pueblos">
		<h2>Libros digitales</h2>
		<section class="libreria">
		</section>
	</section>
	<section class="pueblos_menu">
		<section class="menuLibros">
			<h2>Libros</h2>
			<article>
				<a href="#" id="libro_purisima">	
					<img src="/static/img/portada.png" alt="">
				</a>
			</article>
			<article>
				<a href="#" id="libro_loreto">
					<img src="/static/img/portada.png" alt="">
				</a>
			</article>
			<p>
				<img src="/static/img/mesa.png" alt="">
			</p>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<p>
				<img src="/static/img/mesa.png" alt="">
			</p>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<p>
				<img src="/static/img/mesa.png" alt="">
			</p>
		</section>
	</section>

{% endblock %}

{% block js%}
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src='/static/js/efectos.js'></script> 
	<script>
		$(document).on("ready",mostrarPueblos);
	</script>
	<script src="/static/js/turn.min.js"></script>
{% endblock %}

