<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Libros</title>
	<link rel="stylesheet" href="/static/css/secciones.css
	">
</head>
<body>
	<div class="conf_idiomas">
		<div class="idiomas">
			<a href="#">
				<img id="arrow" src="/static/img/arrow.png" alt=""/>
			</a>
			<div class="esp">
				<img src="/static/img/bandera.png" alt="Español">
				<a href="#">Español</a>
			</div>
			<div class="eng">
				<img src="/static/img/ingles.png" alt="Español">
				<a href="#">Inglés</a>
			</div>
		</div>
		<div class="social_icons">
			<a href="#" title="Facebook">
				<img src="/static/img/facebook.png" alt="Facebook" />
			</a>
			<a href="#" title="Twitter">
				<img src="/static/img/twitter.png" alt="Twitter" />
			</a>
			<a href="#" title="RSS">
				<img src="/static/img/rss.png" alt="RSS" />
			</a>
		</div>
	</div>
	<h1>Documentos | Pueblos Fundacionales</h1>
	<section class="contenedorLibros">
		<section class="libro">
			
		</section>
		<section class="menuLibros">
			<h2>Libros</h2>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<p>
				<img src="/static/img/mesa.png" alt="">
			</p>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<p>
				<img src="/static/img/mesa.png" alt="">
			</p>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<article>
				<img src="/static/img/portada.png" alt="">
			</article>
			<p>
				<img src="/static/img/mesa.png" alt="">
			</p>
		</section>
	</section>
</body>
</html>