{% extends 'base.html' %}
{%  block css %}
	<!-- Hoja de Estilos -->
	{{block.super}}
	<link rel="stylesheet" href="/static/css/accesos.css">
{% endblock %}

{% block contenedor %}
	<section class="contenedor">
		<section class="basico_masvisto">
			<h2>Pueblo Más Visto</h2>
			{% if mas_visto %}
			<ul>
				<li>
					<span>Pueblo: </span>{{mas_visto.NOMBRE}}<br>
					<span>Municipio: </span>{{mas_visto.MUNICIPIO}}<br>
					<span>Historia: </span>{{mas_visto.HISTORIA}} <br>
					<span>Cultura: </span>{{mas_visto.CULTURA}} <br>
					<span>Comida: </span>{{mas_visto.COMIDA}} <br>
					<span>Datos: </span>{{mas_visto.DATOS}} <br>
					<span>Galería: </span>{{mas_visto.GALERIA}} <br>
					<span>Tipo: </span>{{mas_visto.TIPO}} <br>
				</li>
			</ul>
				{{mas_visto.GALERIA.ARCHIVOS.ALL|length}}
				{% for archivo in mas_visto.GALERIA.ARCHIVOS.ALL %}
					<img src="{{archivo.RUTA}}">
				{% endfor %}
			{% else %}
				<p>No existe pueblo alguno que pueda ser considerado el mas visitado</p>
			{% endif %}
		</section>
		<section class="menu_basico">

		</section>
	</section>
{% endblock %}

{%  block js %}
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% endblock %}
