{% extends 'base.html' %}

{% load i18n %}

{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="multimedia_r">
		<h2>{% trans 'Multimedia' %}</h2>
		<section class="contenido_multimedia">

		</section>
	</section>
	<section class="menu_multimedia">
		<h2>{% trans 'Menú' %}</h2>
		<a href="#" id="player">Video</a>
		<a href="#" id="audio">{% trans 'Audio' %}</a>
	</section>
{% endblock %}

{% block js %}
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src='/static/js/efectos.js'></script> 
	<script>
		$(document).on("ready",mostrarPueblos);
	</script>
	<script src="/static/js/turn.min.js"></script>
{% endblock %}

</body>
</html>