{% extends 'base.html' %}
	{% block css %} 
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de pueblos -->
	<link rel="stylesheet" href="/static/css/pueblos.css">
	<!-- Estlos de tabs -->
	<link rel="stylesheet" href="/static/css/style3.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'>
	{% endblock %}

	{% block js_importante %}{% endblock %}
</head>
	{% block contenedor %}
		<section class="pueblos">
			<h2>Pueblos</h2>
			<section class="contenedor_tabs">
				<section class="contenedor_imagen">
					<img src="/static/img/img-fondo.png" alt="">
				</section>
			</section>
			<section class="libreria">
				<h4>Visita nuestro catálogo digital</h4>
				<a href="/libreria/">Entra aquí</a>
			</section>
		</section>
		<section class="pueblos_menu">
			<h2>Menú</h2>
			<ul>
				{% if pueblos %}
					{% for pueblo in pueblos %}
					<li>
						<article>
							<h4 id="{{pueblo.NOMBRE}}">{{pueblo.NOMBRE}}</h4>
							<img src="/static/img/purisma.jpg" alt="">
						</article>
					</li>					
					{% endfor %}
				{% else %}
				<h3>Pueblos Fundacionales</h3>
				<li>
					<article>
						<h4 id="purisima">La Purísima</h4>
						<img src="/static/img/purisma.jpg" alt="">
					</article>
				</li>
				<li>
					<article id="loreto">
						<h4>Loreto</h4>
						<img src="/static/img/loreto-l.png" alt="">
					</article>
				</li>
				<!--li>
					<article>
						<h4>Mulegé</h4>
						<img src="/static/img/mulege.png" alt="">
					</article>
				</li>
				<li>
					<article>
						<h4>San Ignacio</h4>
						<img src="/static/img/sanignacio.png" alt="">
					</article>
				</li>
				<li>
					<article>
						<h4>Santa Rosalía</h4>
						<img src="/static/img/santarosalia.png" alt="">
					</article>
				</li>
				<li>
					<article>
						<h4>San Javier</h4>
						<img src="/static/img/sanjavier.png" alt="">
					</article>
				</li-->
				{% endif %}
			</ul>
		</section>
	{% endblock %}
	{% block js %}
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	{% endblock %}