{% extends 'base.html' %}
{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="contenedor_relatos">
		<section class="story">
			<h2>Relatos</h2>
			<ul>
				{% for relato in relatos  %}
				<li id='relato_{{relato.relato.ID}}'>
					<h3> {{relato.relato.TITULO}}</h3>
					<br>
					<span>Autor:</span>&nbsp; &nbsp;{{relato.relato.USUARIO.username}}
					<br>
					<span>Fecha:</span>&nbsp; &nbsp;{{relato.relato.FECHA}}
					<br>
					<span>Descripción:</span> &nbsp; &nbsp;<p>{{relato.relato.DESCRIPCION}}</p>
					<br><br>
					{% if user.username|length > 0 %}
					<span>Valoración: </span>
					<span class="plus">
						<img id='{{relato.relato.ID}}' class='me_gusta' src="/static/img/heart.png" alt="" title="Me gustó">
					</span>
					<span class="plus">
						<img id='{{relato.relato.ID}}' class='no_megusta' src="/static/img/heart-broken.png" alt="" title="No me gustó">
					</span>
					{% endif %}

					<span aria-hidden="true" class="icon-heart-broken minus"></span>
					&nbsp; &nbsp;<span id='puntaje_{{relato.relato.ID}}'>Puntos acumulados: {{relato.relato.VALORACION}}	</span>

					{% if user.username|length > 0 %}
					<form id='{{relato.relato.ID}}' action="#">
						<textarea rows="4" cols="45" placeholder="Comenta"></textarea>
						<br><br>
							<input name="enviar" value="Comentar" type="button">
					</form>
					{% endif %}

					{% if relato.comentarios|length > 0 %}
						{% for comentario in relato.comentarios %}
							<section class="comments">
								<h4>Usuario: {{comentario.USUARIO.username}} </h4>
								<div><!-- start slipsum code -->
									{{comentario.DESCRIPCION}}
								</div>
								<p id="fechacomentarios">Fecha: {{comentario.FECHA|date:'d/m/Y'}}, a las {{comentario.FECHA|date:'H:i:s'}}</p>
								<a id="vinculo_reportar" href="#relatoReportado">Reportar comentario</a>
							</section>

							<br>
						{% endfor %}
					{% else %}
						<p>No comentarios</p>
					{% endif %}
					<div id="more"> Mostrar más comentarios </div>
					
				</li>
				{% endfor %}
			</ul>

		</section>
		<section class="menu_story">
			<h3>Mejores relatos</h3>
			<p>
				{% for rel in mejores  %}
					<br>
					<h4> {{rel.TITULO}}</h4>
				{% endfor %}
			</p>
			{% if user.username|length > 0 %}
			<a id="aRelato" href="#relatoNuevo">Escribir relato</a>
			{% endif %}
		</section>
	</section>
	<div id="relatoReportado" class="modalDialog_Reportado">
		<div>
			<a href="#cerrar" title="Close" class="cerrar">X</a>
			<section class="formulario_re">
				<h2>Reportar comentario</h2>
				<form action="#">
					<input type="radio" name="reporte" value="1">Comentario inapropiado <br>
					<input type="radio" name="reporte" value="2">Contenido vulgar <br>
					<input type="radio" name="reporte" value="3">Comentario ofensivo <br>
					<input type="radio" name="reporte" value="4">Spam<br>
					<input name="enviar" value="Enviar" type="button">
				</form>
			</section>
		</div>
	</div>
	<!-- Sección de relatos -->
	{% if user.username|length > 0 %}
	<div id="relatoNuevo" class="modalDialog_R">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<section class="formulario_r">
				<h2>Escribe tu relato</h2>
				<form action="#">
					<span>Instrucciones:</span><br>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Introduce un título para tu relato</span><br>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En el recuadro grande comienza a escribir la historia </span><br><br>
					<span id="nota">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Nota: Después de enviar tu relato será previamente revisado]
					</span><br>
					<label for="email">Título: </label><input id="email" type="text" placeholder="&nbsp;Introduce un título para tu relato" required>
					<br><br>
					<textarea name="relatos" id="" cols="80" rows="5"></textarea>
					<br>
					<input name="enviar" value="Entrar" type="button">
				</form>
			</section>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block js %}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script>
$reportar = $('.modalDialog_Reportado');
$cerrar = $('.cerrar');
function onClickCerrar(e) {
    e.preventDefault();
    self.$reportar.fadeOut('fast');
 }
$(function(){
	$('#vinculo_reportar').on('click', function(){
		$('.modalDialog_Reportado').show(function(){
			$(this).fadeIn(5000);
		});
		$cerrar.on('click', onClickCerrar)
	});
});

{% if user.username|length > 0 %}
	$('form input[name="enviar"]').on('click',registrar);
	function registrar(e)
	{
		$elemento = $(e.target);
		id= $elemento.parent().attr('id');
		comentario = $('form#'+id+' textarea').val();
		if (comentario!="")
		{
			$.ajax({
				 async:false,
                url:"/comentarios_relatos_ajax/",
                data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'COMENTARIO':comentario},
                type:'POST',
                //dataType:
                success:function(response)
                {
                	if(response!='')
                    {
	            		//$('puntaje_'+id).val('Puntos acumulados: '+response.valoracion);
	            		if(response.respuesta='exito')
	            		{
		            		$('#relato_'+id).append(
		            			'<section class="comments">'+
		            			'<h4>Usuario: {{user.username}} </h4>'+
		            			'<div>'+
		            				comentario+
		            			'</div>'+
		            			'<p id="fechacomentarios">Fecha: '+response.fecha+'</p>'+
		            			'</section>'+
		            			'<br>'
		            			);
		            			$('form#'+id+' textarea').val('');
	            		}
	            		else
	            		{
	            			alert('Ocurrió un error. Favor de verificarlo.');
	            		}

                    }
                    else
                    {
                        alert('No hubo respuesta por parte del servidor.');
                    }
                },
                 error:function(jqXHR, status, error)
                {
                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
                },
            });
		}
		else
		{
			alert('Asegurese de haber introducido un comentario antes de tratarlo de enviar.');
		}
		return false;
	}
	$('.me_gusta').on('click',valorar);
	function valorar(e)
	{
		$elemento = $(e.target);
		id= $elemento.attr('id');
		valor=1
		//$elemento = $(e.target)
		$.ajax({
			 async:false,
            url:"/valorar_relatos_ajax/",
            data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'VALORACION':valor},
            type:'POST',
            //dataType:
            success:function(response)
            {
            	if(response!='')
                {
                	if(response.respuesta=='exito')
                	{
                		$('#puntaje_'+id).html('Puntos acumulados: '+response.valoracion);	
                	}
                	else if (response.respuesta=='noVotar')
                	{
                		alert('No puede votar más de una vez por un comentario.');
                	}
                	else
                	{
						alert('Ocurrió un error interno.');
                	}
                }
                else
                {
                    alert('No hubo respuesta por parte del servidor.');
                }
            },
             error:function(jqXHR, status, error)
            {
                alert(jqXHR.responseText+'\n'+status+'\n'+ error);
            },
        });
		return false;
	}
	$('.no_megusta').on('click',valorar2);
	function valorar2(e)
	{
		$elemento = $(e.target);
		id= $elemento.attr('id');
		valor=-1
		//$elemento = $(e.target)
		$.ajax({
			 async:false,
            url:"/valorar_relatos_ajax/",
            data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'VALORACION':valor},
            type:'POST',
            //dataType:
            success:function(response)
            {
            	if(response!='')
                {
                	if(response.respuesta=='exito')
                	{
                		$('#puntaje_'+id).html('Puntos acumulados: '+response.valoracion);	
                	}
                	else if (response.respuesta=='noVotar')
                	{
                		alert('No puede votar más de una vez por un comentario.');
                	}
                	else
                	{
						alert('Ocurrió un error interno.');
                	}

                }
                else
                {
                    alert('No hubo respuesta por parte del servidor.');
                }
            },
             error:function(jqXHR, status, error)
            {
                alert(jqXHR.responseText+'\n'+status+'\n'+ error);
            },
        });
		return false;
	}
{% endif %}
</script>
{% endblock %}

</body>

</html>