{% extends 'base.html' %}
{% load i18n %}
{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="contenedor_relatos">
		<section class="story">
			<h2>{% trans 'Relatos' %}</h2>
			<ul>
				{% for relato in relatos  %}
				<li id='relato_{{relato.relato.ID}}'>
					<h3 id='{{relato.relato.ID}}'> {{relato.relato.TITULO}}</h3>
					<br>
					<span>{% trans 'Autor'%}:</span>&nbsp; &nbsp;{{relato.relato.USUARIO.username}}
					<br>
					<span>{% trans 'Fecha'%}:</span>&nbsp; &nbsp;{{relato.relato.FECHA}}
					<br>
					<span>{% trans 'Pueblo' %}:</span> &nbsp; &nbsp;{{relato.relato.PUEBLO.NOMBRE}}
					<br>
					<span>{% trans 'Descripción' %}:</span> &nbsp; &nbsp;<p>{{relato.relato.DESCRIPCION}}</p>
					<br><br>
					{% if user.username|length > 0 %}
					<span>{% trans 'Valoración' %}: </span>
					<span class="plus">
						<img id='{{relato.relato.ID}}' class='me_gusta' src="/static/img/heart.png" alt="" title="Me gustó">
					</span>
					<span class="plus">
						<img id='{{relato.relato.ID}}' class='no_megusta' src="/static/img/heart-broken.png" alt="" title="No me gustó">
					</span>
					{% endif %}

					<span aria-hidden="true" class="icon-heart-broken minus"></span>
					&nbsp; &nbsp;<span id='puntaje_{{relato.relato.ID}}'>{% trans 'Puntos acumulados' %}: {{relato.relato.VALORACION}}	</span>

					{% if user.username|length > 0 %}
					<form id='{{relato.relato.ID}}' name="comentario" action="#">
						<textarea rows="4" cols="45" placeholder="Comenta"></textarea>
						<br><br>
							<input name="enviar" value="Comentar" type="button">
					</form>
					{% endif %}

					{% if relato.comentarios|length > 0 %}
						{% for comentario in relato.comentarios %}
							<section class="comments">
								<h4>Usuario: {{comentario.USUARIO.username}} </h4>
								<div><!-- start slipsum code -->
									{{comentario.DESCRIPCION}}
								</div>
								<p id="fechacomentarios">Fecha: {{comentario.FECHA|date:'d/m/Y'}}, a las {{comentario.FECHA|date:'H:i:s'}}</p>
								{% if user.username|length > 0 %}
									{% if comentario.USUARIO.username != user.username %}
									<a id='{{comentario.ID}}' class="vinculo_reportar_r" href="#relatoReportado">{% trans 'Reportar comentario' %}</a>
									{% endif %}
								{% endif %}
							</section>
							<br>
						{% endfor %}
					{% else %}
						<p>{% trans 'No comentarios' %}</p>
					{% endif %}
					
				</li>
				{% endfor %}
			</ul>

		</section>
		<section class="menu_story">
			<h3>{% trans 'Mejores relatos' %}</h3>
			<p>
				{% for rel in mejores  %}
					<br>
					<h4 style='max-width:60%;'>{{rel.TITULO}}</h4>
				{% endfor %}
			</p>
			{% if user.username|length > 0 %}
			<a id="aRelato" href="#relatoNuevo">{% trans 'Escribir relato' %}</a>
			{% endif %}
		</section>
	</section>
	<div id="relatoReportado" class="modalDialog_Reportado">
		<div>
			<a href="#cerrar" title="Close" class="cerrar">X</a>
			<section class="formulario_re">
				<h2>{% trans 'Reportar comentario' %}</h2>
				<form id='form_reporte' action="#">
					<input id='comentario' type='hidden' value=''>
					<input type="radio" name="reporte" value="1">{% trans 'Comentario inapropiado' %} <br>
					<input type="radio" name="reporte" value="2">{% trans 'Contenido vulgar' %} <br>
					<input type="radio" name="reporte" value="3">{% trans 'Comentario ofensivo' %} <br>
					<input type="radio" name="reporte" value="4">{% trans 'Spam' %}<br>
					<input name="enviar" value="Enviar" type="button">
				</form>
			</section>
		</div>
	</div>
	<!-- Sección de relatos -->
	{% if user.username|length > 0 %}
	<div id="relatoNuevo" class="modalDialog_R">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<section class="formulario_r">
				<h2>Escribe tu relato</h2>
				<form action="#">
					<span>Instrucciones:</span><br>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Introduce un título para tu relato' %}</span><br>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'En el recuadro grande comienza a escribir la historia' %} </span><br><br>
					<span id="nota">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{% trans 'Nota: Después de enviar tu relato será previamente revisado' %}]
					</span><br>
					<label for="titulo">{% trans 'Título' %}: </label><input id="titulo" type="text" placeholder="&nbsp;{% trans 'Introduce un título para tu relato ' %}" required maxlength='30'>
					<br><br>
					<label for="titulo">{% trans 'Pueblo' %}: </label>
					<select id='pueblos'>
						<option value='' selected>--------------------------------------------------------------------</option>
						{% if pueblos %}
							{% for pueblo in pueblos %}
								<option value='{{pueblo.NOMBRE}}'>{{pueblo.NOMBRE}}</option>
							{% endfor %}
						{% endif %}
					</select>
					<br><br>
					<label for="relato">{% trans 'Descripción' %}: </label><textarea id='relato' name="relato" cols="80" rows="5" maxlength='2000'></textarea>
					<br>
					<input name="enviar" value=" {% trans 'Entrar' %}" type="button">
				</form>
			</section>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block js %}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script>

{% if user.username|length > 0 %}

//-----------------------------------------------------------------------
$reportar = $('.modalDialog_Reportado');
$cerrar_rep = $('.cerrar');
function cerrar_reporte(e) {
    e.preventDefault();
    self.$reportar.fadeOut('fast');
 }
$(function(){
	$('.vinculo_reportar').on('click', function(e){
		$('.modalDialog_Reportado').show(function(){
			$(this).fadeIn(5000);
		});
		$elemento = $(e.target);
		id=$elemento.attr('id');
		$('#form_reporte #comentario').val(id)
		$cerrar_rep.on('click', cerrar_reporte)
	});
});

//-----------------------------------------------------------------------
$enviar = $('.modalDialog_R');
$cerrar1 = $('.close');
function onClickCerrar(e) {
    e.preventDefault();
    self.$enviar.fadeOut('fast');
 }
$(function(){
	$('#aRelato').on('click', function(e){
		$('.modalDialog_R').show(function(){
			$(this).fadeIn(5000);
		});
		$elemento = $(e.target);
		id=$elemento.attr('id');
		$('#form_reporte #comentario').val(id)
		$cerrar1.on('click', onClickCerrar)
	});
});

//-----------------------------------------------------------------------
	$('form[name="comentario"] input[name="enviar"]').on('click',registrar);
	function registrar(e)
	{
		$elemento = $(e.target);
		id= $elemento.parent().attr('id');
		comentario = $('form#'+id+' textarea').val();
		if (comentario!="")
		{
			$.ajax({
				 async:false,
                url:"{% url 'comentarios_relatos_ajax' %}",
                data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'COMENTARIO':comentario},
                type:'POST',
                //dataType:
                success:function(response)
                {
                	if(response!='')
                    {
	            		//$('puntaje_'+id).val('Puntos acumulados: '+response.valoracion);
	            		if(response.respuesta='exito')
	            		{
		            		$('#relato_'+id).append(
		            			'<section class="comments">'+
		            			'<h4> {% trans "Usuario" %}: {{user.username}} </h4>'+
		            			'<div>'+
		            				comentario+
		            			'</div>'+
		            			'<p id="fechacomentarios">{% trans "Fecha" %}: '+response.fecha+'</p>'+
		            			'</section>'+
		            			'<br>'
		            			);
		            			$('form#'+id+' textarea').val('');
		            			alert('{% trans "Comentario agregado" %}.');
	            		}
	            		else
	            		{
	            			alert('{% trans "Ocurrió un error. Favor de verificarlo" %}.');
	            		}

                    }
                    else
                    {
                        alert('{% trans "No hubo respuesta por parte del servidor" %}.');
                    }
                },
                 error:function(jqXHR, status, error)
                {
                    alert(jqXHR.responseText+'\n'+status+'\n'+ error);
                },
            });
		}
		else
		{
			alert('{% trans "Asegurese de haber introducido un comentario antes de tratarlo de enviar" %}.');
		}
		return false;
	}

//-----------------------------------------------------------------------

	$('.me_gusta').on('click',valorar);
	function valorar(e)
	{
		$elemento = $(e.target);
		id= $elemento.attr('id');
		valor=1
		//$elemento = $(e.target)
		$.ajax({
			 async:false,
            url:"{% url 'valorar_relatos_ajax' %}",
            data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'VALORACION':valor},
            type:'POST',
            //dataType:
            success:function(response)
            {
            	if(response!='')
                {
                	if(response.respuesta=='exito')
                	{
                		$('#puntaje_'+id).html(' {% trans "Puntos acumulados" %}: '+response.valoracion);	
                	}
                	else if (response.respuesta=='noVotar')
                	{
                		alert('{% trans "No puede votar más de una vez por un comentario" %}.');
                	}
                	else
                	{
						alert('{% trans "Ocurrió un error interno" %}.');
                	}
                }
                else
                {
                    alert('{% trans "No hubo respuesta por parte del servidor" %}.');
                }
            },
             error:function(jqXHR, status, error)
            {
                alert(jqXHR.responseText+'\n'+status+'\n'+ error);
            },
        });
		return false;
	}
	$('.no_megusta').on('click',valorar2);
//-----------------------------------------------------------------------
	function valorar2(e)
	{
		$elemento = $(e.target);
		id= $elemento.attr('id');
		valor=-1
		//$elemento = $(e.target)
		$.ajax({
			 async:false,
            url:"{% url 'valorar_relatos_ajax' %}",
            data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'VALORACION':valor},
            type:'POST',
            //dataType:
            success:function(response)
            {
            	if(response!='')
                {
                	if(response.respuesta=='exito')
                	{
                		$('#puntaje_'+id).html('{% trans "Puntos acumulados" %}: '+response.valoracion);	
                	}
                	else if (response.respuesta=='noVotar')
                	{
                		alert('{% trans "No puede votar más de una vez por un comentario" %}.');
                	}
                	else
                	{
						alert('{% trans "Ocurrió un error interno" %}.');
                	}

                }
                else
                {
                    alert('{% trans "No hubo respuesta por parte del servidor" %}.');
                }
            },
             error:function(jqXHR, status, error)
            {
                alert(jqXHR.responseText+'\n'+status+'\n'+ error);
            },
        });
		return false;
	}
//-----------------------------------------------------------------------
	$('#form_reporte input[name="enviar"]').on('click',reporte);
	function reporte(e)
	{
		id=$('#form_reporte #comentario').val()
		razon=$('#form_reporte input[name="reporte"]').val()
		if(razon=="1")
		{
			razon="{% trans 'Comentario inapropiado' %}";
		}
		else if(razon=="2")
		{
			razon="{% trans 'Contenido vulgar' %}";
		}
		else if(razon=="3")
		{
			razon="{% trans 'Comentario ofensivo' %}";
		}
		else if(razon=="4")
		{
			razon="Spam";
		}
		else
		{
			alert('{% trans "Seleccione una opción, por favor" %}.');
			return;
		}

		$.ajax({
			async:false,
            url:"{% url 'reporte_comentarios_ajax' %}",
            data:{csrfmiddlewaretoken:'{{csrf_token}}','ID':id,'RAZON':razon,'TIPO_COMENTARIO':'R'},
            type:'POST',
            //dataType:
            success:function(response)
            {
            	if(response!='')
                {
                	if(response.respuesta=='exito')
                	{
                		alert('{% trans "Reporte enviado" %}.');
                		$cerrar_rep.trigger('click');
                	}
                	else
                	{
						alert('{% trans "Ocurrió un error interno" %}.');
                	}

                }
                else
                {
                    alert('{% trans "No hubo respuesta por parte del servidor" %}.');
                }
            },
             error:function(jqXHR, status, error)
            {
                alert(jqXHR.responseText+'\n'+status+'\n'+ error);
            },
        });
		return false;
	}
//-----------------------------------------------------------------------
	$('#relatoNuevo form input[name="enviar"]').on('click',enviar_relato);
	function enviar_relato(e)
	{
		titulo=$('#relatoNuevo form #titulo').val();
		relato=$('#relatoNuevo form #relato').val();
		pueblo=$('#relatoNuevo #pueblos').val()
		if(titulo=="")
		{
			alert('{% trans "El relato debe tener un titulo" %}.');
			return;
		}
		patt= /^([A-Za-zñÑáéíóúÁÉÍÓÚ0-9]{1,})+((\s{1})[A-Za-zñÑáéíóúÁÉÍÓÚ0-9]{1,})*$/;
		if(!patt.test(titulo))
		{
			alert('{% trans "El titulo sólo puede contener letras y números, con palabras separadas por un espacio" %}.');
			return;
		}

		if(relato=="")
		{
			alert('{% trans "El relato debe tener una descripción" %}.');
			return;
		}
		if(pueblo=="")
		{
			alert('{% trans "Seleccione un pueblo para él que registrará el relato" %}.');
			return;
		}

		$.ajax({
			async:false,
            url:"{% url 'enviar_relatos_ajax' %}",
            data:{csrfmiddlewaretoken:'{{csrf_token}}','TITULO':titulo,'RELATO':relato,'PUEBLO':pueblo},
            type:'POST',
            //dataType:
            success:function(response)
            {
            	if(response!='')
                {
                	if(response.respuesta=='exito')
                	{
                		alert('{% trans "Relato enviado" %}.');
                		$cerrar1.trigger('click');
                	}
                	else
                	{
						alert('{% trans "Ocurrió un error interno" %}.');
                	}

                }
                else
                {
                    alert('{% trans "No hubo respuesta por parte del servidor" %}.');
                }
            },
             error:function(jqXHR, status, error)
            {
                alert(jqXHR.responseText+'\n'+status+'\n'+ error);
            },
        });
		return false;
	}
	$('.mostrar_mas').on('click',mostrar_mas);
	function mostrar_mas(e)
	{
		$elemento=$(e.target);
	}
{% endif %}
</script>
{% endblock %}

</body>

</html>