{% extends 'base.html' %}
{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/seccion.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="secciones">
		<h2>Secciones</h2>
		<section class="sitios_turisticos">
			<h3>Mapa del Sitio</h3>
				<section class="map_tree">
					<ul>
						<li>
							<a href="/">Inicio</a>
						</li>
						<li>
							<a href="/secciones/">Secciones</a>
							<ul>
								<li>
									<a href="/alojamiento/">
										Hoteles
									</a>
								</li>
								<li>
									<a href="/comida/">
										Restaurantes
									</a>
								</li>
								<li>
									<a href="/eventos/">
										Eventos
									</a>
								</li>
								<li>
									<a href="/galerias/">
										Galería
									</a>
								</li>
								<li>
									<a href="/curiosidades/">
										Curiosidades
									</a>
								</li>
								<li>
									<a href="/relatos/">
										Relatos
									</a>
								</li>
								<li>
									<a href="/directorio/">
										Directorio
									</a>
								</li>
								<li>
									<a href="/libreria/">
										Libreria
									</a>
								</li>
								<li>
									<a href="/sitios_turisticos/">
										Sitios Turísticos
									</a>
								</li>
								<li>
									<a href="/mapa/">
										Mapa
									</a>
								</li>
								<li>
									<a href="/multimedia/">
										Multimedia
									</a>
								</li>
								<li>
									<a href="/libros/">
										Descargas
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/pueblos/">
								Pueblos
							</a>
						</li>
						<li>
							<a href="/galerias/">
								Galerías
							</a>
						</li>
						<li>
							<a href="/">
								Novedades
							</a>
							<ul>
								<li>
									<a href="/bcs-desconocida/">
										BCS Desconocida
									</a>
								</li>
								<li>
									<a href="/descubra-bcs/">
										Descubra BCS
									</a>
								</li>
								<li>
									<a href="/mas-visto/">
										Pueblo más visto
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</section>
				<br><br>
			<span>
				<a href="/sitios_turisticos/">
					Visita nuestra sección de Sitios Turísticos, da click <span>aquí</span>
				</a>
			</span>
			<section class="hoteles">
				<h4>Hoteles</h4>
				<ul>
					<li>Hoteles ★★★★</li>
					<li>Hoteles ★★★</li>
					<li>Hoteles ★★★</li>
					<li>Hostal</li>
					<li>B &amp; B [Bed and breakfast]</li>
				</ul>
				<a class="entrar" href="/alojamiento/">Visitar sección</a>
			</section>
			<section class="seccion_restaurantes">
				<h4>Restaurantes</h4>
				<ul>
					<li>Comida sudcaliforniana</li>
					<li>¿A dónde voy a comer?</li>
				</ul>
				<a class="entrar" href="/comida/">Visitar sección</a>
			</section>
			<section class="seccion_pueblos">
				<h4>Pueblos Fundacionales</h4>
				<ul>
					<li>Historia</li>
					<li>Pueblos y tradiciones</li>
					<li>Misiones</li>
					<li>Museos</li>
					<li>Galerías de Artes</li>
				</ul>
				<a class="entrar" href="/pueblos/">Visitar sección</a>
			</section>
			<section class="seccion_eventos">
				<h4>Eventos</h4>
				<ul>
					<li>Pueblos Fundacionales</li>
					<li>Arte</li>
				</ul>
				<a class="entrar" href="/eventos/">Visitar sección</a>
			</section>
			<section class="seccion_centros">
				<h4>Galerías</h4>
				<ul>
					<li>Pueblos Sudcalifornianos</li>
					<li>Fotografías históricas</li>
					<li>Fotografías actuales</li>
				</ul>
					<a class="entrar" href="/curiosidades/">Visitar sección</a>
			</section>
			<section class="seccion_curiosidades">
				<h4>Curiosidades</h4>
				<ul>
					<li>¿Sabías que... ?</li>
					<li>Flora</li>
					<li>Fauna</li>
				</ul>
				<a class="entrar" href="/curiosidades/">Visitar sección</a>
			</section>
			<section class="seccion_catalogo">
				<h4>Catálogo digital</h4>
				<ul>
					<li>Libros históricos</li>
					<li>Libros sobre los Pueblos</li>
				</ul>
				<a class="entrar" href="/libreria/">Visitar sección</a>
			</section>
			<section class="seccion_catalogo">
				<h4>Directorio Telefónico</h4>
				<ul>
					<li>Emergencias</li>
					<li>Cruz Roja</li>
				</ul>
				<a class="entrar" href="/libreria/">Visitar sección</a>
			</section>
		</section>
		<section class="menu_turistico">
			<article class="visitabcs">
				<img src="/static/img/turismo.jpg" alt="">
				<p></p>
				<h4>
					<a href="/libros/">
						Visita
					</a>
				</h4>	
				<p>¿Quieres visitar alguno de los Pueblos? Entra aquí y entérate de algunos consejos </p>	
			</article>
			<article class="guias_turisticas">
				<img src="/static/img/turismo.jpg" alt="">
				<p></p>
				<h4>
					<a href="/libros/">
						Guías turísticas
					</a>
				</h4>	
				<p>Ven y visualiza alguna guía turística, mapa o rutas qué seguir</p>
			</article>
		</section>
	</section>
	<section class="menu_secciones">
		<section class="seccion_sugerencias">
			<h3>Sugerencias</h3>
			{% for sitio in sitios %}
			<article>
				<img src="/uploads/{{sitio.IMAGEN}}" alt="">
				<div>
					<h4>{{sitio.NOMBRE}}</h4>
					<p>{{sitio.DESCRIPCION}}</p>
				</div>
			</article>
			{% endfor %}
			<section class="suscribete_redes">
				<h3>Suscríbete</h3>
				<form action="#">
					<input type="text" placeholder="&nbsp;Introduce tu email">
					<br><br>
					<input name="enviar" value="Enviar" type="button">
				</form>
			</section>
		</section>
	</section>
{% endblock %}

{% block js%}
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% endblock %}