{% extends 'base.html' %}
{% load i18n %}
{%  block css %}
	<link rel="author" type="text/plain" href="/templates/humans.txt">
	<!-- Normalize -->
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/estilos.css">
	<!-- Hoja de Estilos -->
	<link rel="stylesheet" href="/static/css/seccion.css">
	<!-- Hoja de Responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Slider superior Camera -->
	<link rel='stylesheet' id='camera-css' href='/static/css/camera.css' media='all'> 
{% endblock %}

{% block contenedor %}
	<section class="secciones">
		<h2>{% trans 'Secciones' %}</h2>
		<section class="sitios_turisticos">
			<h3>{% trans 'Mapa del sitio' context "Site Map" %}</h3>
				<section class="map_tree">
					<ul>
						<li>
							<a href="{% url 'home' %}">{% trans 'Inicio' %}</a>
						</li>
						<li>
							<a href="/secciones/">{% trans 'Secciones' %}</a>
							<ul>
								<li>
									<a href="{% url 'alojamiento' %}">
										{% trans 'Hoteles' context "Hotels" %}
									</a>
								</li>
								<li>
									<a href="{% url 'comida' %}">
										{% trans 'Restaurantes' context "Restaurants" %}
									</a>
								</li>
								<li>
									<a href="{% url 'eventos' %}">
										{% trans 'Eventos' %}
									</a>
								</li>
								<li>
									<a href="{% url 'galerias' %}">
										{% trans 'Galería' context "Gallery" %}
									</a>
								</li>
								<li>
									<a href="{% url 'curiosidades' %}">
										{% trans 'Curiosidades' context "Curiosities" %}
									</a>
								</li>
								<li>
									<a href="{% url 'relatos' %}">
										{% trans 'Relatos' %}
									</a>
								</li>
								<li>
									<a href="{% url 'dir' %}">
										{% trans 'Directorio' context "Directory" %}
									</a>
								</li>
								<li>
									<a href="{% url 'libreria' %}">
										{% trans 'Librería' context "Library" %}
									</a>
								</li>
								<li>
									<a href="{% url 'sitios_turisticos' %}">
										{% trans 'Sitios Turísticos' context "Tourist Sites" %}
									</a>
								</li>
								<li>
									<a href="{% url 'mapa' %}">
										{% trans 'Mapa' %}
									</a>
								</li>
								<li>
									<a href="{% url 'multimedia' %}">
										{% trans 'Multimedia' %}
									</a>
								</li>
								<li>
									<a href="{% url 'libros' %}">
										{% trans 'Descargas' context "Downloads" %}
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="{% url 'pueblos' %}">
								{% trans 'Pueblos' %}
							</a>
						</li>
						<li>
							<a href="{% url 'galerias' %}">
								{% trans 'Galerías' %}
							</a>
						</li>
						<li>
							<a href="{% url 'home' %}">
								{% trans 'Novedades' %}
							</a>
							<ul>
								<li>
									<a href="{% url 'bcsdesconocida' %}">
										{% trans 'BCS Desconocida' %}
									</a>
								</li>
								<li>
									<a href="{% url 'descubrabcs' %}">
										{% trans 'Descubra BCS' %}
									</a>
								</li>
								<li>
									<a href="{% url 'masvisto' %}">
										{% trans 'Pueblo más visto' context "Town most viewed" %}
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</section>

				<br><br>
			<span>
				<a href="{% url 'sitios_turisticos' %}">
					{% trans 'Visita nuestra sección de Sitios Turísticos, da click' %} <span>{% trans 'aquí' %}</span>
				</a>
			</span>
			<section class="hoteles">
				<h4>{% trans 'Hoteles' %}</h4>
				<ul>
					<li>{% trans 'Hoteles' %} ★★★★</li>
					<li>{% trans 'Hoteles' %} ★★★</li>
					<li>{% trans 'Hoteles' %} ★★</li>
					<li>Hostal</li>
					<li>B &amp; B [Bed and breakfast]</li>
				</ul>
				<a class="entrar" href="{% url 'alojamiento' %}">{% trans 'Visitar sección' %}</a>
			</section>
			<section class="seccion_restaurantes">
				<h4>{% trans 'Restaurantes' %}</h4>
				<ul>
					<li>{% trans 'Comida sudcaliforniana' context "BCS Food" %}</li>
					<li>{% trans '¿A dónde voy a comer?' %}</li>
				</ul>
				<a class="entrar" href="{% url 'comida' %}">{% trans 'Visitar sección' %}</a>
			</section>
			<section class="seccion_pueblos">
				<h4>{% trans 'Pueblos Fundacionales' %}</h4>
				<ul>
					<li>{% trans 'Historia' %}</li>
					<li>{% trans 'Pueblos y tradiciones' %}</li>
					<li>{% trans 'Misiones' %}</li>
					<li>{% trans 'Museos' %}</li>
					<li>{% trans 'Galerías de Artes' %}</li>
				</ul>
				<a class="entrar" href="{% url 'pueblos' %}">{% trans 'Visitar sección' %}</a>
			</section>
			<section class="seccion_eventos">
				<h4>{% trans 'Eventos' %}</h4>
				<ul>
					<li>{% trans 'Pueblos Fundacionales' %}</li>
					<li>{% trans 'Arte' %}</li>
				</ul>
				<a class="entrar" href="{% url 'eventos' %}">{% trans 'Visitar sección' %}</a>
			</section>
			<section class="seccion_centros">
				<h4>{% trans 'Galerías' %}</h4>
				<ul>
					<li>{% trans 'Pueblos Sudcalifornianos' context "BCS Towns" %}</li>
					<li>{% trans 'Fotografías históricas' %}</li>
					<li>{% trans 'Fotografías actuales' %}</li>
				</ul>
					<a class="entrar" href="{% url 'galerias' %}">{% trans 'Visitar sección' %}</a>
			</section>
			<section class="seccion_curiosidades">
				<h4>{% trans 'Curiosidades' %}</h4>
				<ul>
					<li>{% trans '¿Sabías que... ?' %}</li>
					<li>{% trans 'Flora' %}</li>
					<li>{% trans 'Fauna' %}</li>
				</ul>
				<a class="entrar" href="{% url 'curiosidades' %}">{% trans 'Visitar sección' %}</a>
			</section>
			<section class="seccion_catalogo">
				<h4>{% trans 'Catálogo digital' %}</h4>
				<ul>
					<li>{% trans 'Libros históricos' %}</li>
					<li>{% trans 'Libros sobre los Pueblos' %}</li>
				</ul>
				<a class="entrar" href="{% url 'libreria' %}">{% trans 'Visitar sección' %}</a>
			</section>
			<section class="seccion_catalogo">
				<h4>{% trans 'Directorio Telefónico' %}</h4>
				<ul>
					<li>{% trans 'Emergencias' %}</li>
					<li>{% trans 'Cruz Roja' %}</li>
				</ul>
				<a href="{% url 'dir' %}">
					{% trans 'Directorio' context "Directory" %}
				</a>
			</section>
		</section>
		<section class="menu_turistico">
			<article class="visitabcs">
				<img src="/static/img/turismo.jpg" alt="">
				<p></p>
				<h4>
					<a href="{% url 'libros' %}">
						{% trans 'Visita' %}
					</a>
				</h4>	
				<p>{% trans '¿Quieres visitar alguno de los Pueblos? Entra aquí y entérate de algunos consejos' %} </p>	
			</article>
			<article class="guias_turisticas">
				<img src="/static/img/turismo.jpg" alt="">
				<p></p>
				<h4>
					<a href="{% url 'libros' %}">
						{% trans 'Guías turísticas' %}
					</a>
				</h4>	
				<p>{% trans 'Ven y visualiza alguna guía turística, mapa o rutas qué seguir' %}</p>
			</article>
		</section>
	</section>
	<section class="menu_secciones">
		<section class="seccion_sugerencias">
			<h3>{% trans 'Sugerencias' %}</h3>
			{% for sitio in sitios %}
			<article>
				<img src="/uploads/{{sitio.IMAGEN}}" alt="">
				<div>
					<h4>{{sitio.NOMBRE}}</h4>
					<p>{{sitio.DESCRIPCION}}</a></p>
					<p><a href='{% url "sitios_turisticos" %}'>Ver sitio</a></p>
				</div>
			</article>
			{% endfor %}
			<!--section class="suscribete_redes">
				<h3>Suscríbete</h3>
				<form action="#">
					<input type="text" placeholder="&nbsp;Introduce tu email">
					<br><br>
					<input name="enviar" value="Enviar" type="button">
				</form>
			</section-->
		</section>
	</section>
{% endblock %}

{% block js%}
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% endblock %}