<h2>Libros digitales</h2>
<div id="book">
	<div id="flipbook">
		<div class="portada">
			<img src="/static/img/Portada.png" alt="">
		</div>
		<div class="contraportada">
			<h4>Agradecimientos:</h4> 
			<p>
				<br>
				La presente información ha sido proporcionada por la organización ViveCadegomó de La Purísima, B.C.S.
				Más específicamente la maestra: <strong>María Jesús Peralta Higuera</strong> y el maestro <strong>Pedro Rodolfo Gonzáles Hirales</strong> quienes siempre estuvieron pendientes de la realización de este proyecto.
			</p>
		</div>
		<div id="pag-1">
			<p>
				En el año de 1712, el misionero <strong>Francisco María Píccolo</strong> viajó desde la misión de <strong>Santa Rosalía de Mulegé</strong> debido a la insistente invitación que le hacían los aborígenes Cadegomeños; la travesía se realizó siguiendo el curso del arroyo de Guajademí y La Purísima Vieja. <br>Fue hasta el año 1717, cuando se pudo enviar a un padre misionero al lugar, gracias al financiamiento del Marqués de Villapuente de la Peña con la encomienda de construir una misión que diera servicio espiritual y civilizador a la región. 
			</p>
			<div><a href="#">1</a></div>
		</div>
		<div id="pag-2">
			<p>
				Recayó en el padre Javier Nicolás Tamaral, la labor de edificar la nueva misión. Inició la construcción de caminos que unieran a la naciente misión con las misiones de Santa Rosalía de Mulegé y San José de Comondú.<br><br>
				La misión fue fundada el 1° de Enero de 1720. El sitio permanente de la misión fue establecido el 13 de Septiembre 1722. El padre Tamaral introdujo cultivos de trigo, maíz, frijol, garbanzo, granado, higuera, vid, olivo y algodón por medio de canales de riego construidos en el arroyo.
				<br><br>
				<img src="/static/img/mision.png" alt="">
			</p>
			<div><a href="#">2</a></div>
		</div>
		<div id="pag-3"> 
			<p>
				La imagen muestra las ruinas de la Misión de La Purísima Concepción de María Cadegomó. Fotografía tomada en los años 20s. <br><br>
				Sirvieron como padres ministros residentes, los padres: Nicolás Tamaral, Segismundo Taraval, Jacobo Druet, Johann Bischoff, Juan Crespí, Fray Juan Ignacio Gastón, Fray Francisco Echasco, Fray Martín Palacios, Fray Antonio Sánchez. <br><br>
				La población indígena fue calculada en 2000 almas en 1730, sin embargo las epidemias causaron grandes pérdidas en la población.

			</p>
			<div><a href="#">3</a></div>
		</div>
		<div id="pag-4"> 
			<p>
				Con referencia a la situación geográfica de la misión, narra el Padre Tamaral en su informe, al visitador general de las misiones de la Nueva España:
 				<br><br>
 				“La Misión de La Purísima Concepción de Cadegomó, colinda al Norueste con la misión de Guadalupe; al Norte con la misión de Santa Rosalía Mulegé; por el nordeste con el golfo de California en la bahía de La Purísima Concepción; al Deste o levante con la misión de San José de Comondú, al lessueste con la misión de San Javier Hasta el mar océano; y al poniente con las costas del océano. Las rancherías de esta misión son treinta y dos, en cuatro cordilleras, unas en el fondo de arroyos y barrancas, otras en las mesas y altos de las sierras y otras en las costas del océano del sur.”
			</p>
			<div><a href="#">4</a></div>
		</div>
		<div id="pag-5">
			<p>
				La misión de La Purísima de Cadegomó llegó a ser una de las más prósperas, como lo muestra el diario de FRAY JUNÍPERO SERRA en su viaje de Loreto a San Diego 1769. Al llegar a la misión de Santa Gertrudis, encontró al padre ministro de ella en una profunda tristeza, por la falta de alimentos para sus indios; proponiéndole que doscientas familias pasasen a la misión de La Purísima de Cadegomó, donde había de sobra bastimentos, tierra y agua con que sembrar para todas en común y en particular y sobre todo asegurado su alimento tres veces al día y su competente vestuario. <br><br>
				La Purísima de Cadegomó forma parte de esas preciadas esmeraldas que forman los pueblos fundacionales.
			</p>
			<div><a href="#">5</a></div>
		</div>
		<div id="pag-6">
			<p>
				Aunque lamentablemente no contamos con el templo de la misión, si existen vestigios rescatables como son: parte del panteón contiguo a lo que fuera el templo, una casa que corresponde a los anexos, cercos de piedra que los indígenas usaban como aposentos para dormir cerca de la misión protegidos pero en espacios abiertos. En la iglesia actual, se encuentra una imagen de la asunción de María original de la misión y un nicho que es una réplica a escala de la fachada de la antigua misión. Testimonios palpables de nuestro pasado que son visitados por personas estudiosas de la Historia que quieren sentir el trasladarse a esos tiempos y lugares de tanto interés.
			</p>
			<div><a href="#">6</a></div>
		</div>
		<div id="pag-7">
			<h4>Descripción geográfica.</h4>
			<p>				
				La Comunidad de La Purísima, situada al norte del Municipio de Comondú, entre los 26°39’00’’ y25°48’36’’ Latitud Norte y los 112°27’00’’111°35’00’’ Longitud Oeste. La temperatura media anual oscila entre los 18 a 24°C. Registra una precipitación total anual de 200 mm. Con una población al censo INEGI 2010, de 433 habitantes. <br><br>
				En la cuenca del arroyo La Purísima se puede apreciar  paisajes majestuosos, propios de los oasis. Los cuerpos de agua que se encuentran a lo largo del arroyo, forman un ecosistema que propicia una gran riqueza biológica. Es una excelente zona de avistamiento de aves migratorias y locales. Además, existen diversas especies acuáticas motivo de múltiples investigaciones.     
			</p>
			<div><a href="#">7</a></div>
		</div>
		<div id="pag-u">
			<h4>Pueblos Fundacionales de la Zona Norte de Baja California Sur</p>
		</div>
	</div>
<script>
	$("#flipbook").turn({
		width: 600,
		height: 480,
		autoCenter: true
	});
</script>
</div>
